:root {


    /* ——————————————————————————————————————— COLORS ——————————————————————————————————————— */


    --black: #000000;
    --night: #0C090A;
    --charcoal: #34282C;
    --oil: #3B3131;
    --dark-gray: #3A3B3C;
    --light-black: #454545;
    --black-cat: #413839;
    --iridium: #3D3C3A;
    --black-eel: #463E3F;
    --black-cow: #4C4646;
    --gray-wolf: #504A4B;
    --vampire-gray: #565051;
    --iron-gray: #52595D;
    --gray-dolphin: #5C5858;
    --carbon-gray: #625D5D;
    --ash-gray: #666362;
    --dimgrey: #696969;
    --nardo-gray: #686A6C;
    --cloudy-gray: #6D6968;
    --smokey-gray: #726E6D;
    --alien-gray: #736F6E;
    --sonic-silver: #757575;
    --platinum-gray: #797979;
    --granite: #837E7C;
    --grey: #808080;
    --battleship-gray: #848482;
    --gunmetal-gray: #8D918D;
    --darkgrey: #A9A9A9;
    --cloud-white: #FDF6E3;
    --gray-cloud: #B6B6B4;
    --silver: #C0C0C0;
    --pale-silver: #C9C0BB;
    --gray-goose: #D1D0CE;
    --platinum-silver: #CECECE;
    --lightgrey: #D3D3D3;
    --silver-white: #DADBDD;
    --gainsboro: #DCDCDC;
    --platinum: #E5E4E2;
    --metallic-silver: #BCC6CC;
    --blue-gray: #98AFC7;
    --roman-silver: #838996;
    --lightslategrey: #778899;
    --slategrey: #708090;
    --rat-gray: #6D7B8D;
    --slate-granite-gray: #657383;
    --jet-gray: #616D7E;
    --mist-blue: #646D7E;
    --marble-blue: #566D7E;
    --slate-blue-grey: #737CA1;
    --light-purple-blue: #728FCE;
    --azure-blue: #4863A0;
    --blue-jay: #2B547E;
    --charcoal-blue: #36454F;
    --dark-blue-grey: #29465B;
    --dark-slate: #2B3856;
    --deep-sea-blue: #123456;
    --night-blue: #151B54;
    --midnightblue: #191970;
    --navy: #000080;
    --denim-dark-blue: #151B8D;
    --darkblue: #00008B;
    --lapis-blue: #15317E;
    --new-midnight-blue: #0000A0;
    --earth-blue: #0000A5;
    --cobalt-blue: #0020C2;
    --mediumblue: #0000CD;
    --blueberry-blue: #0041C2;
    --canary-blue: #2916F5;
    --blue: #0000FF;
    --samco-blue: #0002FF;
    --bright-blue: #0909FF;
    --blue-orchid: #1F45FC;
    --sapphire-blue: #2554C7;
    --blue-eyes: #1569C7;
    --bright-navy-blue: #1974D2;
    --balloon-blue: #2B60DE;
    --royalblue: #4169E1;
    --ocean-blue: #2B65EC;
    --blue-ribbon: #306EFF;
    --blue-dress: #157DEC;
    --neon-blue: #1589FF;
    --dodgerblue: #1E90FF;
    --glacial-blue-ice: #368BC1;
    --steelblue: #4682B4;
    --silk-blue: #488AC7;
    --windows-blue: #357EC7;
    --blue-ivy: #3090C7;
    --blue-koi: #659EC7;
    --columbia-blue: #87AFC7;
    --baby-blue: #95B9C7;
    --cornflowerblue: #6495ED;
    --sky-blue-dress: #6698FF;
    --iceberg: #56A5EC;
    --butterfly-blue: #38ACEC;
    --deepskyblue: #00BFFF;
    --midday-blue: #3BB9FF;
    --crystal-blue: #5CB3FF;
    --denim-blue: #79BAEC;
    --day-sky-blue: #82CAFF;
    --lightskyblue: #87CEFA;
    --skyblue: #87CEEB;
    --jeans-blue: #A0CFEC;
    --blue-angel: #B7CEEC;
    --pastel-blue: #B4CFEC;
    --light-day-blue: #ADDFFF;
    --sea-blue: #C2DFFF;
    --heavenly-blue: #C6DEFF;
    --robin-egg-blue: #BDEDFF;
    --powderblue: #B0E0E6;
    --coral-blue: #AFDCEC;
    --lightblue: #ADD8E6;
    --lightsteelblue: #B0CFDE;
    --gulf-blue: #C9DFEC;
    --pastel-light-blue: #D5D6EA;
    --lavender-blue: #E3E4FA;
    --white-blue: #DBE9FA;
    --lavender: #E6E6FA;
    --water: #EBF4FA;
    --aliceblue: #F0F8FF;
    --ghostwhite: #F8F8FF;
    --azure: #F0FFFF;
    --lightcyan: #E0FFFF;
    --light-slate: #CCFFFF;
    --electric-blue: #9AFEFF;
    --tron-blue: #7DFDFE;
    --blue-zircon: #57FEFF;
    --cyan: #00FFFF;
    --bright-cyan: #0AFFFF;
    --celeste: #50EBEC;
    --blue-diamond: #4EE2EC;
    --bright-turquoise: #16E2F5;
    --blue-lagoon: #8EEBEC;
    --paleturquoise: #AFEEEE;
    --pale-blue-lily: #CFECEC;
    --light-teal: #B3D9D9;
    --tiffany-blue: #81D8D0;
    --blue-hosta: #77BFC7;
    --cyan-opaque: #92C7C7;
    --northern-lights-blue: #78C7C7;
    --blue-green: #7BCCB5;
    --mediumaquamarine: #66CDAA;
    --magic-mint: #AAF0D1;
    --light-aquamarine: #93FFE8;
    --aquamarine: #7FFFD4;
    --bright-teal: #01F9C6;
    --turquoise: #40E0D0;
    --mediumturquoise: #48D1CC;
    --deep-turquoise: #48CCCD;
    --jellyfish: #46C7C7;
    --blue-turquoise: #43C6DB;
    --darkturquoise: #00CED1;
    --macaw-blue-green: #43BFC7;
    --lightseagreen: #20B2AA;
    --seafoam-green: #3EA99F;
    --cadetblue: #5F9EA0;
    --deep-sea: #3B9C9C;
    --darkcyan: #008B8B;
    --teal-green: #00827F;
    --teal: #008080;
    --teal-blue: #007C80;
    --medium-teal: #045F5F;
    --dark-teal: #045D5D;
    --deep-teal: #033E3E;
    --darkslategrey: #25383C;
    --gunmetal: #2C3539;
    --blue-moss-green: #3C565B;
    --beetle-green: #4C787E;
    --grayish-turquoise: #5E7D7E;
    --greenish-blue: #307D7E;
    --aquamarine-stone: #348781;
    --sea-turtle-green: #438D80;
    --dull-sea-green: #4E8975;
    --dark-green-blue: #1F6357;
    --deep-sea-green: #306754;
    --bottle-green: #006A4E;
    --seagreen: #2E8B57;
    --elf-green: #1B8A6B;
    --dark-mint: #31906E;
    --jade: #00A36C;
    --earth-green: #34A56F;
    --chrome-green: #1AA260;
    --emerald: #50C878;
    --mint: #3EB489;
    --mediumseagreen: #3CB371;
    --metallic-green: #7C9D8E;
    --camouflage-green: #78866B;
    --sage-green: #848B79;
    --hazel-green: #617C58;
    --venom-green: #728C00;
    --olivedrab: #6B8E23;
    --olive: #808000;
    --darkolivegreen: #556B2F;
    --military-green: #4E5B31;
    --green-leaves: #3A5F0B;
    --army-green: #4B5320;
    --fern-green: #667C26;
    --fall-forest-green: #4E9258;
    --irish-green: #08A04B;
    --pine-green: #387C44;
    --medium-forest-green: #347235;
    --jungle-green: #347C2C;
    --cactus-green: #227442;
    --forestgreen: #228B22;
    --green: #008000;
    --marsh: #203730;
    --darkgreen: #006400;
    --deep-green: #056608;
    --deep-emerald-green: #046307;
    --hunter-green: #355E3B;
    --dark-forest-green: #254117;
    --lotus-green: #004225;
    --seaweed-green: #437C17;
    --shamrock-green: #347C17;
    --green-onion: #6AA121;
    --moss-green: #8A9A5B;
    --grass-green: #3F9B0B;
    --green-pepper: #4AA02C;
    --dark-lime-green: #41A317;
    --parrot-green: #12AD2B;
    --clover-green: #3EA055;
    --dinosaur-green: #73A16C;
    --green-snake: #6CBB3C;
    --alien-green: #6CC417;
    --green-apple: #4CC417;
    --limegreen: #32CD32;
    --pea-green: #52D017;
    --kelly-green: #4CC552;
    --zombie-green: #54C571;
    --green-peas: #89C35C;
    --dollar-bill-green: #85BB65;
    --frog-green: #99C68E;
    --turquoise-green: #A0D6B4;
    --darkseagreen: #8FBC8F;
    --basil-green: #829F82;
    --gray-green: #A2AD9C;
    --iguana-green: #9CB071;
    --citron-green: #8FB31D;
    --acid-green: #B0BF1A;
    --avocado-green: #B2C248;
    --pistachio-green: #9DC209;
    --salad-green: #A1C935;
    --yellowgreen: #9ACD32;
    --pastel-green: #77DD77;
    --hummingbird-green: #7FE817;
    --nebula-green: #59E817;
    --stoplight-go-green: #57E964;
    --neon-green: #16F529;
    --jade-green: #5EFB6E;
    --lime-mint-green: #36F57F;
    --springgreen: #00FF7F;
    --mediumspringgreen: #00FA9A;
    --emerald-green: #5FFB17;
    --lime: #00FF00;
    --lawngreen: #7CFC00;
    --bright-green: #66FF00;
    --chartreuse: #7FFF00;
    --yellow-lawn-green: #87F717;
    --aloe-vera-green: #98F516;
    --dull-green-yellow: #B1FB17;
    --lemon-green: #ADF802;
    --greenyellow: #ADFF2F;
    --chameleon-green: #BDF516;
    --neon-yellow-green: #DAEE01;
    --yellow-green-grosbeak: #E2F516;
    --tea-green: #CCFB5D;
    --slime-green: #BCE954;
    --algae-green: #64E986;
    --lightgreen: #90EE90;
    --dragon-green: #6AFB92;
    --palegreen: #98FB98;
    --mint-green: #98FF98;
    --green-thumb: #B5EAAA;
    --organic-brown: #E3F9A6;
    --light-jade: #C3FDB8;
    --light-mint-green: #C2E5D3;
    --light-rose-green: #DBF9DB;
    --chrome-white: #E8F1D4;
    --honeydew: #F0FFF0;
    --mintcream: #F5FFFA;
    --lemonchiffon: #FFFACD;
    --parchment: #FFFFC2;
    --cream: #FFFFCC;
    --cream-white: #FFFDD0;
    --lightgoldenrodyellow: #FAFAD2;
    --lightyellow: #FFFFE0;
    --beige: #F5F5DC;
    --cornsilk: #FFF8DC;
    --blonde: #FBF6D9;
    --champagne: #F7E7CE;
    --antiquewhite: #FAEBD7;
    --papayawhip: #FFEFD5;
    --blanchedalmond: #FFEBCD;
    --bisque: #FFE4C4;
    --wheat: #F5DEB3;
    --moccasin: #FFE4B5;
    --peach: #FFE5B4;
    --light-orange: #FED8B1;
    --peachpuff: #FFDAB9;
    --coral-peach: #FBD5AB;
    --navajowhite: #FFDEAD;
    --golden-blonde: #FBE7A1;
    --golden-silk: #F3E3C3;
    --dark-blonde: #F0E2B6;
    --light-gold: #F1E5AC;
    --vanilla: #F3E5AB;
    --tan-brown: #ECE5B6;
    --dirty-white: #E8E4C9;
    --palegoldenrod: #EEE8AA;
    --khaki: #F0E68C;
    --cardboard-brown: #EDDA74;
    --harvest-gold: #EDE275;
    --sun-yellow: #FFE87C;
    --corn-yellow: #FFF380;
    --pastel-yellow: #FAF884;
    --neon-yellow: #FFFF33;
    --yellow: #FFFF00;
    --canary-yellow: #FFEF00;
    --banana-yellow: #F5E216;
    --mustard-yellow: #FFDB58;
    --golden-yellow: #FFDF00;
    --bold-yellow: #F9DB24;
    --rubber-ducky-yellow: #FFD801;
    --gold: #FFD700;
    --bright-gold: #FDD017;
    --chrome-gold: #FFCE44;
    --golden-brown: #EAC117;
    --deep-yellow: #F6BE00;
    --macaroni-and-cheese: #F2BB66;
    --saffron: #FBB917;
    --neon-gold: #FDBD01;
    --beer: #FBB117;
    --orange-yellow: #FFAE42;
    --cantaloupe: #FFA62F;
    --cheese-orange: #FFA600;
    --orange: #FFA500;
    --brown-sand: #EE9A4D;
    --sandybrown: #F4A460;
    --brown-sugar: #E2A76F;
    --camel-brown: #C19A6B;
    --deer-brown: #E6BF83;
    --burlywood: #DEB887;
    --tan: #D2B48C;
    --light-french-beige: #C8AD7F;
    --sand: #C2B280;
    --sage: #BCB88A;
    --fall-leaf-brown: #C8B560;
    --ginger-brown: #C9BE62;
    --bronze-gold: #C9AE5D;
    --darkkhaki: #BDB76B;
    --olive-green: #BAB86C;
    --brass: #B5A642;
    --cookie-brown: #C7A317;
    --metallic-gold: #D4AF37;
    --bee-yellow: #E9AB17;
    --school-bus-yellow: #E8A317;
    --goldenrod: #DAA520;
    --orange-gold: #D4A017;
    --caramel: #C68E17;
    --darkgoldenrod: #B8860B;
    --cinnamon: #C58917;
    --peru: #CD853F;
    --bronze: #CD7F32;
    --tiger-orange: #C88141;
    --copper: #B87333;
    --dark-gold: #AA6C39;
    --metallic-bronze: #A97142;
    --dark-almond: #AB784E;
    --wood: #966F33;
    --oak-brown: #806517;
    --antique-bronze: #665D1E;
    --hazel: #8E7618;
    --dark-yellow: #8B8000;
    --dark-moccasin: #827839;
    --khaki-green: #8A865D;
    --millennium-jade: #93917C;
    --dark-beige: #9F8C76;
    --bullet-shell: #AF9B60;
    --army-brown: #827B60;
    --sandstone: #786D5F;
    --taupe: #483C32;
    --mocha: #493D26;
    --milk-chocolate: #513B1C;
    --gray-brown: #3D3635;
    --dark-coffee: #3B2F2F;
    --old-burgundy: #43302E;
    --western-charcoal: #49413F;
    --bakers-brown: #5C3317;
    --dark-brown: #654321;
    --sepia-brown: #704214;
    --dark-bronze: #804A00;
    --coffee: #6F4E37;
    --brown-bear: #835C3B;
    --red-dirt: #7F5217;
    --sepia: #7F462C;
    --sienna: #A0522D;
    --saddlebrown: #8B4513;
    --dark-sienna: #8A4117;
    --sangria: #7E3817;
    --blood-red: #7E3517;
    --chestnut: #954535;
    --coral-brown: #9E4638;
    --chestnut-red: #C34A2C;
    --mahogany: #C04000;
    --red-gold: #EB5406;
    --red-fox: #C35817;
    --dark-bisque: #B86500;
    --light-brown: #B5651D;
    --petra-gold: #B76734;
    --rust: #C36241;
    --copper-red: #CB6D51;
    --orange-salmon: #C47451;
    --chocolate: #D2691E;
    --sedona: #CC6600;
    --papaya-orange: #E56717;
    --halloween-orange: #E66C2C;
    --neon-orange: #FF6700;
    --bright-orange: #FF5F1F;
    --pumpkin-orange: #F87217;
    --carrot-orange: #F88017;
    --darkorange: #FF8C00;
    --construction-cone-orange: #F87431;
    --indian-saffron: #FF7722;
    --sunrise-orange: #E67451;
    --mango-orange: #FF8040;
    --coral: #FF7F50;
    --basket-ball-orange: #F88158;
    --light-salmon-rose: #F9966B;
    --lightsalmon: #FFA07A;
    --darksalmon: #E9967A;
    --tangerine: #E78A61;
    --light-copper: #DA8A67;
    --salmon-pink: #FF8674;
    --salmon: #FA8072;
    --peach-pink: #F98B88;
    --lightcoral: #F08080;
    --pastel-red: #F67280;
    --pink-coral: #E77471;
    --bean-red: #F75D59;
    --valentine-red: #E55451;
    --indianred: #CD5C5C;
    --tomato: #FF6347;
    --shocking-orange: #E55B3C;
    --orangered: #FF4500;
    --red: #FF0000;
    --neon-red: #FD1C03;
    --scarlet-red: #FF2400;
    --ruby-red: #F62217;
    --ferrari-red: #F70D1A;
    --fire-engine-red: #F62817;
    --lava-red: #E42217;
    --love-red: #E41B17;
    --grapefruit: #DC381F;
    --cherry-red: #C24641;
    --chilli-pepper: #C11B17;
    --firebrick: #B22222;
    --tomato-sauce-red: #B21807;
    --brown: #A52A2A;
    --carbon-red: #A70D2A;
    --cranberry: #9F000F;
    --saffron-red: #931314;
    --crimson-red: #990000;
    --wine-red: #990012;
    --darkred: #8B0000;
    --maroon: #800000;
    --burgundy: #8C001A;
    --vermilion: #7E191B;
    --deep-red: #800517;
    --red-blood: #660000;
    --blood-night: #551606;
    --dark-scarlet: #560319;
    --black-bean: #3D0C02;
    --chocolate-brown: #3F000F;
    --midnight: #2B1B17;
    --purple-lily: #550A35;
    --purple-maroon: #810541;
    --plum-pie: #7D0541;
    --plum-velvet: #7D0552;
    --dark-raspberry: #872657;
    --velvet-maroon: #7E354D;
    --rosy-finch: #7F4E52;
    --dull-purple: #7F525D;
    --puce: #7F5A58;
    --rose-dust: #997070;
    --pastel-brown: #B1907F;
    --rosy-pink: #B38481;
    --rosybrown: #BC8F8F;
    --khaki-rose: #C5908E;
    --lipstick-pink: #C48793;
    --pink-brown: #C48189;
    --old-rose: #C08081;
    --dusty-pink: #D58A94;
    --pink-daisy: #E799A3;
    --rose: #E8ADAA;
    --dusty-rose: #C9A9A6;
    --silver-pink: #C4AEAD;
    --gold-pink: #E6C7C2;
    --rose-gold: #ECC5C0;
    --deep-peach: #FFCBA4;
    --pastel-orange: #F8B88B;
    --desert-sand: #EDC9AF;
    --unbleached-silk: #FFDDCA;
    --pig-pink: #FDD7E4;
    --pale-pink: #F2D4D7;
    --blush: #FFE6E8;
    --mistyrose: #FFE4E1;
    --pink-bubble-gum: #FFDFDD;
    --light-rose: #FBCFCD;
    --light-red: #FFCCCB;
    --warm-pink: #F6C6BD;
    --deep-rose: #FBBBB9;
    --pink: #FFC0CB;
    --lightpink: #FFB6C1;
    --soft-pink: #FFB8BF;
    --donut-pink: #FAAFBE;
    --baby-pink: #FAAFBA;
    --flamingo-pink: #F9A7B0;
    --pastel-pink: #FEA3AA;
    --pink-rose: #E7A1B0;
    --cadillac-pink: #E38AAE;
    --carnation-pink: #F778A1;
    --pastel-rose: #E5788F;
    --blush-red: #E56E94;
    --palevioletred: #DB7093;
    --purple-pink: #D16587;
    --tulip-pink: #C25A7C;
    --bashful-pink: #C25283;
    --dark-pink: #E75480;
    --dark-hot-pink: #F660AB;
    --hotpink: #FF69B4;
    --watermelon-pink: #FC6C85;
    --violet-red: #F6358A;
    --hot-deep-pink: #F52887;
    --bright-pink: #FF007F;
    --deeppink: #FF1493;
    --neon-pink: #F535AA;
    --chrome-pink: #FF33AA;
    --neon-hot-pink: #FD349C;
    --pink-cupcake: #E45E9D;
    --royal-pink: #E759AC;
    --dimorphotheca-magenta: #E3319D;
    --pink-lemonade: #E4287C;
    --red-pink: #FA2A55;
    --raspberry: #E30B5D;
    --crimson: #DC143C;
    --bright-maroon: #C32148;
    --rose-red: #C21E56;
    --rogue-pink: #C12869;
    --burnt-pink: #C12267;
    --pink-violet: #CA226B;
    --magenta-pink: #CC338B;
    --mediumvioletred: #C71585;
    --dark-carnation-pink: #C12283;
    --raspberry-purple: #B3446C;
    --pink-plum: #B93B8F;
    --orchid: #DA70D6;
    --deep-mauve: #DF73D4;
    --violet: #EE82EE;
    --fuchsia-pink: #FF77FF;
    --bright-neon-pink: #F433FF;
    --magenta: #FF00FF;
    --crimson-purple: #E238EC;
    --heliotrope-purple: #D462FF;
    --tyrian-purple: #C45AEC;
    --mediumorchid: #BA55D3;
    --purple-flower: #A74AC7;
    --orchid-purple: #B048B5;
    --rich-lilac: #B666D2;
    --pastel-violet: #D291BC;
    --mauve-taupe: #915F6D;
    --viola-purple: #7E587E;
    --eggplant: #614051;
    --plum-purple: #583759;
    --grape: #5E5A80;
    --purple-navy: #4E5180;
    --slateblue: #6A5ACD;
    --blue-lotus: #6960EC;
    --blurple: #5865F2;
    --light-slate-blue: #736AFF;
    --mediumslateblue: #7B68EE;
    --periwinkle-purple: #7575CF;
    --very-peri: #6667AB;
    --bright-grape: #6F2DA8;
    --purple-amethyst: #6C2DC7;
    --bright-purple: #6A0DAD;
    --deep-periwinkle: #5453A6;
    --darkslateblue: #483D8B;
    --purple-haze: #4E387E;
    --purple-iris: #571B7E;
    --dark-purple: #4B0150;
    --deep-purple: #36013F;
    --midnight-purple: #2E1A47;
    --purple-monster: #461B7E;
    --indigo: #4B0082;
    --blue-whale: #342D7E;
    --rebeccapurple: #663399;
    --purple-jam: #6A287E;
    --darkmagenta: #8B008B;
    --purple: #800080;
    --french-lilac: #86608E;
    --darkorchid: #9932CC;
    --darkviolet: #9400D3;
    --purple-violet: #8D38C9;
    --jasmine-purple: #A23BEC;
    --purple-daffodil: #B041FF;
    --clematis-violet: #842DCE;
    --blueviolet: #8A2BE2;
    --purple-sage-bush: #7A5DC7;
    --lovely-purple: #7F38EC;
    --neon-purple: #9D00FF;
    --purple-plum: #8E35EF;
    --aztech-purple: #893BFF;
    --mediumpurple: #9370DB;
    --light-purple: #8467D7;
    --crocus-purple: #9172EC;
    --purple-mimosa: #9E7BFF;
    --periwinkle: #CCCCFF;
    --pale-lilac: #DCD0FF;
    --lavender-purple: #967BB6;
    --rose-purple: #B09FCA;
    --lilac: #C8A2C8;
    --mauve: #E0B0FF;
    --bright-lilac: #D891EF;
    --purple-dragon: #C38EC7;
    --plum: #DDA0DD;
    --blush-pink: #E6A9EC;
    --pastel-purple: #F2A2E8;
    --blossom-pink: #F9B7FF;
    --wisteria-purple: #C6AEC7;
    --purple-thistle: #D2B9D3;
    --thistle: #D8BFD8;
    --purple-white: #DFD3E3;
    --periwinkle-pink: #E9CFEC;
    --cotton-candy: #FCDFFF;
    --lavender-pinocchio: #EBDDE2;
    --dark-white: #E1D9D1;
    --ash-white: #E9E4D4;
    --white-chocolate: #EDE6D6;
    --soft-ivory: #FAF0DD;
    --off-white: #F8F0E3;
    --pearl-white: #F8F6F0;
    --red-white: #F3E8EA;
    --lavenderblush: #FFF0F5;
    --pearl: #FDEEF4;
    --egg-shell: #FFF9E3;
    --oldlace: #FEF0E3;
    --linen: #FAF0E6;
    --seashell: #FFF5EE;
    --bone-white: #F9F6EE;
    --rice: #FAF5EF;
    --floralwhite: #FFFAF0;
    --ivory: #FFFFF0;
    --white-gold: #FFFFF4;
    --light-white: #FFFFF7;
    --whitesmoke: #F5F5F5;
    --cotton: #FBFBF9;
    --snow: #FFFAFA;
    --milk-white: #FEFCFF;
    --half-white: #FFFEFA;
    --white: #FFFFFF;


    /* ——————————————————————————————————————— SHADOWS ——————————————————————————————————————— */


    --black-shadow: 1px 1px 2px #000000;
    --night-shadow: 1px 1px 2px #0C090A;
    --charcoal-shadow: 1px 1px 2px #34282C;
    --oil-shadow: 1px 1px 2px #3B3131;
    --dark-gray-shadow: 1px 1px 2px #3A3B3C;
    --light-black-shadow: 1px 1px 2px #454545;
    --black-cat-shadow: 1px 1px 2px #413839;
    --iridium-shadow: 1px 1px 2px #3D3C3A;
    --black-eel-shadow: 1px 1px 2px #463E3F;
    --black-cow-shadow: 1px 1px 2px #4C4646;
    --gray-wolf-shadow: 1px 1px 2px #504A4B;
    --vampire-gray-shadow: 1px 1px 2px #565051;
    --iron-gray-shadow: 1px 1px 2px #52595D;
    --gray-dolphin-shadow: 1px 1px 2px #5C5858;
    --carbon-gray-shadow: 1px 1px 2px #625D5D;
    --ash-gray-shadow: 1px 1px 2px #666362;
    --dimgrey-shadow: 1px 1px 2px #696969;
    --nardo-gray-shadow: 1px 1px 2px #686A6C;
    --cloudy-gray-shadow: 1px 1px 2px #6D6968;
    --smokey-gray-shadow: 1px 1px 2px #726E6D;
    --alien-gray-shadow: 1px 1px 2px #736F6E;
    --sonic-silver-shadow: 1px 1px 2px #757575;
    --platinum-gray-shadow: 1px 1px 2px #797979;
    --granite-shadow: 1px 1px 2px #837E7C;
    --grey-shadow: 1px 1px 2px #808080;
    --battleship-gray-shadow: 1px 1px 2px #848482;
    --gunmetal-gray-shadow: 1px 1px 2px #8D918D;
    --darkgrey-shadow: 1px 1px 2px #A9A9A9;
    --gray-cloud-shadow: 1px 1px 2px #B6B6B4;
    --silver-shadow: 1px 1px 2px #C0C0C0;
    --pale-silver-shadow: 1px 1px 2px #C9C0BB;
    --gray-goose-shadow: 1px 1px 2px #D1D0CE;
    --platinum-silver-shadow: 1px 1px 2px #CECECE;
    --lightgrey-shadow: 1px 1px 2px #D3D3D3;
    --silver-white-shadow: 1px 1px 2px #DADBDD;
    --gainsboro-shadow: 1px 1px 2px #DCDCDC;
    --platinum-shadow: 1px 1px 2px #E5E4E2;
    --metallic-silver-shadow: 1px 1px 2px #BCC6CC;
    --blue-gray-shadow: 1px 1px 2px #98AFC7;
    --roman-silver-shadow: 1px 1px 2px #838996;
    --lightslategrey-shadow: 1px 1px 2px #778899;
    --slategrey-shadow: 1px 1px 2px #708090;
    --rat-gray-shadow: 1px 1px 2px #6D7B8D;
    --slate-granite-gray-shadow: 1px 1px 2px #657383;
    --jet-gray-shadow: 1px 1px 2px #616D7E;
    --mist-blue-shadow: 1px 1px 2px #646D7E;
    --marble-blue-shadow: 1px 1px 2px #566D7E;
    --slate-blue-grey-shadow: 1px 1px 2px #737CA1;
    --light-purple-blue-shadow: 1px 1px 2px #728FCE;
    --azure-blue-shadow: 1px 1px 2px #4863A0;
    --blue-jay-shadow: 1px 1px 2px #2B547E;
    --charcoal-blue-shadow: 1px 1px 2px #36454F;
    --dark-blue-grey-shadow: 1px 1px 2px #29465B;
    --dark-slate-shadow: 1px 1px 2px #2B3856;
    --deep-sea-blue-shadow: 1px 1px 2px #123456;
    --night-blue-shadow: 1px 1px 2px #151B54;
    --midnightblue-shadow: 1px 1px 2px #191970;
    --navy-shadow: 1px 1px 2px #000080;
    --denim-dark-blue-shadow: 1px 1px 2px #151B8D;
    --darkblue-shadow: 1px 1px 2px #00008B;
    --lapis-blue-shadow: 1px 1px 2px #15317E;
    --new-midnight-blue-shadow: 1px 1px 2px #0000A0;
    --earth-blue-shadow: 1px 1px 2px #0000A5;
    --cobalt-blue-shadow: 1px 1px 2px #0020C2;
    --mediumblue-shadow: 1px 1px 2px #0000CD;
    --blueberry-blue-shadow: 1px 1px 2px #0041C2;
    --canary-blue-shadow: 1px 1px 2px #2916F5;
    --blue-shadow: 1px 1px 2px #0000FF;
    --samco-blue-shadow: 1px 1px 2px #0002FF;
    --bright-blue-shadow: 1px 1px 2px #0909FF;
    --blue-orchid-shadow: 1px 1px 2px #1F45FC;
    --sapphire-blue-shadow: 1px 1px 2px #2554C7;
    --blue-eyes-shadow: 1px 1px 2px #1569C7;
    --bright-navy-blue-shadow: 1px 1px 2px #1974D2;
    --balloon-blue-shadow: 1px 1px 2px #2B60DE;
    --royalblue-shadow: 1px 1px 2px #4169E1;
    --ocean-blue-shadow: 1px 1px 2px #2B65EC;
    --blue-ribbon-shadow: 1px 1px 2px #306EFF;
    --blue-dress-shadow: 1px 1px 2px #157DEC;
    --neon-blue-shadow: 1px 1px 2px #1589FF;
    --dodgerblue-shadow: 1px 1px 2px #1E90FF;
    --glacial-blue-ice-shadow: 1px 1px 2px #368BC1;
    --steelblue-shadow: 1px 1px 2px #4682B4;
    --silk-blue-shadow: 1px 1px 2px #488AC7;
    --windows-blue-shadow: 1px 1px 2px #357EC7;
    --blue-ivy-shadow: 1px 1px 2px #3090C7;
    --blue-koi-shadow: 1px 1px 2px #659EC7;
    --columbia-blue-shadow: 1px 1px 2px #87AFC7;
    --baby-blue-shadow: 1px 1px 2px #95B9C7;
    --cornflowerblue-shadow: 1px 1px 2px #6495ED;
    --sky-blue-dress-shadow: 1px 1px 2px #6698FF;
    --iceberg-shadow: 1px 1px 2px #56A5EC;
    --butterfly-blue-shadow: 1px 1px 2px #38ACEC;
    --deepskyblue-shadow: 1px 1px 2px #00BFFF;
    --midday-blue-shadow: 1px 1px 2px #3BB9FF;
    --crystal-blue-shadow: 1px 1px 2px #5CB3FF;
    --denim-blue-shadow: 1px 1px 2px #79BAEC;
    --day-sky-blue-shadow: 1px 1px 2px #82CAFF;
    --lightskyblue-shadow: 1px 1px 2px #87CEFA;
    --skyblue-shadow: 1px 1px 2px #87CEEB;
    --jeans-blue-shadow: 1px 1px 2px #A0CFEC;
    --blue-angel-shadow: 1px 1px 2px #B7CEEC;
    --pastel-blue-shadow: 1px 1px 2px #B4CFEC;
    --light-day-blue-shadow: 1px 1px 2px #ADDFFF;
    --sea-blue-shadow: 1px 1px 2px #C2DFFF;
    --heavenly-blue-shadow: 1px 1px 2px #C6DEFF;
    --robin-egg-blue-shadow: 1px 1px 2px #BDEDFF;
    --powderblue-shadow: 1px 1px 2px #B0E0E6;
    --coral-blue-shadow: 1px 1px 2px #AFDCEC;
    --lightblue-shadow: 1px 1px 2px #ADD8E6;
    --lightsteelblue-shadow: 1px 1px 2px #B0CFDE;
    --gulf-blue-shadow: 1px 1px 2px #C9DFEC;
    --pastel-light-blue-shadow: 1px 1px 2px #D5D6EA;
    --lavender-blue-shadow: 1px 1px 2px #E3E4FA;
    --white-blue-shadow: 1px 1px 2px #DBE9FA;
    --lavender-shadow: 1px 1px 2px #E6E6FA;
    --water-shadow: 1px 1px 2px #EBF4FA;
    --aliceblue-shadow: 1px 1px 2px #F0F8FF;
    --ghostwhite-shadow: 1px 1px 2px #F8F8FF;
    --azure-shadow: 1px 1px 2px #F0FFFF;
    --lightcyan-shadow: 1px 1px 2px #E0FFFF;
    --light-slate-shadow: 1px 1px 2px #CCFFFF;
    --electric-blue-shadow: 1px 1px 2px #9AFEFF;
    --tron-blue-shadow: 1px 1px 2px #7DFDFE;
    --blue-zircon-shadow: 1px 1px 2px #57FEFF;
    --aqua-or-cyan-shadow: 1px 1px 2px #00FFFF;
    --bright-cyan-shadow: 1px 1px 2px #0AFFFF;
    --celeste-shadow: 1px 1px 2px #50EBEC;
    --blue-diamond-shadow: 1px 1px 2px #4EE2EC;
    --bright-turquoise-shadow: 1px 1px 2px #16E2F5;
    --blue-lagoon-shadow: 1px 1px 2px #8EEBEC;
    --paleturquoise-shadow: 1px 1px 2px #AFEEEE;
    --pale-blue-lily-shadow: 1px 1px 2px #CFECEC;
    --light-teal-shadow: 1px 1px 2px #B3D9D9;
    --tiffany-blue-shadow: 1px 1px 2px #81D8D0;
    --blue-hosta-shadow: 1px 1px 2px #77BFC7;
    --cyan-opaque-shadow: 1px 1px 2px #92C7C7;
    --northern-lights-blue-shadow: 1px 1px 2px #78C7C7;
    --blue-green-shadow: 1px 1px 2px #7BCCB5;
    --mediumaquamarine-shadow: 1px 1px 2px #66CDAA;
    --magic-mint-shadow: 1px 1px 2px #AAF0D1;
    --light-aquamarine-shadow: 1px 1px 2px #93FFE8;
    --aquamarine-shadow: 1px 1px 2px #7FFFD4;
    --bright-teal-shadow: 1px 1px 2px #01F9C6;
    --turquoise-shadow: 1px 1px 2px #40E0D0;
    --mediumturquoise-shadow: 1px 1px 2px #48D1CC;
    --deep-turquoise-shadow: 1px 1px 2px #48CCCD;
    --jellyfish-shadow: 1px 1px 2px #46C7C7;
    --blue-turquoise-shadow: 1px 1px 2px #43C6DB;
    --darkturquoise-shadow: 1px 1px 2px #00CED1;
    --macaw-blue-green-shadow: 1px 1px 2px #43BFC7;
    --lightseagreen-shadow: 1px 1px 2px #20B2AA;
    --seafoam-green-shadow: 1px 1px 2px #3EA99F;
    --cadetblue-shadow: 1px 1px 2px #5F9EA0;
    --deep-sea-shadow: 1px 1px 2px #3B9C9C;
    --darkcyan-shadow: 1px 1px 2px #008B8B;
    --teal-green-shadow: 1px 1px 2px #00827F;
    --teal-shadow: 1px 1px 2px #008080;
    --teal-blue-shadow: 1px 1px 2px #007C80;
    --medium-teal-shadow: 1px 1px 2px #045F5F;
    --dark-teal-shadow: 1px 1px 2px #045D5D;
    --deep-teal-shadow: 1px 1px 2px #033E3E;
    --darkslategrey-shadow: 1px 1px 2px #25383C;
    --gunmetal-shadow: 1px 1px 2px #2C3539;
    --blue-moss-green-shadow: 1px 1px 2px #3C565B;
    --beetle-green-shadow: 1px 1px 2px #4C787E;
    --grayish-turquoise-shadow: 1px 1px 2px #5E7D7E;
    --greenish-blue-shadow: 1px 1px 2px #307D7E;
    --aquamarine-stone-shadow: 1px 1px 2px #348781;
    --sea-turtle-green-shadow: 1px 1px 2px #438D80;
    --dull-sea-green-shadow: 1px 1px 2px #4E8975;
    --dark-green-blue-shadow: 1px 1px 2px #1F6357;
    --deep-sea-green-shadow: 1px 1px 2px #306754;
    --bottle-green-shadow: 1px 1px 2px #006A4E;
    --seagreen-shadow: 1px 1px 2px #2E8B57;
    --elf-green-shadow: 1px 1px 2px #1B8A6B;
    --dark-mint-shadow: 1px 1px 2px #31906E;
    --jade-shadow: 1px 1px 2px #00A36C;
    --earth-green-shadow: 1px 1px 2px #34A56F;
    --chrome-green-shadow: 1px 1px 2px #1AA260;
    --emerald-shadow: 1px 1px 2px #50C878;
    --mint-shadow: 1px 1px 2px #3EB489;
    --mediumseagreen-shadow: 1px 1px 2px #3CB371;
    --metallic-green-shadow: 1px 1px 2px #7C9D8E;
    --camouflage-green-shadow: 1px 1px 2px #78866B;
    --sage-green-shadow: 1px 1px 2px #848B79;
    --hazel-green-shadow: 1px 1px 2px #617C58;
    --venom-green-shadow: 1px 1px 2px #728C00;
    --olivedrab-shadow: 1px 1px 2px #6B8E23;
    --olive-shadow: 1px 1px 2px #808000;
    --darkolivegreen-shadow: 1px 1px 2px #556B2F;
    --military-green-shadow: 1px 1px 2px #4E5B31;
    --green-leaves-shadow: 1px 1px 2px #3A5F0B;
    --army-green-shadow: 1px 1px 2px #4B5320;
    --fern-green-shadow: 1px 1px 2px #667C26;
    --fall-forest-green-shadow: 1px 1px 2px #4E9258;
    --irish-green-shadow: 1px 1px 2px #08A04B;
    --pine-green-shadow: 1px 1px 2px #387C44;
    --medium-forest-green-shadow: 1px 1px 2px #347235;
    --jungle-green-shadow: 1px 1px 2px #347C2C;
    --cactus-green-shadow: 1px 1px 2px #227442;
    --forestgreen-shadow: 1px 1px 2px #228B22;
    --green-shadow: 1px 1px 2px #008000;
    --marsh-shadow: 1px 1px 2px #203730;
    --darkgreen-shadow: 1px 1px 2px #006400;
    --deep-green-shadow: 1px 1px 2px #056608;
    --deep-emerald-green-shadow: 1px 1px 2px #046307;
    --hunter-green-shadow: 1px 1px 2px #355E3B;
    --dark-forest-green-shadow: 1px 1px 2px #254117;
    --lotus-green-shadow: 1px 1px 2px #004225;
    --seaweed-green-shadow: 1px 1px 2px #437C17;
    --shamrock-green-shadow: 1px 1px 2px #347C17;
    --green-onion-shadow: 1px 1px 2px #6AA121;
    --moss-green-shadow: 1px 1px 2px #8A9A5B;
    --grass-green-shadow: 1px 1px 2px #3F9B0B;
    --green-pepper-shadow: 1px 1px 2px #4AA02C;
    --dark-lime-green-shadow: 1px 1px 2px #41A317;
    --parrot-green-shadow: 1px 1px 2px #12AD2B;
    --clover-green-shadow: 1px 1px 2px #3EA055;
    --dinosaur-green-shadow: 1px 1px 2px #73A16C;
    --green-snake-shadow: 1px 1px 2px #6CBB3C;
    --alien-green-shadow: 1px 1px 2px #6CC417;
    --green-apple-shadow: 1px 1px 2px #4CC417;
    --limegreen-shadow: 1px 1px 2px #32CD32;
    --pea-green-shadow: 1px 1px 2px #52D017;
    --kelly-green-shadow: 1px 1px 2px #4CC552;
    --zombie-green-shadow: 1px 1px 2px #54C571;
    --green-peas-shadow: 1px 1px 2px #89C35C;
    --dollar-bill-green-shadow: 1px 1px 2px #85BB65;
    --frog-green-shadow: 1px 1px 2px #99C68E;
    --turquoise-green-shadow: 1px 1px 2px #A0D6B4;
    --darkseagreen-shadow: 1px 1px 2px #8FBC8F;
    --basil-green-shadow: 1px 1px 2px #829F82;
    --gray-green-shadow: 1px 1px 2px #A2AD9C;
    --iguana-green-shadow: 1px 1px 2px #9CB071;
    --citron-green-shadow: 1px 1px 2px #8FB31D;
    --acid-green-shadow: 1px 1px 2px #B0BF1A;
    --avocado-green-shadow: 1px 1px 2px #B2C248;
    --pistachio-green-shadow: 1px 1px 2px #9DC209;
    --salad-green-shadow: 1px 1px 2px #A1C935;
    --yellowgreen-shadow: 1px 1px 2px #9ACD32;
    --pastel-green-shadow: 1px 1px 2px #77DD77;
    --hummingbird-green-shadow: 1px 1px 2px #7FE817;
    --nebula-green-shadow: 1px 1px 2px #59E817;
    --stoplight-go-green-shadow: 1px 1px 2px #57E964;
    --neon-green-shadow: 1px 1px 2px #16F529;
    --jade-green-shadow: 1px 1px 2px #5EFB6E;
    --lime-mint-green-shadow: 1px 1px 2px #36F57F;
    --springgreen-shadow: 1px 1px 2px #00FF7F;
    --mediumspringgreen-shadow: 1px 1px 2px #00FA9A;
    --emerald-green-shadow: 1px 1px 2px #5FFB17;
    --lime-shadow: 1px 1px 2px #00FF00;
    --lawngreen-shadow: 1px 1px 2px #7CFC00;
    --bright-green-shadow: 1px 1px 2px #66FF00;
    --chartreuse-shadow: 1px 1px 2px #7FFF00;
    --yellow-lawn-green-shadow: 1px 1px 2px #87F717;
    --aloe-vera-green-shadow: 1px 1px 2px #98F516;
    --dull-green-yellow-shadow: 1px 1px 2px #B1FB17;
    --lemon-green-shadow: 1px 1px 2px #ADF802;
    --greenyellow-shadow: 1px 1px 2px #ADFF2F;
    --chameleon-green-shadow: 1px 1px 2px #BDF516;
    --neon-yellow-green-shadow: 1px 1px 2px #DAEE01;
    --yellow-green-grosbeak-shadow: 1px 1px 2px #E2F516;
    --tea-green-shadow: 1px 1px 2px #CCFB5D;
    --slime-green-shadow: 1px 1px 2px #BCE954;
    --algae-green-shadow: 1px 1px 2px #64E986;
    --lightgreen-shadow: 1px 1px 2px #90EE90;
    --dragon-green-shadow: 1px 1px 2px #6AFB92;
    --palegreen-shadow: 1px 1px 2px #98FB98;
    --mint-green-shadow: 1px 1px 2px #98FF98;
    --green-thumb-shadow: 1px 1px 2px #B5EAAA;
    --organic-brown-shadow: 1px 1px 2px #E3F9A6;
    --light-jade-shadow: 1px 1px 2px #C3FDB8;
    --light-mint-green-shadow: 1px 1px 2px #C2E5D3;
    --light-rose-green-shadow: 1px 1px 2px #DBF9DB;
    --chrome-white-shadow: 1px 1px 2px #E8F1D4;
    --honeydew-shadow: 1px 1px 2px #F0FFF0;
    --mintcream-shadow: 1px 1px 2px #F5FFFA;
    --lemonchiffon-shadow: 1px 1px 2px #FFFACD;
    --parchment-shadow: 1px 1px 2px #FFFFC2;
    --cream-shadow: 1px 1px 2px #FFFFCC;
    --cream-white-shadow: 1px 1px 2px #FFFDD0;
    --lightgoldenrodyellow-shadow: 1px 1px 2px #FAFAD2;
    --lightyellow-shadow: 1px 1px 2px #FFFFE0;
    --beige-shadow: 1px 1px 2px #F5F5DC;
    --cornsilk-shadow: 1px 1px 2px #FFF8DC;
    --blonde-shadow: 1px 1px 2px #FBF6D9;
    --champagne-shadow: 1px 1px 2px #F7E7CE;
    --antiquewhite-shadow: 1px 1px 2px #FAEBD7;
    --papayawhip-shadow: 1px 1px 2px #FFEFD5;
    --blanchedalmond-shadow: 1px 1px 2px #FFEBCD;
    --bisque-shadow: 1px 1px 2px #FFE4C4;
    --wheat-shadow: 1px 1px 2px #F5DEB3;
    --moccasin-shadow: 1px 1px 2px #FFE4B5;
    --peach-shadow: 1px 1px 2px #FFE5B4;
    --light-orange-shadow: 1px 1px 2px #FED8B1;
    --peachpuff-shadow: 1px 1px 2px #FFDAB9;
    --coral-peach-shadow: 1px 1px 2px #FBD5AB;
    --navajowhite-shadow: 1px 1px 2px #FFDEAD;
    --golden-blonde-shadow: 1px 1px 2px #FBE7A1;
    --golden-silk-shadow: 1px 1px 2px #F3E3C3;
    --dark-blonde-shadow: 1px 1px 2px #F0E2B6;
    --light-gold-shadow: 1px 1px 2px #F1E5AC;
    --vanilla-shadow: 1px 1px 2px #F3E5AB;
    --tan-brown-shadow: 1px 1px 2px #ECE5B6;
    --dirty-white-shadow: 1px 1px 2px #E8E4C9;
    --palegoldenrod-shadow: 1px 1px 2px #EEE8AA;
    --khaki-shadow: 1px 1px 2px #F0E68C;
    --cardboard-brown-shadow: 1px 1px 2px #EDDA74;
    --harvest-gold-shadow: 1px 1px 2px #EDE275;
    --sun-yellow-shadow: 1px 1px 2px #FFE87C;
    --corn-yellow-shadow: 1px 1px 2px #FFF380;
    --pastel-yellow-shadow: 1px 1px 2px #FAF884;
    --neon-yellow-shadow: 1px 1px 2px #FFFF33;
    --yellow-shadow: 1px 1px 2px #FFFF00;
    --canary-yellow-shadow: 1px 1px 2px #FFEF00;
    --banana-yellow-shadow: 1px 1px 2px #F5E216;
    --mustard-yellow-shadow: 1px 1px 2px #FFDB58;
    --golden-yellow-shadow: 1px 1px 2px #FFDF00;
    --bold-yellow-shadow: 1px 1px 2px #F9DB24;
    --rubber-ducky-yellow-shadow: 1px 1px 2px #FFD801;
    --gold-shadow: 1px 1px 2px #FFD700;
    --bright-gold-shadow: 1px 1px 2px #FDD017;
    --chrome-gold-shadow: 1px 1px 2px #FFCE44;
    --golden-brown-shadow: 1px 1px 2px #EAC117;
    --deep-yellow-shadow: 1px 1px 2px #F6BE00;
    --macaroni-and-cheese-shadow: 1px 1px 2px #F2BB66;
    --saffron-shadow: 1px 1px 2px #FBB917;
    --neon-gold-shadow: 1px 1px 2px #FDBD01;
    --beer-shadow: 1px 1px 2px #FBB117;
    --orange-yellow-shadow: 1px 1px 2px #FFAE42;
    --cantaloupe-shadow: 1px 1px 2px #FFA62F;
    --cheese-orange-shadow: 1px 1px 2px #FFA600;
    --orange-shadow: 1px 1px 2px #FFA500;
    --brown-sand-shadow: 1px 1px 2px #EE9A4D;
    --sandybrown-shadow: 1px 1px 2px #F4A460;
    --brown-sugar-shadow: 1px 1px 2px #E2A76F;
    --camel-brown-shadow: 1px 1px 2px #C19A6B;
    --deer-brown-shadow: 1px 1px 2px #E6BF83;
    --burlywood-shadow: 1px 1px 2px #DEB887;
    --tan-shadow: 1px 1px 2px #D2B48C;
    --light-french-beige-shadow: 1px 1px 2px #C8AD7F;
    --sand-shadow: 1px 1px 2px #C2B280;
    --sage-shadow: 1px 1px 2px #BCB88A;
    --fall-leaf-brown-shadow: 1px 1px 2px #C8B560;
    --ginger-brown-shadow: 1px 1px 2px #C9BE62;
    --bronze-gold-shadow: 1px 1px 2px #C9AE5D;
    --darkkhaki-shadow: 1px 1px 2px #BDB76B;
    --olive-green-shadow: 1px 1px 2px #BAB86C;
    --brass-shadow: 1px 1px 2px #B5A642;
    --cookie-brown-shadow: 1px 1px 2px #C7A317;
    --metallic-gold-shadow: 1px 1px 2px #D4AF37;
    --bee-yellow-shadow: 1px 1px 2px #E9AB17;
    --school-bus-yellow-shadow: 1px 1px 2px #E8A317;
    --goldenrod-shadow: 1px 1px 2px #DAA520;
    --orange-gold-shadow: 1px 1px 2px #D4A017;
    --caramel-shadow: 1px 1px 2px #C68E17;
    --darkgoldenrod-shadow: 1px 1px 2px #B8860B;
    --cinnamon-shadow: 1px 1px 2px #C58917;
    --peru-shadow: 1px 1px 2px #CD853F;
    --bronze-shadow: 1px 1px 2px #CD7F32;
    --tiger-orange-shadow: 1px 1px 2px #C88141;
    --copper-shadow: 1px 1px 2px #B87333;
    --dark-gold-shadow: 1px 1px 2px #AA6C39;
    --metallic-bronze-shadow: 1px 1px 2px #A97142;
    --dark-almond-shadow: 1px 1px 2px #AB784E;
    --wood-shadow: 1px 1px 2px #966F33;
    --oak-brown-shadow: 1px 1px 2px #806517;
    --antique-bronze-shadow: 1px 1px 2px #665D1E;
    --hazel-shadow: 1px 1px 2px #8E7618;
    --dark-yellow-shadow: 1px 1px 2px #8B8000;
    --dark-moccasin-shadow: 1px 1px 2px #827839;
    --khaki-green-shadow: 1px 1px 2px #8A865D;
    --millennium-jade-shadow: 1px 1px 2px #93917C;
    --dark-beige-shadow: 1px 1px 2px #9F8C76;
    --bullet-shell-shadow: 1px 1px 2px #AF9B60;
    --army-brown-shadow: 1px 1px 2px #827B60;
    --sandstone-shadow: 1px 1px 2px #786D5F;
    --taupe-shadow: 1px 1px 2px #483C32;
    --mocha-shadow: 1px 1px 2px #493D26;
    --milk-chocolate-shadow: 1px 1px 2px #513B1C;
    --gray-brown-shadow: 1px 1px 2px #3D3635;
    --dark-coffee-shadow: 1px 1px 2px #3B2F2F;
    --old-burgundy-shadow: 1px 1px 2px #43302E;
    --western-charcoal-shadow: 1px 1px 2px #49413F;
    --bakers-brown-shadow: 1px 1px 2px #5C3317;
    --dark-brown-shadow: 1px 1px 2px #654321;
    --sepia-brown-shadow: 1px 1px 2px #704214;
    --dark-bronze-shadow: 1px 1px 2px #804A00;
    --coffee-shadow: 1px 1px 2px #6F4E37;
    --brown-bear-shadow: 1px 1px 2px #835C3B;
    --red-dirt-shadow: 1px 1px 2px #7F5217;
    --sepia-shadow: 1px 1px 2px #7F462C;
    --sienna-shadow: 1px 1px 2px #A0522D;
    --saddlebrown-shadow: 1px 1px 2px #8B4513;
    --dark-sienna-shadow: 1px 1px 2px #8A4117;
    --sangria-shadow: 1px 1px 2px #7E3817;
    --blood-red-shadow: 1px 1px 2px #7E3517;
    --chestnut-shadow: 1px 1px 2px #954535;
    --coral-brown-shadow: 1px 1px 2px #9E4638;
    --chestnut-red-shadow: 1px 1px 2px #C34A2C;
    --mahogany-shadow: 1px 1px 2px #C04000;
    --red-gold-shadow: 1px 1px 2px #EB5406;
    --red-fox-shadow: 1px 1px 2px #C35817;
    --dark-bisque-shadow: 1px 1px 2px #B86500;
    --light-brown-shadow: 1px 1px 2px #B5651D;
    --petra-gold-shadow: 1px 1px 2px #B76734;
    --rust-shadow: 1px 1px 2px #C36241;
    --copper-red-shadow: 1px 1px 2px #CB6D51;
    --orange-salmon-shadow: 1px 1px 2px #C47451;
    --chocolate-shadow: 1px 1px 2px #D2691E;
    --sedona-shadow: 1px 1px 2px #CC6600;
    --papaya-orange-shadow: 1px 1px 2px #E56717;
    --halloween-orange-shadow: 1px 1px 2px #E66C2C;
    --neon-orange-shadow: 1px 1px 2px #FF6700;
    --bright-orange-shadow: 1px 1px 2px #FF5F1F;
    --pumpkin-orange-shadow: 1px 1px 2px #F87217;
    --carrot-orange-shadow: 1px 1px 2px #F88017;
    --darkorange-shadow: 1px 1px 2px #FF8C00;
    --construction-cone-orange-shadow: 1px 1px 2px #F87431;
    --indian-saffron-shadow: 1px 1px 2px #FF7722;
    --sunrise-orange-shadow: 1px 1px 2px #E67451;
    --mango-orange-shadow: 1px 1px 2px #FF8040;
    --coral-shadow: 1px 1px 2px #FF7F50;
    --basket-ball-orange-shadow: 1px 1px 2px #F88158;
    --light-salmon-rose-shadow: 1px 1px 2px #F9966B;
    --lightsalmon-shadow: 1px 1px 2px #FFA07A;
    --darksalmon-shadow: 1px 1px 2px #E9967A;
    --tangerine-shadow: 1px 1px 2px #E78A61;
    --light-copper-shadow: 1px 1px 2px #DA8A67;
    --salmon-pink-shadow: 1px 1px 2px #FF8674;
    --salmon-shadow: 1px 1px 2px #FA8072;
    --peach-pink-shadow: 1px 1px 2px #F98B88;
    --lightcoral-shadow: 1px 1px 2px #F08080;
    --pastel-red-shadow: 1px 1px 2px #F67280;
    --pink-coral-shadow: 1px 1px 2px #E77471;
    --bean-red-shadow: 1px 1px 2px #F75D59;
    --valentine-red-shadow: 1px 1px 2px #E55451;
    --indianred-shadow: 1px 1px 2px #CD5C5C;
    --tomato-shadow: 1px 1px 2px #FF6347;
    --shocking-orange-shadow: 1px 1px 2px #E55B3C;
    --orangered-shadow: 1px 1px 2px #FF4500;
    --red-shadow: 1px 1px 2px #FF0000;
    --neon-red-shadow: 1px 1px 2px #FD1C03;
    --scarlet-red-shadow: 1px 1px 2px #FF2400;
    --ruby-red-shadow: 1px 1px 2px #F62217;
    --ferrari-red-shadow: 1px 1px 2px #F70D1A;
    --fire-engine-red-shadow: 1px 1px 2px #F62817;
    --lava-red-shadow: 1px 1px 2px #E42217;
    --love-red-shadow: 1px 1px 2px #E41B17;
    --grapefruit-shadow: 1px 1px 2px #DC381F;
    --cherry-red-shadow: 1px 1px 2px #C24641;
    --chilli-pepper-shadow: 1px 1px 2px #C11B17;
    --firebrick-shadow: 1px 1px 2px #B22222;
    --tomato-sauce-red-shadow: 1px 1px 2px #B21807;
    --brown-shadow: 1px 1px 2px #A52A2A;
    --carbon-red-shadow: 1px 1px 2px #A70D2A;
    --cranberry-shadow: 1px 1px 2px #9F000F;
    --saffron-red-shadow: 1px 1px 2px #931314;
    --crimson-red-shadow: 1px 1px 2px #990000;
    --wine-red-shadow: 1px 1px 2px #990012;
    --darkred-shadow: 1px 1px 2px #8B0000;
    --maroon-shadow: 1px 1px 2px #800000;
    --burgundy-shadow: 1px 1px 2px #8C001A;
    --vermilion-shadow: 1px 1px 2px #7E191B;
    --deep-red-shadow: 1px 1px 2px #800517;
    --red-blood-shadow: 1px 1px 2px #660000;
    --blood-night-shadow: 1px 1px 2px #551606;
    --dark-scarlet-shadow: 1px 1px 2px #560319;
    --black-bean-shadow: 1px 1px 2px #3D0C02;
    --chocolate-brown-shadow: 1px 1px 2px #3F000F;
    --midnight-shadow: 1px 1px 2px #2B1B17;
    --purple-lily-shadow: 1px 1px 2px #550A35;
    --purple-maroon-shadow: 1px 1px 2px #810541;
    --plum-pie-shadow: 1px 1px 2px #7D0541;
    --plum-velvet-shadow: 1px 1px 2px #7D0552;
    --dark-raspberry-shadow: 1px 1px 2px #872657;
    --velvet-maroon-shadow: 1px 1px 2px #7E354D;
    --rosy-finch-shadow: 1px 1px 2px #7F4E52;
    --dull-purple-shadow: 1px 1px 2px #7F525D;
    --puce-shadow: 1px 1px 2px #7F5A58;
    --rose-dust-shadow: 1px 1px 2px #997070;
    --pastel-brown-shadow: 1px 1px 2px #B1907F;
    --rosy-pink-shadow: 1px 1px 2px #B38481;
    --rosybrown-shadow: 1px 1px 2px #BC8F8F;
    --khaki-rose-shadow: 1px 1px 2px #C5908E;
    --lipstick-pink-shadow: 1px 1px 2px #C48793;
    --pink-brown-shadow: 1px 1px 2px #C48189;
    --old-rose-shadow: 1px 1px 2px #C08081;
    --dusty-pink-shadow: 1px 1px 2px #D58A94;
    --pink-daisy-shadow: 1px 1px 2px #E799A3;
    --rose-shadow: 1px 1px 2px #E8ADAA;
    --dusty-rose-shadow: 1px 1px 2px #C9A9A6;
    --silver-pink-shadow: 1px 1px 2px #C4AEAD;
    --gold-pink-shadow: 1px 1px 2px #E6C7C2;
    --rose-gold-shadow: 1px 1px 2px #ECC5C0;
    --deep-peach-shadow: 1px 1px 2px #FFCBA4;
    --pastel-orange-shadow: 1px 1px 2px #F8B88B;
    --desert-sand-shadow: 1px 1px 2px #EDC9AF;
    --unbleached-silk-shadow: 1px 1px 2px #FFDDCA;
    --pig-pink-shadow: 1px 1px 2px #FDD7E4;
    --pale-pink-shadow: 1px 1px 2px #F2D4D7;
    --blush-shadow: 1px 1px 2px #FFE6E8;
    --mistyrose-shadow: 1px 1px 2px #FFE4E1;
    --pink-bubble-gum-shadow: 1px 1px 2px #FFDFDD;
    --light-rose-shadow: 1px 1px 2px #FBCFCD;
    --light-red-shadow: 1px 1px 2px #FFCCCB;
    --warm-pink-shadow: 1px 1px 2px #F6C6BD;
    --deep-rose-shadow: 1px 1px 2px #FBBBB9;
    --pink-shadow: 1px 1px 2px #FFC0CB;
    --lightpink-shadow: 1px 1px 2px #FFB6C1;
    --soft-pink-shadow: 1px 1px 2px #FFB8BF;
    --donut-pink-shadow: 1px 1px 2px #FAAFBE;
    --baby-pink-shadow: 1px 1px 2px #FAAFBA;
    --flamingo-pink-shadow: 1px 1px 2px #F9A7B0;
    --pastel-pink-shadow: 1px 1px 2px #FEA3AA;
    --rose-pink-or-pink-rose-shadow: 1px 1px 2px #E7A1B0;
    --cadillac-pink-shadow: 1px 1px 2px #E38AAE;
    --carnation-pink-shadow: 1px 1px 2px #F778A1;
    --pastel-rose-shadow: 1px 1px 2px #E5788F;
    --blush-red-shadow: 1px 1px 2px #E56E94;
    --palevioletred-shadow: 1px 1px 2px #DB7093;
    --purple-pink-shadow: 1px 1px 2px #D16587;
    --tulip-pink-shadow: 1px 1px 2px #C25A7C;
    --bashful-pink-shadow: 1px 1px 2px #C25283;
    --dark-pink-shadow: 1px 1px 2px #E75480;
    --dark-hot-pink-shadow: 1px 1px 2px #F660AB;
    --hotpink-shadow: 1px 1px 2px #FF69B4;
    --watermelon-pink-shadow: 1px 1px 2px #FC6C85;
    --violet-red-shadow: 1px 1px 2px #F6358A;
    --hot-deep-pink-shadow: 1px 1px 2px #F52887;
    --bright-pink-shadow: 1px 1px 2px #FF007F;
    --deeppink-shadow: 1px 1px 2px #FF1493;
    --neon-pink-shadow: 1px 1px 2px #F535AA;
    --chrome-pink-shadow: 1px 1px 2px #FF33AA;
    --neon-hot-pink-shadow: 1px 1px 2px #FD349C;
    --pink-cupcake-shadow: 1px 1px 2px #E45E9D;
    --royal-pink-shadow: 1px 1px 2px #E759AC;
    --dimorphotheca-magenta-shadow: 1px 1px 2px #E3319D;
    --pink-lemonade-shadow: 1px 1px 2px #E4287C;
    --red-pink-shadow: 1px 1px 2px #FA2A55;
    --raspberry-shadow: 1px 1px 2px #E30B5D;
    --crimson-shadow: 1px 1px 2px #DC143C;
    --bright-maroon-shadow: 1px 1px 2px #C32148;
    --rose-red-shadow: 1px 1px 2px #C21E56;
    --rogue-pink-shadow: 1px 1px 2px #C12869;
    --burnt-pink-shadow: 1px 1px 2px #C12267;
    --pink-violet-shadow: 1px 1px 2px #CA226B;
    --magenta-pink-shadow: 1px 1px 2px #CC338B;
    --mediumvioletred-shadow: 1px 1px 2px #C71585;
    --dark-carnation-pink-shadow: 1px 1px 2px #C12283;
    --raspberry-purple-shadow: 1px 1px 2px #B3446C;
    --pink-plum-shadow: 1px 1px 2px #B93B8F;
    --orchid-shadow: 1px 1px 2px #DA70D6;
    --deep-mauve-shadow: 1px 1px 2px #DF73D4;
    --violet-shadow: 1px 1px 2px #EE82EE;
    --fuchsia-pink-shadow: 1px 1px 2px #FF77FF;
    --bright-neon-pink-shadow: 1px 1px 2px #F433FF;
    --magenta-shadow: 1px 1px 2px #FF00FF;
    --crimson-purple-shadow: 1px 1px 2px #E238EC;
    --heliotrope-purple-shadow: 1px 1px 2px #D462FF;
    --tyrian-purple-shadow: 1px 1px 2px #C45AEC;
    --mediumorchid-shadow: 1px 1px 2px #BA55D3;
    --purple-flower-shadow: 1px 1px 2px #A74AC7;
    --orchid-purple-shadow: 1px 1px 2px #B048B5;
    --rich-lilac-shadow: 1px 1px 2px #B666D2;
    --pastel-violet-shadow: 1px 1px 2px #D291BC;
    --mauve-taupe-shadow: 1px 1px 2px #915F6D;
    --viola-purple-shadow: 1px 1px 2px #7E587E;
    --eggplant-shadow: 1px 1px 2px #614051;
    --plum-purple-shadow: 1px 1px 2px #583759;
    --grape-shadow: 1px 1px 2px #5E5A80;
    --purple-navy-shadow: 1px 1px 2px #4E5180;
    --slateblue-shadow: 1px 1px 2px #6A5ACD;
    --blue-lotus-shadow: 1px 1px 2px #6960EC;
    --blurple-shadow: 1px 1px 2px #5865F2;
    --light-slate-blue-shadow: 1px 1px 2px #736AFF;
    --mediumslateblue-shadow: 1px 1px 2px #7B68EE;
    --periwinkle-purple-shadow: 1px 1px 2px #7575CF;
    --very-peri-shadow: 1px 1px 2px #6667AB;
    --bright-grape-shadow: 1px 1px 2px #6F2DA8;
    --purple-amethyst-shadow: 1px 1px 2px #6C2DC7;
    --bright-purple-shadow: 1px 1px 2px #6A0DAD;
    --deep-periwinkle-shadow: 1px 1px 2px #5453A6;
    --darkslateblue-shadow: 1px 1px 2px #483D8B;
    --purple-haze-shadow: 1px 1px 2px #4E387E;
    --purple-iris-shadow: 1px 1px 2px #571B7E;
    --dark-purple-shadow: 1px 1px 2px #4B0150;
    --deep-purple-shadow: 1px 1px 2px #36013F;
    --midnight-purple-shadow: 1px 1px 2px #2E1A47;
    --purple-monster-shadow: 1px 1px 2px #461B7E;
    --indigo-shadow: 1px 1px 2px #4B0082;
    --blue-whale-shadow: 1px 1px 2px #342D7E;
    --rebeccapurple-shadow: 1px 1px 2px #663399;
    --purple-jam-shadow: 1px 1px 2px #6A287E;
    --darkmagenta-shadow: 1px 1px 2px #8B008B;
    --purple-shadow: 1px 1px 2px #800080;
    --french-lilac-shadow: 1px 1px 2px #86608E;
    --darkorchid-shadow: 1px 1px 2px #9932CC;
    --darkviolet-shadow: 1px 1px 2px #9400D3;
    --purple-violet-shadow: 1px 1px 2px #8D38C9;
    --jasmine-purple-shadow: 1px 1px 2px #A23BEC;
    --purple-daffodil-shadow: 1px 1px 2px #B041FF;
    --clematis-violet-shadow: 1px 1px 2px #842DCE;
    --blueviolet-shadow: 1px 1px 2px #8A2BE2;
    --purple-sage-bush-shadow: 1px 1px 2px #7A5DC7;
    --lovely-purple-shadow: 1px 1px 2px #7F38EC;
    --neon-purple-shadow: 1px 1px 2px #9D00FF;
    --purple-plum-shadow: 1px 1px 2px #8E35EF;
    --aztech-purple-shadow: 1px 1px 2px #893BFF;
    --mediumpurple-shadow: 1px 1px 2px #9370DB;
    --light-purple-shadow: 1px 1px 2px #8467D7;
    --crocus-purple-shadow: 1px 1px 2px #9172EC;
    --purple-mimosa-shadow: 1px 1px 2px #9E7BFF;
    --periwinkle-shadow: 1px 1px 2px #CCCCFF;
    --pale-lilac-shadow: 1px 1px 2px #DCD0FF;
    --lavender-purple-shadow: 1px 1px 2px #967BB6;
    --rose-purple-shadow: 1px 1px 2px #B09FCA;
    --lilac-shadow: 1px 1px 2px #C8A2C8;
    --mauve-shadow: 1px 1px 2px #E0B0FF;
    --bright-lilac-shadow: 1px 1px 2px #D891EF;
    --purple-dragon-shadow: 1px 1px 2px #C38EC7;
    --plum-shadow: 1px 1px 2px #DDA0DD;
    --blush-pink-shadow: 1px 1px 2px #E6A9EC;
    --pastel-purple-shadow: 1px 1px 2px #F2A2E8;
    --blossom-pink-shadow: 1px 1px 2px #F9B7FF;
    --wisteria-purple-shadow: 1px 1px 2px #C6AEC7;
    --purple-thistle-shadow: 1px 1px 2px #D2B9D3;
    --thistle-shadow: 1px 1px 2px #D8BFD8;
    --purple-white-shadow: 1px 1px 2px #DFD3E3;
    --periwinkle-pink-shadow: 1px 1px 2px #E9CFEC;
    --cotton-candy-shadow: 1px 1px 2px #FCDFFF;
    --lavender-pinocchio-shadow: 1px 1px 2px #EBDDE2;
    --dark-white-shadow: 1px 1px 2px #E1D9D1;
    --ash-white-shadow: 1px 1px 2px #E9E4D4;
    --white-chocolate-shadow: 1px 1px 2px #EDE6D6;
    --soft-ivory-shadow: 1px 1px 2px #FAF0DD;
    --off-white-shadow: 1px 1px 2px #F8F0E3;
    --pearl-white-shadow: 1px 1px 2px #F8F6F0;
    --red-white-shadow: 1px 1px 2px #F3E8EA;
    --lavenderblush-shadow: 1px 1px 2px #FFF0F5;
    --pearl-shadow: 1px 1px 2px #FDEEF4;
    --egg-shell-shadow: 1px 1px 2px #FFF9E3;
    --oldlace-shadow: 1px 1px 2px #FEF0E3;
    --linen-shadow: 1px 1px 2px #FAF0E6;
    --seashell-shadow: 1px 1px 2px #FFF5EE;
    --bone-white-shadow: 1px 1px 2px #F9F6EE;
    --rice-shadow: 1px 1px 2px #FAF5EF;
    --floralwhite-shadow: 1px 1px 2px #FFFAF0;
    --ivory-shadow: 1px 1px 2px #FFFFF0;
    --white-gold-shadow: 1px 1px 2px #FFFFF4;
    --light-white-shadow: 1px 1px 2px #FFFFF7;
    --whitesmoke-shadow: 1px 1px 2px #F5F5F5;
    --cotton-shadow: 1px 1px 2px #FBFBF9;
    --snow-shadow: 1px 1px 2px #FFFAFA;
    --milk-white-shadow: 1px 1px 2px #FEFCFF;
    --half-white-shadow: 1px 1px 2px #FFFEFA;
    --white-shadow: 1px 1px 2px #FFFFFF;


}