:root {
    --black-rgb: rgb(0, 0, 0); 
    --night-rgb: rgb(12, 9, 10); 
    --charcoal-rgb: rgb(52, 40, 44); 
    --oil-rgb: rgb(59, 49, 49); 
    --dark-gray-rgb: rgb(58, 59, 60); 
    --light-black-rgb: rgb(69, 69, 69); 
    --black-cat-rgb: rgb(65, 56, 57); 
    --iridium-rgb: rgb(61, 60, 58); 
    --black-eel-rgb: rgb(70, 62, 63); 
    --black-cow-rgb: rgb(76, 70, 70); 
    --gray-wolf-rgb: rgb(80, 74, 75); 
    --vampire-gray-rgb: rgb(86, 80, 81); 
    --iron-gray-rgb: rgb(82, 89, 93); 
    --gray-dolphin-rgb: rgb(92, 88, 88); 
    --carbon-gray-rgb: rgb(98, 93, 93); 
    --ash-gray-rgb: rgb(102, 99, 98); 
    --dimgray-or-dimgrey-rgb: rgb(105, 105, 105); 
    --nardo-gray-rgb: rgb(104, 106, 108); 
    --cloudy-gray-rgb: rgb(109, 105, 104); 
    --smokey-gray-rgb: rgb(114, 110, 109); 
    --alien-gray-rgb: rgb(115, 111, 110); 
    --sonic-silver-rgb: rgb(117, 117, 117); 
    --platinum-gray-rgb: rgb(121, 121, 121); 
    --granite-rgb: rgb(131, 126, 124); 
    --gray-or-grey-rgb: rgb(128, 128, 128); 
    --battleship-gray-rgb: rgb(132, 132, 130); 
    --gunmetal-gray-rgb: rgb(141, 145, 141); 
    --darkgray-or-darkgrey-rgb: rgb(169, 169, 169); 
    --gray-cloud-rgb: rgb(182, 182, 180); 
    --silver-rgb: rgb(192, 192, 192); 
    --pale-silver-rgb: rgb(201, 192, 187); 
    --gray-goose-rgb: rgb(209, 208, 206); 
    --platinum-silver-rgb: rgb(206, 206, 206); 
    --lightgray-or-lightgrey-rgb: rgb(211, 211, 211); 
    --silver-white-rgb: rgb(218, 219, 221); 
    --gainsboro-rgb: rgb(220, 220, 220); 
    --platinum-rgb: rgb(229, 228, 226); 
    --metallic-silver-rgb: rgb(188, 198, 204); 
    --blue-gray-rgb: rgb(152, 175, 199); 
    --roman-silver-rgb: rgb(131, 137, 150); 
    --lightslategray-or-lightslategrey-rgb: rgb(119, 136, 153); 
    --slategray-or-slategrey-rgb: rgb(112, 128, 144); 
    --rat-gray-rgb: rgb(109, 123, 141); 
    --slate-granite-gray-rgb: rgb(101, 115, 131); 
    --jet-gray-rgb: rgb(97, 109, 126); 
    --mist-blue-rgb: rgb(100, 109, 126); 
    --marble-blue-rgb: rgb(86, 109, 126); 
    --slate-blue-grey-rgb: rgb(115, 124, 161); 
    --light-purple-blue-rgb: rgb(114, 143, 206); 
    --azure-blue-rgb: rgb(72, 99, 160); 
    --blue-jay-rgb: rgb(43, 84, 126); 
    --charcoal-blue-rgb: rgb(54, 69, 79); 
    --dark-blue-grey-rgb: rgb(41, 70, 91); 
    --dark-slate-rgb: rgb(43, 56, 86); 
    --deep-sea-blue-rgb: rgb(18, 52, 86); 
    --night-blue-rgb: rgb(21, 27, 84); 
    --midnightblue-rgb: rgb(25, 25, 112); 
    --navy-rgb: rgb(0, 0, 128); 
    --denim-dark-blue-rgb: rgb(21, 27, 141); 
    --darkblue-rgb: rgb(0, 0, 139); 
    --lapis-blue-rgb: rgb(21, 49, 126); 
    --new-midnight-blue-rgb: rgb(0, 0, 160); 
    --earth-blue-rgb: rgb(0, 0, 165); 
    --cobalt-blue-rgb: rgb(0, 32, 194); 
    --mediumblue-rgb: rgb(0, 0, 205); 
    --blueberry-blue-rgb: rgb(0, 65, 194); 
    --canary-blue-rgb: rgb(41, 22, 245); 
    --blue-rgb: rgb(0, 0, 255); 
    --samco-blue-rgb: rgb(0, 2, 255); 
    --bright-blue-rgb: rgb(9, 9, 255); 
    --blue-orchid-rgb: rgb(31, 69, 252); 
    --sapphire-blue-rgb: rgb(37, 84, 199); 
    --blue-eyes-rgb: rgb(21, 105, 199); 
    --bright-navy-blue-rgb: rgb(25, 116, 210); 
    --balloon-blue-rgb: rgb(43, 96, 222); 
    --royalblue-rgb: rgb(65, 105, 225); 
    --ocean-blue-rgb: rgb(43, 101, 236); 
    --blue-ribbon-rgb: rgb(48, 110, 255); 
    --blue-dress-rgb: rgb(21, 125, 236); 
    --neon-blue-rgb: rgb(21, 137, 255); 
    --dodgerblue-rgb: rgb(30, 144, 255); 
    --glacial-blue-ice-rgb: rgb(54, 139, 193); 
    --steelblue-rgb: rgb(70, 130, 180); 
    --silk-blue-rgb: rgb(72, 138, 199); 
    --windows-blue-rgb: rgb(53, 126, 199); 
    --blue-ivy-rgb: rgb(48, 144, 199); 
    --blue-koi-rgb: rgb(101, 158, 199); 
    --columbia-blue-rgb: rgb(135, 175, 199); 
    --baby-blue-rgb: rgb(149, 185, 199); 
    --cornflowerblue-rgb: rgb(100, 149, 237); 
    --sky-blue-dress-rgb: rgb(102, 152, 255); 
    --iceberg-rgb: rgb(86, 165, 236); 
    --butterfly-blue-rgb: rgb(56, 172, 236); 
    --deepskyblue-rgb: rgb(0, 191, 255); 
    --midday-blue-rgb: rgb(59, 185, 255); 
    --crystal-blue-rgb: rgb(92, 179, 255); 
    --denim-blue-rgb: rgb(121, 186, 236); 
    --day-sky-blue-rgb: rgb(130, 202, 255); 
    --lightskyblue-rgb: rgb(135, 206, 250); 
    --skyblue-rgb: rgb(135, 206, 235); 
    --jeans-blue-rgb: rgb(160, 207, 236); 
    --blue-angel-rgb: rgb(183, 206, 236); 
    --pastel-blue-rgb: rgb(180, 207, 236); 
    --light-day-blue-rgb: rgb(173, 223, 255); 
    --sea-blue-rgb: rgb(194, 223, 255); 
    --heavenly-blue-rgb: rgb(198, 222, 255); 
    --robin-egg-blue-rgb: rgb(189, 237, 255); 
    --powderblue-rgb: rgb(176, 224, 230); 
    --coral-blue-rgb: rgb(175, 220, 236); 
    --lightblue-rgb: rgb(173, 216, 230); 
    --lightsteelblue-rgb: rgb(176, 207, 222); 
    --gulf-blue-rgb: rgb(201, 223, 236); 
    --pastel-light-blue-rgb: rgb(213, 214, 234); 
    --lavender-blue-rgb: rgb(227, 228, 250); 
    --white-blue-rgb: rgb(219, 233, 250); 
    --lavender-rgb: rgb(230, 230, 250); 
    --water-rgb: rgb(235, 244, 250); 
    --aliceblue-rgb: rgb(240, 248, 255); 
    --ghostwhite-rgb: rgb(248, 248, 255); 
    --azure-rgb: rgb(240, 255, 255); 
    --lightcyan-rgb: rgb(224, 255, 255); 
    --light-slate-rgb: rgb(204, 255, 255); 
    --electric-blue-rgb: rgb(154, 254, 255); 
    --tron-blue-rgb: rgb(125, 253, 254); 
    --blue-zircon-rgb: rgb(87, 254, 255); 
    --aqua-or-cyan-rgb: rgb(0, 255, 255); 
    --bright-cyan-rgb: rgb(10, 255, 255); 
    --celeste-rgb: rgb(80, 235, 236); 
    --blue-diamond-rgb: rgb(78, 226, 236); 
    --bright-turquoise-rgb: rgb(22, 226, 245); 
    --blue-lagoon-rgb: rgb(142, 235, 236); 
    --paleturquoise-rgb: rgb(175, 238, 238); 
    --pale-blue-lily-rgb: rgb(207, 236, 236); 
    --light-teal-rgb: rgb(179, 217, 217); 
    --tiffany-blue-rgb: rgb(129, 216, 208); 
    --blue-hosta-rgb: rgb(119, 191, 199); 
    --cyan-opaque-rgb: rgb(146, 199, 199); 
    --northern-lights-blue-rgb: rgb(120, 199, 199); 
    --blue-green-rgb: rgb(123, 204, 181); 
    --mediumaquamarine-rgb: rgb(102, 205, 170); 
    --magic-mint-rgb: rgb(170, 240, 209); 
    --light-aquamarine-rgb: rgb(147, 255, 232); 
    --aquamarine-rgb: rgb(127, 255, 212); 
    --bright-teal-rgb: rgb(1, 249, 198); 
    --turquoise-rgb: rgb(64, 224, 208); 
    --mediumturquoise-rgb: rgb(72, 209, 204); 
    --deep-turquoise-rgb: rgb(72, 204, 205); 
    --jellyfish-rgb: rgb(70, 199, 199); 
    --blue-turquoise-rgb: rgb(67, 198, 219); 
    --darkturquoise-rgb: rgb(0, 206, 209); 
    --macaw-blue-green-rgb: rgb(67, 191, 199); 
    --lightseagreen-rgb: rgb(32, 178, 170); 
    --seafoam-green-rgb: rgb(62, 169, 159); 
    --cadetblue-rgb: rgb(95, 158, 160); 
    --deep-sea-rgb: rgb(59, 156, 156); 
    --darkcyan-rgb: rgb(0, 139, 139); 
    --teal-green-rgb: rgb(0, 130, 127); 
    --teal-rgb: rgb(0, 128, 128); 
    --teal-blue-rgb: rgb(0, 124, 128); 
    --medium-teal-rgb: rgb(4, 95, 95); 
    --dark-teal-rgb: rgb(4, 93, 93); 
    --deep-teal-rgb: rgb(3, 62, 62); 
    --darkslategray-or-darkslategrey-rgb: rgb(37, 56, 60); 
    --gunmetal-rgb: rgb(44, 53, 57); 
    --blue-moss-green-rgb: rgb(60, 86, 91); 
    --beetle-green-rgb: rgb(76, 120, 126); 
    --grayish-turquoise-rgb: rgb(94, 125, 126); 
    --greenish-blue-rgb: rgb(48, 125, 126); 
    --aquamarine-stone-rgb: rgb(52, 135, 129); 
    --sea-turtle-green-rgb: rgb(67, 141, 128); 
    --dull-sea-green-rgb: rgb(78, 137, 117); 
    --dark-green-blue-rgb: rgb(31, 99, 87); 
    --deep-sea-green-rgb: rgb(48, 103, 84); 
    --bottle-green-rgb: rgb(0, 106, 78); 
    --seagreen-rgb: rgb(46, 139, 87); 
    --elf-green-rgb: rgb(27, 138, 107); 
    --dark-mint-rgb: rgb(49, 144, 110); 
    --jade-rgb: rgb(0, 163, 108); 
    --earth-green-rgb: rgb(52, 165, 111); 
    --chrome-green-rgb: rgb(26, 162, 96); 
    --emerald-rgb: rgb(80, 200, 120); 
    --mint-rgb: rgb(62, 180, 137); 
    --mediumseagreen-rgb: rgb(60, 179, 113); 
    --metallic-green-rgb: rgb(124, 157, 142); 
    --camouflage-green-rgb: rgb(120, 134, 107); 
    --sage-green-rgb: rgb(132, 139, 121); 
    --hazel-green-rgb: rgb(97, 124, 88); 
    --venom-green-rgb: rgb(114, 140, 0); 
    --olivedrab-rgb: rgb(107, 142, 35); 
    --olive-rgb: rgb(128, 128, 0); 
    --darkolivegreen-rgb: rgb(85, 107, 47); 
    --military-green-rgb: rgb(78, 91, 49); 
    --green-leaves-rgb: rgb(58, 95, 11); 
    --army-green-rgb: rgb(75, 83, 32); 
    --fern-green-rgb: rgb(102, 124, 38); 
    --fall-forest-green-rgb: rgb(78, 146, 88); 
    --irish-green-rgb: rgb(8, 160, 75); 
    --pine-green-rgb: rgb(56, 124, 68); 
    --medium-forest-green-rgb: rgb(52, 114, 53); 
    --jungle-green-rgb: rgb(52, 124, 44); 
    --cactus-green-rgb: rgb(34, 116, 66); 
    --forestgreen-rgb: rgb(34, 139, 34); 
    --green-rgb: rgb(0, 128, 0); 
    --darkgreen-rgb: rgb(0, 100, 0); 
    --deep-green-rgb: rgb(5, 102, 8); 
    --deep-emerald-green-rgb: rgb(4, 99, 7); 
    --hunter-green-rgb: rgb(53, 94, 59); 
    --dark-forest-green-rgb: rgb(37, 65, 23); 
    --lotus-green-rgb: rgb(0, 66, 37); 
    --seaweed-green-rgb: rgb(67, 124, 23); 
    --shamrock-green-rgb: rgb(52, 124, 23); 
    --green-onion-rgb: rgb(106, 161, 33); 
    --moss-green-rgb: rgb(138, 154, 91); 
    --grass-green-rgb: rgb(63, 155, 11); 
    --green-pepper-rgb: rgb(74, 160, 44); 
    --dark-lime-green-rgb: rgb(65, 163, 23); 
    --parrot-green-rgb: rgb(18, 173, 43); 
    --clover-green-rgb: rgb(62, 160, 85); 
    --dinosaur-green-rgb: rgb(115, 161, 108); 
    --green-snake-rgb: rgb(108, 187, 60); 
    --alien-green-rgb: rgb(108, 196, 23); 
    --green-apple-rgb: rgb(76, 196, 23); 
    --limegreen-rgb: rgb(50, 205, 50); 
    --pea-green-rgb: rgb(82, 208, 23); 
    --kelly-green-rgb: rgb(76, 197, 82); 
    --zombie-green-rgb: rgb(84, 197, 113); 
    --green-peas-rgb: rgb(137, 195, 92); 
    --dollar-bill-green-rgb: rgb(133, 187, 101); 
    --frog-green-rgb: rgb(153, 198, 142); 
    --turquoise-green-rgb: rgb(160, 214, 180); 
    --darkseagreen-rgb: rgb(143, 188, 143); 
    --basil-green-rgb: rgb(130, 159, 130); 
    --gray-green-rgb: rgb(162, 173, 156); 
    --iguana-green-rgb: rgb(156, 176, 113); 
    --citron-green-rgb: rgb(143, 179, 29); 
    --acid-green-rgb: rgb(176, 191, 26); 
    --avocado-green-rgb: rgb(178, 194, 72); 
    --pistachio-green-rgb: rgb(157, 194, 9); 
    --salad-green-rgb: rgb(161, 201, 53); 
    --yellowgreen-rgb: rgb(154, 205, 50); 
    --pastel-green-rgb: rgb(119, 221, 119); 
    --hummingbird-green-rgb: rgb(127, 232, 23); 
    --nebula-green-rgb: rgb(89, 232, 23); 
    --stoplight-go-green-rgb: rgb(87, 233, 100); 
    --neon-green-rgb: rgb(22, 245, 41); 
    --jade-green-rgb: rgb(94, 251, 110); 
    --lime-mint-green-rgb: rgb(54, 245, 127); 
    --springgreen-rgb: rgb(0, 255, 127); 
    --mediumspringgreen-rgb: rgb(0, 250, 154); 
    --emerald-green-rgb: rgb(95, 251, 23); 
    --lime-rgb: rgb(0, 255, 0); 
    --lawngreen-rgb: rgb(124, 252, 0); 
    --bright-green-rgb: rgb(102, 255, 0); 
    --chartreuse-rgb: rgb(127, 255, 0); 
    --yellow-lawn-green-rgb: rgb(135, 247, 23); 
    --aloe-vera-green-rgb: rgb(152, 245, 22); 
    --dull-green-yellow-rgb: rgb(177, 251, 23); 
    --lemon-green-rgb: rgb(173, 248, 2); 
    --greenyellow-rgb: rgb(173, 255, 47); 
    --chameleon-green-rgb: rgb(189, 245, 22); 
    --neon-yellow-green-rgb: rgb(218, 238, 1); 
    --yellow-green-grosbeak-rgb: rgb(226, 245, 22); 
    --tea-green-rgb: rgb(204, 251, 93); 
    --slime-green-rgb: rgb(188, 233, 84); 
    --algae-green-rgb: rgb(100, 233, 134); 
    --lightgreen-rgb: rgb(144, 238, 144); 
    --dragon-green-rgb: rgb(106, 251, 146); 
    --palegreen-rgb: rgb(152, 251, 152); 
    --mint-green-rgb: rgb(152, 255, 152); 
    --green-thumb-rgb: rgb(181, 234, 170); 
    --organic-brown-rgb: rgb(227, 249, 166); 
    --light-jade-rgb: rgb(195, 253, 184); 
    --light-mint-green-rgb: rgb(194, 229, 211); 
    --light-rose-green-rgb: rgb(219, 249, 219); 
    --chrome-white-rgb: rgb(232, 241, 212); 
    --honeydew-rgb: rgb(240, 255, 240); 
    --mintcream-rgb: rgb(245, 255, 250); 
    --lemonchiffon-rgb: rgb(255, 250, 205); 
    --parchment-rgb: rgb(255, 255, 194); 
    --cream-rgb: rgb(255, 255, 204); 
    --cream-white-rgb: rgb(255, 253, 208); 
    --lightgoldenrodyellow-rgb: rgb(250, 250, 210); 
    --lightyellow-rgb: rgb(255, 255, 224); 
    --beige-rgb: rgb(245, 245, 220); 
    --cornsilk-rgb: rgb(255, 248, 220); 
    --blonde-rgb: rgb(251, 246, 217); 
    --champagne-rgb: rgb(247, 231, 206); 
    --antiquewhite-rgb: rgb(250, 235, 215); 
    --papayawhip-rgb: rgb(255, 239, 213); 
    --blanchedalmond-rgb: rgb(255, 235, 205); 
    --bisque-rgb: rgb(255, 228, 196); 
    --wheat-rgb: rgb(245, 222, 179); 
    --moccasin-rgb: rgb(255, 228, 181); 
    --peach-rgb: rgb(255, 229, 180); 
    --light-orange-rgb: rgb(254, 216, 177); 
    --peachpuff-rgb: rgb(255, 218, 185); 
    --coral-peach-rgb: rgb(251, 213, 171); 
    --navajowhite-rgb: rgb(255, 222, 173); 
    --golden-blonde-rgb: rgb(251, 231, 161); 
    --golden-silk-rgb: rgb(243, 227, 195); 
    --dark-blonde-rgb: rgb(240, 226, 182); 
    --light-gold-rgb: rgb(241, 229, 172); 
    --vanilla-rgb: rgb(243, 229, 171); 
    --tan-brown-rgb: rgb(236, 229, 182); 
    --dirty-white-rgb: rgb(232, 228, 201); 
    --palegoldenrod-rgb: rgb(238, 232, 170); 
    --khaki-rgb: rgb(240, 230, 140); 
    --cardboard-brown-rgb: rgb(237, 218, 116); 
    --harvest-gold-rgb: rgb(237, 226, 117); 
    --sun-yellow-rgb: rgb(255, 232, 124); 
    --corn-yellow-rgb: rgb(255, 243, 128); 
    --pastel-yellow-rgb: rgb(250, 248, 132); 
    --neon-yellow-rgb: rgb(255, 255, 51); 
    --yellow-rgb: rgb(255, 255, 0); 
    --canary-yellow-rgb: rgb(255, 239, 0); 
    --banana-yellow-rgb: rgb(245, 226, 22); 
    --mustard-yellow-rgb: rgb(255, 219, 88); 
    --golden-yellow-rgb: rgb(255, 223, 0); 
    --bold-yellow-rgb: rgb(249, 219, 36); 
    --rubber-ducky-yellow-rgb: rgb(255, 216, 1); 
    --gold-rgb: rgb(255, 215, 0); 
    --bright-gold-rgb: rgb(253, 208, 23); 
    --chrome-gold-rgb: rgb(255, 206, 68); 
    --golden-brown-rgb: rgb(234, 193, 23); 
    --deep-yellow-rgb: rgb(246, 190, 0); 
    --macaroni-and-cheese-rgb: rgb(242, 187, 102); 
    --saffron-rgb: rgb(251, 185, 23); 
    --neon-gold-rgb: rgb(253, 189, 1); 
    --beer-rgb: rgb(251, 177, 23); 
    --yellow-orange-or-orange-yellow-rgb: rgb(255, 174, 66); 
    --cantaloupe-rgb: rgb(255, 166, 47); 
    --cheese-orange-rgb: rgb(255, 166, 0); 
    --orange-rgb: rgb(255, 165, 0); 
    --brown-sand-rgb: rgb(238, 154, 77); 
    --sandybrown-rgb: rgb(244, 164, 96); 
    --brown-sugar-rgb: rgb(226, 167, 111); 
    --camel-brown-rgb: rgb(193, 154, 107); 
    --deer-brown-rgb: rgb(230, 191, 131); 
    --burlywood-rgb: rgb(222, 184, 135); 
    --tan-rgb: rgb(210, 180, 140); 
    --light-french-beige-rgb: rgb(200, 173, 127); 
    --sand-rgb: rgb(194, 178, 128); 
    --sage-rgb: rgb(188, 184, 138); 
    --fall-leaf-brown-rgb: rgb(200, 181, 96); 
    --ginger-brown-rgb: rgb(201, 190, 98); 
    --bronze-gold-rgb: rgb(201, 174, 93); 
    --darkkhaki-rgb: rgb(189, 183, 107); 
    --olive-green-rgb: rgb(186, 184, 108); 
    --brass-rgb: rgb(181, 166, 66); 
    --cookie-brown-rgb: rgb(199, 163, 23); 
    --metallic-gold-rgb: rgb(212, 175, 55); 
    --bee-yellow-rgb: rgb(233, 171, 23); 
    --school-bus-yellow-rgb: rgb(232, 163, 23); 
    --goldenrod-rgb: rgb(218, 165, 32); 
    --orange-gold-rgb: rgb(212, 160, 23); 
    --caramel-rgb: rgb(198, 142, 23); 
    --darkgoldenrod-rgb: rgb(184, 134, 11); 
    --cinnamon-rgb: rgb(197, 137, 23); 
    --peru-rgb: rgb(205, 133, 63); 
    --bronze-rgb: rgb(205, 127, 50); 
    --tiger-orange-rgb: rgb(200, 129, 65); 
    --copper-rgb: rgb(184, 115, 51); 
    --dark-gold-rgb: rgb(170, 108, 57); 
    --metallic-bronze-rgb: rgb(169, 113, 66); 
    --dark-almond-rgb: rgb(171, 120, 78); 
    --wood-rgb: rgb(150, 111, 51); 
    --oak-brown-rgb: rgb(128, 101, 23); 
    --antique-bronze-rgb: rgb(102, 93, 30); 
    --hazel-rgb: rgb(142, 118, 24); 
    --dark-yellow-rgb: rgb(139, 128, 0); 
    --dark-moccasin-rgb: rgb(130, 120, 57); 
    --khaki-green-rgb: rgb(138, 134, 93); 
    --millennium-jade-rgb: rgb(147, 145, 124); 
    --dark-beige-rgb: rgb(159, 140, 118); 
    --bullet-shell-rgb: rgb(175, 155, 96); 
    --army-brown-rgb: rgb(130, 123, 96); 
    --sandstone-rgb: rgb(120, 109, 95); 
    --taupe-rgb: rgb(72, 60, 50); 
    --mocha-rgb: rgb(73, 61, 38); 
    --milk-chocolate-rgb: rgb(81, 59, 28); 
    --gray-brown-rgb: rgb(61, 54, 53); 
    --dark-coffee-rgb: rgb(59, 47, 47); 
    --old-burgundy-rgb: rgb(67, 48, 46); 
    --western-charcoal-rgb: rgb(73, 65, 63); 
    --bakers-brown-rgb: rgb(92, 51, 23); 
    --dark-brown-rgb: rgb(101, 67, 33); 
    --sepia-brown-rgb: rgb(112, 66, 20); 
    --dark-bronze-rgb: rgb(128, 74, 0); 
    --coffee-rgb: rgb(111, 78, 55); 
    --brown-bear-rgb: rgb(131, 92, 59); 
    --red-dirt-rgb: rgb(127, 82, 23); 
    --sepia-rgb: rgb(127, 70, 44); 
    --sienna-rgb: rgb(160, 82, 45); 
    --saddlebrown-rgb: rgb(139, 69, 19); 
    --dark-sienna-rgb: rgb(138, 65, 23); 
    --sangria-rgb: rgb(126, 56, 23); 
    --blood-red-rgb: rgb(126, 53, 23); 
    --chestnut-rgb: rgb(149, 69, 53); 
    --coral-brown-rgb: rgb(158, 70, 56); 
    --chestnut-red-rgb: rgb(195, 74, 44); 
    --mahogany-rgb: rgb(192, 64, 0); 
    --red-gold-rgb: rgb(235, 84, 6); 
    --red-fox-rgb: rgb(195, 88, 23); 
    --dark-bisque-rgb: rgb(184, 101, 0); 
    --light-brown-rgb: rgb(181, 101, 29); 
    --petra-gold-rgb: rgb(183, 103, 52); 
    --rust-rgb: rgb(195, 98, 65); 
    --copper-red-rgb: rgb(203, 109, 81); 
    --orange-salmon-rgb: rgb(196, 116, 81); 
    --chocolate-rgb: rgb(210, 105, 30); 
    --sedona-rgb: rgb(204, 102, 0); 
    --papaya-orange-rgb: rgb(229, 103, 23); 
    --halloween-orange-rgb: rgb(230, 108, 44); 
    --neon-orange-rgb: rgb(255, 103, 0); 
    --bright-orange-rgb: rgb(255, 95, 31); 
    --pumpkin-orange-rgb: rgb(248, 114, 23); 
    --carrot-orange-rgb: rgb(248, 128, 23); 
    --darkorange-rgb: rgb(255, 140, 0); 
    --construction-cone-orange-rgb: rgb(248, 116, 49); 
    --indian-saffron-rgb: rgb(255, 119, 34); 
    --sunrise-orange-rgb: rgb(230, 116, 81); 
    --mango-orange-rgb: rgb(255, 128, 64); 
    --coral-rgb: rgb(255, 127, 80); 
    --basket-ball-orange-rgb: rgb(248, 129, 88); 
    --light-salmon-rose-rgb: rgb(249, 150, 107); 
    --lightsalmon-rgb: rgb(255, 160, 122); 
    --darksalmon-rgb: rgb(233, 150, 122); 
    --tangerine-rgb: rgb(231, 138, 97); 
    --light-copper-rgb: rgb(218, 138, 103); 
    --salmon-pink-rgb: rgb(255, 134, 116); 
    --salmon-rgb: rgb(250, 128, 114); 
    --peach-pink-rgb: rgb(249, 139, 136); 
    --lightcoral-rgb: rgb(240, 128, 128); 
    --pastel-red-rgb: rgb(246, 114, 128); 
    --pink-coral-rgb: rgb(231, 116, 113); 
    --bean-red-rgb: rgb(247, 93, 89); 
    --valentine-red-rgb: rgb(229, 84, 81); 
    --indianred-rgb: rgb(205, 92, 92); 
    --tomato-rgb: rgb(255, 99, 71); 
    --shocking-orange-rgb: rgb(229, 91, 60); 
    --orangered-rgb: rgb(255, 69, 0); 
    --red-rgb: rgb(255, 0, 0); 
    --neon-red-rgb: rgb(253, 28, 3); 
    --scarlet-red-rgb: rgb(255, 36, 0); 
    --ruby-red-rgb: rgb(246, 34, 23); 
    --ferrari-red-rgb: rgb(247, 13, 26); 
    --fire-engine-red-rgb: rgb(246, 40, 23); 
    --lava-red-rgb: rgb(228, 34, 23); 
    --love-red-rgb: rgb(228, 27, 23); 
    --grapefruit-rgb: rgb(220, 56, 31); 
    --cherry-red-rgb: rgb(194, 70, 65); 
    --chilli-pepper-rgb: rgb(193, 27, 23); 
    --firebrick-rgb: rgb(178, 34, 34); 
    --tomato-sauce-red-rgb: rgb(178, 24, 7); 
    --brown-rgb: rgb(165, 42, 42); 
    --carbon-red-rgb: rgb(167, 13, 42); 
    --cranberry-rgb: rgb(159, 0, 15); 
    --saffron-red-rgb: rgb(147, 19, 20); 
    --crimson-red-rgb: rgb(153, 0, 0); 
    --red-wine-or-wine-red-rgb: rgb(153, 0, 18); 
    --darkred-rgb: rgb(139, 0, 0); 
    --maroon-rgb: rgb(128, 0, 0); 
    --burgundy-rgb: rgb(140, 0, 26); 
    --vermilion-rgb: rgb(126, 25, 27); 
    --deep-red-rgb: rgb(128, 5, 23); 
    --red-blood-rgb: rgb(102, 0, 0); 
    --blood-night-rgb: rgb(85, 22, 6); 
    --dark-scarlet-rgb: rgb(86, 3, 25); 
    --black-bean-rgb: rgb(61, 12, 2); 
    --chocolate-brown-rgb: rgb(63, 0, 15); 
    --midnight-rgb: rgb(43, 27, 23); 
    --purple-lily-rgb: rgb(85, 10, 53); 
    --purple-maroon-rgb: rgb(129, 5, 65); 
    --plum-pie-rgb: rgb(125, 5, 65); 
    --plum-velvet-rgb: rgb(125, 5, 82); 
    --dark-raspberry-rgb: rgb(135, 38, 87); 
    --velvet-maroon-rgb: rgb(126, 53, 77); 
    --rosy-finch-rgb: rgb(127, 78, 82); 
    --dull-purple-rgb: rgb(127, 82, 93); 
    --puce-rgb: rgb(127, 90, 88); 
    --rose-dust-rgb: rgb(153, 112, 112); 
    --pastel-brown-rgb: rgb(177, 144, 127); 
    --rosy-pink-rgb: rgb(179, 132, 129); 
    --rosybrown-rgb: rgb(188, 143, 143); 
    --khaki-rose-rgb: rgb(197, 144, 142); 
    --lipstick-pink-rgb: rgb(196, 135, 147); 
    --pink-brown-rgb: rgb(196, 129, 137); 
    --old-rose-rgb: rgb(192, 128, 129); 
    --dusty-pink-rgb: rgb(213, 138, 148); 
    --pink-daisy-rgb: rgb(231, 153, 163); 
    --rose-rgb: rgb(232, 173, 170); 
    --dusty-rose-rgb: rgb(201, 169, 166); 
    --silver-pink-rgb: rgb(196, 174, 173); 
    --gold-pink-rgb: rgb(230, 199, 194); 
    --rose-gold-rgb: rgb(236, 197, 192); 
    --deep-peach-rgb: rgb(255, 203, 164); 
    --pastel-orange-rgb: rgb(248, 184, 139); 
    --desert-sand-rgb: rgb(237, 201, 175); 
    --unbleached-silk-rgb: rgb(255, 221, 202); 
    --pig-pink-rgb: rgb(253, 215, 228); 
    --pale-pink-rgb: rgb(242, 212, 215); 
    --blush-rgb: rgb(255, 230, 232); 
    --mistyrose-rgb: rgb(255, 228, 225); 
    --pink-bubble-gum-rgb: rgb(255, 223, 221); 
    --light-rose-rgb: rgb(251, 207, 205); 
    --light-red-rgb: rgb(255, 204, 203); 
    --warm-pink-rgb: rgb(246, 198, 189); 
    --deep-rose-rgb: rgb(251, 187, 185); 
    --pink-rgb: rgb(255, 192, 203); 
    --lightpink-rgb: rgb(255, 182, 193); 
    --soft-pink-rgb: rgb(255, 184, 191); 
    --donut-pink-rgb: rgb(250, 175, 190); 
    --baby-pink-rgb: rgb(250, 175, 186); 
    --flamingo-pink-rgb: rgb(249, 167, 176); 
    --pastel-pink-rgb: rgb(254, 163, 170); 
    --rose-pink-or-pink-rose-rgb: rgb(231, 161, 176); 
    --cadillac-pink-rgb: rgb(227, 138, 174); 
    --carnation-pink-rgb: rgb(247, 120, 161); 
    --pastel-rose-rgb: rgb(229, 120, 143); 
    --blush-red-rgb: rgb(229, 110, 148); 
    --palevioletred-rgb: rgb(219, 112, 147); 
    --purple-pink-rgb: rgb(209, 101, 135); 
    --tulip-pink-rgb: rgb(194, 90, 124); 
    --bashful-pink-rgb: rgb(194, 82, 131); 
    --dark-pink-rgb: rgb(231, 84, 128); 
    --dark-hot-pink-rgb: rgb(246, 96, 171); 
    --hotpink-rgb: rgb(255, 105, 180); 
    --watermelon-pink-rgb: rgb(252, 108, 133); 
    --violet-red-rgb: rgb(246, 53, 138); 
    --hot-deep-pink-rgb: rgb(245, 40, 135); 
    --bright-pink-rgb: rgb(255, 0, 127); 
    --deeppink-rgb: rgb(255, 20, 147); 
    --neon-pink-rgb: rgb(245, 53, 170); 
    --chrome-pink-rgb: rgb(255, 51, 170); 
    --neon-hot-pink-rgb: rgb(253, 52, 156); 
    --pink-cupcake-rgb: rgb(228, 94, 157); 
    --royal-pink-rgb: rgb(231, 89, 172); 
    --dimorphotheca-magenta-rgb: rgb(227, 49, 157); 
    --pink-lemonade-rgb: rgb(228, 40, 124); 
    --red-pink-rgb: rgb(250, 42, 85); 
    --raspberry-rgb: rgb(227, 11, 93); 
    --crimson-rgb: rgb(220, 20, 60); 
    --bright-maroon-rgb: rgb(195, 33, 72); 
    --rose-red-rgb: rgb(194, 30, 86); 
    --rogue-pink-rgb: rgb(193, 40, 105); 
    --burnt-pink-rgb: rgb(193, 34, 103); 
    --pink-violet-rgb: rgb(202, 34, 107); 
    --magenta-pink-rgb: rgb(204, 51, 139); 
    --mediumvioletred-rgb: rgb(199, 21, 133); 
    --dark-carnation-pink-rgb: rgb(193, 34, 131); 
    --raspberry-purple-rgb: rgb(179, 68, 108); 
    --pink-plum-rgb: rgb(185, 59, 143); 
    --orchid-rgb: rgb(218, 112, 214); 
    --deep-mauve-rgb: rgb(223, 115, 212); 
    --violet-rgb: rgb(238, 130, 238); 
    --fuchsia-pink-rgb: rgb(255, 119, 255); 
    --bright-neon-pink-rgb: rgb(244, 51, 255); 
    --fuchsia-or-magenta-rgb: rgb(255, 0, 255); 
    --crimson-purple-rgb: rgb(226, 56, 236); 
    --heliotrope-purple-rgb: rgb(212, 98, 255); 
    --tyrian-purple-rgb: rgb(196, 90, 236); 
    --mediumorchid-rgb: rgb(186, 85, 211); 
    --purple-flower-rgb: rgb(167, 74, 199); 
    --orchid-purple-rgb: rgb(176, 72, 181); 
    --rich-lilac-rgb: rgb(182, 102, 210); 
    --pastel-violet-rgb: rgb(210, 145, 188); 
    --mauve-taupe-rgb: rgb(145, 95, 109); 
    --viola-purple-rgb: rgb(126, 88, 126); 
    --eggplant-rgb: rgb(97, 64, 81); 
    --plum-purple-rgb: rgb(88, 55, 89); 
    --grape-rgb: rgb(94, 90, 128); 
    --purple-navy-rgb: rgb(78, 81, 128); 
    --slateblue-rgb: rgb(106, 90, 205); 
    --blue-lotus-rgb: rgb(105, 96, 236); 
    --blurple-rgb: rgb(88, 101, 242); 
    --light-slate-blue-rgb: rgb(115, 106, 255); 
    --mediumslateblue-rgb: rgb(123, 104, 238); 
    --periwinkle-purple-rgb: rgb(117, 117, 207); 
    --very-peri-rgb: rgb(102, 103, 171); 
    --bright-grape-rgb: rgb(111, 45, 168); 
    --purple-amethyst-rgb: rgb(108, 45, 199); 
    --bright-purple-rgb: rgb(106, 13, 173); 
    --deep-periwinkle-rgb: rgb(84, 83, 166); 
    --darkslateblue-rgb: rgb(72, 61, 139); 
    --purple-haze-rgb: rgb(78, 56, 126); 
    --purple-iris-rgb: rgb(87, 27, 126); 
    --dark-purple-rgb: rgb(75, 1, 80); 
    --deep-purple-rgb: rgb(54, 1, 63); 
    --midnight-purple-rgb: rgb(46, 26, 71); 
    --purple-monster-rgb: rgb(70, 27, 126); 
    --indigo-rgb: rgb(75, 0, 130); 
    --blue-whale-rgb: rgb(52, 45, 126); 
    --rebeccapurple-rgb: rgb(102, 51, 153); 
    --purple-jam-rgb: rgb(106, 40, 126); 
    --darkmagenta-rgb: rgb(139, 0, 139); 
    --purple-rgb: rgb(128, 0, 128); 
    --french-lilac-rgb: rgb(134, 96, 142); 
    --darkorchid-rgb: rgb(153, 50, 204); 
    --darkviolet-rgb: rgb(148, 0, 211); 
    --purple-violet-rgb: rgb(141, 56, 201); 
    --jasmine-purple-rgb: rgb(162, 59, 236); 
    --purple-daffodil-rgb: rgb(176, 65, 255); 
    --clematis-violet-rgb: rgb(132, 45, 206); 
    --blueviolet-rgb: rgb(138, 43, 226); 
    --purple-sage-bush-rgb: rgb(122, 93, 199); 
    --lovely-purple-rgb: rgb(127, 56, 236); 
    --neon-purple-rgb: rgb(157, 0, 255); 
    --purple-plum-rgb: rgb(142, 53, 239); 
    --aztech-purple-rgb: rgb(137, 59, 255); 
    --mediumpurple-rgb: rgb(147, 112, 219); 
    --light-purple-rgb: rgb(132, 103, 215); 
    --crocus-purple-rgb: rgb(145, 114, 236); 
    --purple-mimosa-rgb: rgb(158, 123, 255); 
    --periwinkle-rgb: rgb(204, 204, 255); 
    --pale-lilac-rgb: rgb(220, 208, 255); 
    --lavender-purple-rgb: rgb(150, 123, 182); 
    --rose-purple-rgb: rgb(176, 159, 202); 
    --lilac-rgb: rgb(200, 162, 200); 
    --mauve-rgb: rgb(224, 176, 255); 
    --bright-lilac-rgb: rgb(216, 145, 239); 
    --purple-dragon-rgb: rgb(195, 142, 199); 
    --plum-rgb: rgb(221, 160, 221); 
    --blush-pink-rgb: rgb(230, 169, 236); 
    --pastel-purple-rgb: rgb(242, 162, 232); 
    --blossom-pink-rgb: rgb(249, 183, 255); 
    --wisteria-purple-rgb: rgb(198, 174, 199); 
    --purple-thistle-rgb: rgb(210, 185, 211); 
    --thistle-rgb: rgb(216, 191, 216); 
    --purple-white-rgb: rgb(223, 211, 227); 
    --periwinkle-pink-rgb: rgb(233, 207, 236); 
    --cotton-candy-rgb: rgb(252, 223, 255); 
    --lavender-pinocchio-rgb: rgb(235, 221, 226); 
    --dark-white-rgb: rgb(225, 217, 209); 
    --ash-white-rgb: rgb(233, 228, 212); 
    --white-chocolate-rgb: rgb(237, 230, 214); 
    --soft-ivory-rgb: rgb(250, 240, 221); 
    --off-white-rgb: rgb(248, 240, 227); 
    --pearl-white-rgb: rgb(248, 246, 240); 
    --red-white-rgb: rgb(243, 232, 234); 
    --lavenderblush-rgb: rgb(255, 240, 245); 
    --pearl-rgb: rgb(253, 238, 244); 
    --egg-shell-rgb: rgb(255, 249, 227); 
    --oldlace-rgb: rgb(254, 240, 227); 
    --linen-rgb: rgb(250, 240, 230); 
    --seashell-rgb: rgb(255, 245, 238); 
    --bone-white-rgb: rgb(249, 246, 238); 
    --rice-rgb: rgb(250, 245, 239); 
    --floralwhite-rgb: rgb(255, 250, 240); 
    --ivory-rgb: rgb(255, 255, 240); 
    --white-gold-rgb: rgb(255, 255, 244); 
    --light-white-rgb: rgb(255, 255, 247); 
    --whitesmoke-rgb: rgb(245, 245, 245); 
    --cotton-rgb: rgb(251, 251, 249); 
    --snow-rgb: rgb(255, 250, 250); 
    --milk-white-rgb: rgb(254, 252, 255); 
    --half-white-rgb: rgb(255, 254, 250); 
    --white-rgb: rgb(255, 255, 255); 
    --marsh-rgb: rgb(32, 55, 48);
}