:root {
    --black-rgb-deep: rgb(0, 0, 0); 
    --night-rgb-deep: rgb(0, 0, 0); 
    --charcoal-rgb-deep: rgb(32, 20, 24); 
    --oil-rgb-deep: rgb(39, 29, 29); 
    --dark-gray-rgb-deep: rgb(38, 39, 40); 
    --light-black-rgb-deep: rgb(49, 49, 49); 
    --black-cat-rgb-deep: rgb(45, 36, 37); 
    --iridium-rgb-deep: rgb(41, 40, 38); 
    --black-eel-rgb-deep: rgb(50, 42, 43); 
    --black-cow-rgb-deep: rgb(56, 50, 50); 
    --gray-wolf-rgb-deep: rgb(60, 54, 55); 
    --vampire-gray-rgb-deep: rgb(66, 60, 61); 
    --iron-gray-rgb-deep: rgb(62, 69, 73); 
    --gray-dolphin-rgb-deep: rgb(72, 68, 68); 
    --carbon-gray-rgb-deep: rgb(78, 73, 73); 
    --ash-gray-rgb-deep: rgb(82, 79, 78); 
    --dimgray-or-dimgrey-rgb-deep: rgb(85, 85, 85); 
    --nardo-gray-rgb-deep: rgb(84, 86, 88); 
    --cloudy-gray-rgb-deep: rgb(89, 85, 84); 
    --smokey-gray-rgb-deep: rgb(94, 90, 89); 
    --alien-gray-rgb-deep: rgb(95, 91, 90); 
    --sonic-silver-rgb-deep: rgb(97, 97, 97); 
    --platinum-gray-rgb-deep: rgb(101, 101, 101); 
    --granite-rgb-deep: rgb(111, 106, 104); 
    --gray-or-grey-rgb-deep: rgb(108, 108, 108); 
    --battleship-gray-rgb-deep: rgb(112, 112, 110); 
    --gunmetal-gray-rgb-deep: rgb(121, 125, 121); 
    --darkgray-or-darkgrey-rgb-deep: rgb(149, 149, 149); 
    --gray-cloud-rgb-deep: rgb(162, 162, 160); 
    --silver-rgb-deep: rgb(172, 172, 172); 
    --pale-silver-rgb-deep: rgb(181, 172, 167); 
    --gray-goose-rgb-deep: rgb(189, 188, 186); 
    --platinum-silver-rgb-deep: rgb(186, 186, 186); 
    --lightgray-or-lightgrey-rgb-deep: rgb(191, 191, 191); 
    --silver-white-rgb-deep: rgb(198, 199, 201); 
    --gainsboro-rgb-deep: rgb(200, 200, 200); 
    --platinum-rgb-deep: rgb(209, 208, 206); 
    --metallic-silver-rgb-deep: rgb(168, 178, 184); 
    --blue-gray-rgb-deep: rgb(132, 155, 179); 
    --roman-silver-rgb-deep: rgb(111, 117, 130); 
    --lightslategray-or-lightslategrey-rgb-deep: rgb(99, 116, 133); 
    --slategray-or-slategrey-rgb-deep: rgb(92, 108, 124); 
    --rat-gray-rgb-deep: rgb(89, 103, 121); 
    --slate-granite-gray-rgb-deep: rgb(81, 95, 111); 
    --jet-gray-rgb-deep: rgb(77, 89, 106); 
    --mist-blue-rgb-deep: rgb(80, 89, 106); 
    --marble-blue-rgb-deep: rgb(66, 89, 106); 
    --slate-blue-grey-rgb-deep: rgb(95, 104, 141); 
    --light-purple-blue-rgb-deep: rgb(94, 123, 186); 
    --azure-blue-rgb-deep: rgb(52, 79, 140); 
    --blue-jay-rgb-deep: rgb(23, 64, 106); 
    --charcoal-blue-rgb-deep: rgb(34, 49, 59); 
    --dark-blue-grey-rgb-deep: rgb(21, 50, 71); 
    --dark-slate-rgb-deep: rgb(23, 36, 66); 
    --deep-sea-blue-rgb-deep: rgb(0, 32, 66); 
    --night-blue-rgb-deep: rgb(1, 7, 64); 
    --midnightblue-rgb-deep: rgb(5, 5, 92); 
    --navy-rgb-deep: rgb(0, 0, 108); 
    --denim-dark-blue-rgb-deep: rgb(1, 7, 121); 
    --darkblue-rgb-deep: rgb(0, 0, 119); 
    --lapis-blue-rgb-deep: rgb(1, 29, 106); 
    --new-midnight-blue-rgb-deep: rgb(0, 0, 140); 
    --earth-blue-rgb-deep: rgb(0, 0, 145); 
    --cobalt-blue-rgb-deep: rgb(0, 12, 174); 
    --mediumblue-rgb-deep: rgb(0, 0, 185); 
    --blueberry-blue-rgb-deep: rgb(0, 45, 174); 
    --canary-blue-rgb-deep: rgb(21, 2, 225); 
    --blue-rgb-deep: rgb(0, 0, 235); 
    --samco-blue-rgb-deep: rgb(0, 0, 235); 
    --bright-blue-rgb-deep: rgb(0, 0, 235); 
    --blue-orchid-rgb-deep: rgb(11, 49, 232); 
    --sapphire-blue-rgb-deep: rgb(17, 64, 179); 
    --blue-eyes-rgb-deep: rgb(1, 85, 179); 
    --bright-navy-blue-rgb-deep: rgb(5, 96, 190); 
    --balloon-blue-rgb-deep: rgb(23, 76, 202); 
    --royalblue-rgb-deep: rgb(45, 85, 205); 
    --ocean-blue-rgb-deep: rgb(23, 81, 216); 
    --blue-ribbon-rgb-deep: rgb(28, 90, 235); 
    --blue-dress-rgb-deep: rgb(1, 105, 216); 
    --neon-blue-rgb-deep: rgb(1, 117, 235); 
    --dodgerblue-rgb-deep: rgb(10, 124, 235); 
    --glacial-blue-ice-rgb-deep: rgb(34, 119, 173); 
    --steelblue-rgb-deep: rgb(50, 110, 160); 
    --silk-blue-rgb-deep: rgb(52, 118, 179); 
    --windows-blue-rgb-deep: rgb(33, 106, 179); 
    --blue-ivy-rgb-deep: rgb(28, 124, 179); 
    --blue-koi-rgb-deep: rgb(81, 138, 179); 
    --columbia-blue-rgb-deep: rgb(115, 155, 179); 
    --baby-blue-rgb-deep: rgb(129, 165, 179); 
    --cornflowerblue-rgb-deep: rgb(80, 129, 217); 
    --sky-blue-dress-rgb-deep: rgb(82, 132, 235); 
    --iceberg-rgb-deep: rgb(66, 145, 216); 
    --butterfly-blue-rgb-deep: rgb(36, 152, 216); 
    --deepskyblue-rgb-deep: rgb(0, 171, 235); 
    --midday-blue-rgb-deep: rgb(39, 165, 235); 
    --crystal-blue-rgb-deep: rgb(72, 159, 235); 
    --denim-blue-rgb-deep: rgb(101, 166, 216); 
    --day-sky-blue-rgb-deep: rgb(110, 182, 235); 
    --lightskyblue-rgb-deep: rgb(115, 186, 230); 
    --skyblue-rgb-deep: rgb(115, 186, 215); 
    --jeans-blue-rgb-deep: rgb(140, 187, 216); 
    --blue-angel-rgb-deep: rgb(163, 186, 216); 
    --pastel-blue-rgb-deep: rgb(160, 187, 216); 
    --light-day-blue-rgb-deep: rgb(153, 203, 235); 
    --sea-blue-rgb-deep: rgb(174, 203, 235); 
    --heavenly-blue-rgb-deep: rgb(178, 202, 235); 
    --robin-egg-blue-rgb-deep: rgb(169, 217, 235); 
    --powderblue-rgb-deep: rgb(156, 204, 210); 
    --coral-blue-rgb-deep: rgb(155, 200, 216); 
    --lightblue-rgb-deep: rgb(153, 196, 210); 
    --lightsteelblue-rgb-deep: rgb(156, 187, 202); 
    --gulf-blue-rgb-deep: rgb(181, 203, 216); 
    --pastel-light-blue-rgb-deep: rgb(193, 194, 214); 
    --lavender-blue-rgb-deep: rgb(207, 208, 230); 
    --white-blue-rgb-deep: rgb(199, 213, 230); 
    --lavender-rgb-deep: rgb(210, 210, 230); 
    --water-rgb-deep: rgb(215, 224, 230); 
    --aliceblue-rgb-deep: rgb(220, 228, 235); 
    --ghostwhite-rgb-deep: rgb(228, 228, 235); 
    --azure-rgb-deep: rgb(220, 235, 235); 
    --lightcyan-rgb-deep: rgb(204, 235, 235); 
    --light-slate-rgb-deep: rgb(184, 235, 235); 
    --electric-blue-rgb-deep: rgb(134, 234, 235); 
    --tron-blue-rgb-deep: rgb(105, 233, 234); 
    --blue-zircon-rgb-deep: rgb(67, 234, 235); 
    --aqua-or-cyan-rgb-deep: rgb(0, 235, 235); 
    --bright-cyan-rgb-deep: rgb(0, 235, 235); 
    --celeste-rgb-deep: rgb(60, 215, 216); 
    --blue-diamond-rgb-deep: rgb(58, 206, 216); 
    --bright-turquoise-rgb-deep: rgb(2, 206, 225); 
    --blue-lagoon-rgb-deep: rgb(122, 215, 216); 
    --paleturquoise-rgb-deep: rgb(155, 218, 218); 
    --pale-blue-lily-rgb-deep: rgb(187, 216, 216); 
    --light-teal-rgb-deep: rgb(159, 197, 197); 
    --tiffany-blue-rgb-deep: rgb(109, 196, 188); 
    --blue-hosta-rgb-deep: rgb(99, 171, 179); 
    --cyan-opaque-rgb-deep: rgb(126, 179, 179); 
    --northern-lights-blue-rgb-deep: rgb(100, 179, 179); 
    --blue-green-rgb-deep: rgb(103, 184, 161); 
    --mediumaquamarine-rgb-deep: rgb(82, 185, 150); 
    --magic-mint-rgb-deep: rgb(150, 220, 189); 
    --light-aquamarine-rgb-deep: rgb(127, 235, 212); 
    --aquamarine-rgb-deep: rgb(107, 235, 192); 
    --bright-teal-rgb-deep: rgb(0, 229, 178); 
    --turquoise-rgb-deep: rgb(44, 204, 188); 
    --mediumturquoise-rgb-deep: rgb(52, 189, 184); 
    --deep-turquoise-rgb-deep: rgb(52, 184, 185); 
    --jellyfish-rgb-deep: rgb(50, 179, 179); 
    --blue-turquoise-rgb-deep: rgb(47, 178, 199); 
    --darkturquoise-rgb-deep: rgb(0, 186, 189); 
    --macaw-blue-green-rgb-deep: rgb(47, 171, 179); 
    --lightseagreen-rgb-deep: rgb(12, 158, 150); 
    --seafoam-green-rgb-deep: rgb(42, 149, 139); 
    --cadetblue-rgb-deep: rgb(75, 138, 140); 
    --deep-sea-rgb-deep: rgb(39, 136, 136); 
    --darkcyan-rgb-deep: rgb(0, 119, 119); 
    --teal-green-rgb-deep: rgb(0, 110, 107); 
    --teal-rgb-deep: rgb(0, 108, 108); 
    --teal-blue-rgb-deep: rgb(0, 104, 108); 
    --medium-teal-rgb-deep: rgb(0, 75, 75); 
    --dark-teal-rgb-deep: rgb(0, 73, 73); 
    --deep-teal-rgb-deep: rgb(0, 42, 42); 
    --darkslategray-or-darkslategrey-rgb-deep: rgb(17, 36, 40); 
    --gunmetal-rgb-deep: rgb(24, 33, 37); 
    --blue-moss-green-rgb-deep: rgb(40, 66, 71); 
    --beetle-green-rgb-deep: rgb(56, 100, 106); 
    --grayish-turquoise-rgb-deep: rgb(74, 105, 106); 
    --greenish-blue-rgb-deep: rgb(28, 105, 106); 
    --aquamarine-stone-rgb-deep: rgb(32, 115, 109); 
    --sea-turtle-green-rgb-deep: rgb(47, 121, 108); 
    --dull-sea-green-rgb-deep: rgb(58, 117, 97); 
    --dark-green-blue-rgb-deep: rgb(11, 79, 67); 
    --deep-sea-green-rgb-deep: rgb(28, 83, 64); 
    --bottle-green-rgb-deep: rgb(0, 86, 58); 
    --seagreen-rgb-deep: rgb(26, 119, 67); 
    --elf-green-rgb-deep: rgb(7, 118, 87); 
    --dark-mint-rgb-deep: rgb(29, 124, 90); 
    --jade-rgb-deep: rgb(0, 143, 88); 
    --earth-green-rgb-deep: rgb(32, 145, 91); 
    --chrome-green-rgb-deep: rgb(6, 142, 76); 
    --emerald-rgb-deep: rgb(60, 180, 100); 
    --mint-rgb-deep: rgb(42, 160, 117); 
    --mediumseagreen-rgb-deep: rgb(40, 159, 93); 
    --metallic-green-rgb-deep: rgb(104, 137, 122); 
    --camouflage-green-rgb-deep: rgb(100, 114, 87); 
    --sage-green-rgb-deep: rgb(112, 119, 101); 
    --hazel-green-rgb-deep: rgb(77, 104, 68); 
    --venom-green-rgb-deep: rgb(94, 120, 0); 
    --olivedrab-rgb-deep: rgb(87, 122, 15); 
    --olive-rgb-deep: rgb(108, 108, 0); 
    --darkolivegreen-rgb-deep: rgb(65, 87, 27); 
    --military-green-rgb-deep: rgb(58, 71, 29); 
    --green-leaves-rgb-deep: rgb(38, 75, 0); 
    --army-green-rgb-deep: rgb(55, 63, 12); 
    --fern-green-rgb-deep: rgb(82, 104, 18); 
    --fall-forest-green-rgb-deep: rgb(58, 126, 68); 
    --irish-green-rgb-deep: rgb(0, 140, 55); 
    --pine-green-rgb-deep: rgb(36, 104, 48); 
    --medium-forest-green-rgb-deep: rgb(32, 94, 33); 
    --jungle-green-rgb-deep: rgb(32, 104, 24); 
    --cactus-green-rgb-deep: rgb(14, 96, 46); 
    --forestgreen-rgb-deep: rgb(14, 119, 14); 
    --green-rgb-deep: rgb(0, 108, 0); 
    --darkgreen-rgb-deep: rgb(0, 80, 0); 
    --deep-green-rgb-deep: rgb(0, 82, 0); 
    --deep-emerald-green-rgb-deep: rgb(0, 79, 0); 
    --hunter-green-rgb-deep: rgb(33, 74, 39); 
    --dark-forest-green-rgb-deep: rgb(17, 45, 3); 
    --lotus-green-rgb-deep: rgb(0, 46, 17); 
    --seaweed-green-rgb-deep: rgb(47, 104, 3); 
    --shamrock-green-rgb-deep: rgb(32, 104, 3); 
    --green-onion-rgb-deep: rgb(86, 141, 13); 
    --moss-green-rgb-deep: rgb(118, 134, 71); 
    --grass-green-rgb-deep: rgb(43, 135, 0); 
    --green-pepper-rgb-deep: rgb(54, 140, 24); 
    --dark-lime-green-rgb-deep: rgb(45, 143, 3); 
    --parrot-green-rgb-deep: rgb(0, 153, 23); 
    --clover-green-rgb-deep: rgb(42, 140, 65); 
    --dinosaur-green-rgb-deep: rgb(95, 141, 88); 
    --green-snake-rgb-deep: rgb(88, 167, 40); 
    --alien-green-rgb-deep: rgb(88, 176, 3); 
    --green-apple-rgb-deep: rgb(56, 176, 3); 
    --limegreen-rgb-deep: rgb(30, 185, 30); 
    --pea-green-rgb-deep: rgb(62, 188, 3); 
    --kelly-green-rgb-deep: rgb(56, 177, 62); 
    --zombie-green-rgb-deep: rgb(64, 177, 93); 
    --green-peas-rgb-deep: rgb(117, 175, 72); 
    --dollar-bill-green-rgb-deep: rgb(113, 167, 81); 
    --frog-green-rgb-deep: rgb(133, 178, 122); 
    --turquoise-green-rgb-deep: rgb(140, 194, 160); 
    --darkseagreen-rgb-deep: rgb(123, 168, 123); 
    --basil-green-rgb-deep: rgb(110, 139, 110); 
    --gray-green-rgb-deep: rgb(142, 153, 136); 
    --iguana-green-rgb-deep: rgb(136, 156, 93); 
    --citron-green-rgb-deep: rgb(123, 159, 9); 
    --acid-green-rgb-deep: rgb(156, 171, 6); 
    --avocado-green-rgb-deep: rgb(158, 174, 52); 
    --pistachio-green-rgb-deep: rgb(137, 174, 0); 
    --salad-green-rgb-deep: rgb(141, 181, 33); 
    --yellowgreen-rgb-deep: rgb(134, 185, 30); 
    --pastel-green-rgb-deep: rgb(99, 201, 99); 
    --hummingbird-green-rgb-deep: rgb(107, 212, 3); 
    --nebula-green-rgb-deep: rgb(69, 212, 3); 
    --stoplight-go-green-rgb-deep: rgb(67, 213, 80); 
    --neon-green-rgb-deep: rgb(2, 225, 21); 
    --jade-green-rgb-deep: rgb(74, 231, 90); 
    --lime-mint-green-rgb-deep: rgb(34, 225, 107); 
    --springgreen-rgb-deep: rgb(0, 235, 107); 
    --mediumspringgreen-rgb-deep: rgb(0, 230, 134); 
    --emerald-green-rgb-deep: rgb(75, 231, 3); 
    --lime-rgb-deep: rgb(0, 235, 0); 
    --lawngreen-rgb-deep: rgb(104, 232, 0); 
    --bright-green-rgb-deep: rgb(82, 235, 0); 
    --chartreuse-rgb-deep: rgb(107, 235, 0); 
    --yellow-lawn-green-rgb-deep: rgb(115, 227, 3); 
    --aloe-vera-green-rgb-deep: rgb(132, 225, 2); 
    --dull-green-yellow-rgb-deep: rgb(157, 231, 3); 
    --lemon-green-rgb-deep: rgb(153, 228, 0); 
    --greenyellow-rgb-deep: rgb(153, 235, 27); 
    --chameleon-green-rgb-deep: rgb(169, 225, 2); 
    --neon-yellow-green-rgb-deep: rgb(198, 218, 0); 
    --yellow-green-grosbeak-rgb-deep: rgb(206, 225, 2); 
    --tea-green-rgb-deep: rgb(184, 231, 73); 
    --slime-green-rgb-deep: rgb(168, 213, 64); 
    --algae-green-rgb-deep: rgb(80, 213, 114); 
    --lightgreen-rgb-deep: rgb(124, 218, 124); 
    --dragon-green-rgb-deep: rgb(86, 231, 126); 
    --palegreen-rgb-deep: rgb(132, 231, 132); 
    --mint-green-rgb-deep: rgb(132, 235, 132); 
    --green-thumb-rgb-deep: rgb(161, 214, 150); 
    --organic-brown-rgb-deep: rgb(207, 229, 146); 
    --light-jade-rgb-deep: rgb(175, 233, 164); 
    --light-mint-green-rgb-deep: rgb(174, 209, 191); 
    --light-rose-green-rgb-deep: rgb(199, 229, 199); 
    --chrome-white-rgb-deep: rgb(212, 221, 192); 
    --honeydew-rgb-deep: rgb(220, 235, 220); 
    --mintcream-rgb-deep: rgb(225, 235, 230); 
    --lemonchiffon-rgb-deep: rgb(235, 230, 185); 
    --parchment-rgb-deep: rgb(235, 235, 174); 
    --cream-rgb-deep: rgb(235, 235, 184); 
    --cream-white-rgb-deep: rgb(235, 233, 188); 
    --lightgoldenrodyellow-rgb-deep: rgb(230, 230, 190); 
    --lightyellow-rgb-deep: rgb(235, 235, 204); 
    --beige-rgb-deep: rgb(225, 225, 200); 
    --cornsilk-rgb-deep: rgb(235, 228, 200); 
    --blonde-rgb-deep: rgb(231, 226, 197); 
    --champagne-rgb-deep: rgb(227, 211, 186); 
    --antiquewhite-rgb-deep: rgb(230, 215, 195); 
    --papayawhip-rgb-deep: rgb(235, 219, 193); 
    --blanchedalmond-rgb-deep: rgb(235, 215, 185); 
    --bisque-rgb-deep: rgb(235, 208, 176); 
    --wheat-rgb-deep: rgb(225, 202, 159); 
    --moccasin-rgb-deep: rgb(235, 208, 161); 
    --peach-rgb-deep: rgb(235, 209, 160); 
    --light-orange-rgb-deep: rgb(234, 196, 157); 
    --peachpuff-rgb-deep: rgb(235, 198, 165); 
    --coral-peach-rgb-deep: rgb(231, 193, 151); 
    --navajowhite-rgb-deep: rgb(235, 202, 153); 
    --golden-blonde-rgb-deep: rgb(231, 211, 141); 
    --golden-silk-rgb-deep: rgb(223, 207, 175); 
    --dark-blonde-rgb-deep: rgb(220, 206, 162); 
    --light-gold-rgb-deep: rgb(221, 209, 152); 
    --vanilla-rgb-deep: rgb(223, 209, 151); 
    --tan-brown-rgb-deep: rgb(216, 209, 162); 
    --dirty-white-rgb-deep: rgb(212, 208, 181); 
    --palegoldenrod-rgb-deep: rgb(218, 212, 150); 
    --khaki-rgb-deep: rgb(220, 210, 120); 
    --cardboard-brown-rgb-deep: rgb(217, 198, 96); 
    --harvest-gold-rgb-deep: rgb(217, 206, 97); 
    --sun-yellow-rgb-deep: rgb(235, 212, 104); 
    --corn-yellow-rgb-deep: rgb(235, 223, 108); 
    --pastel-yellow-rgb-deep: rgb(230, 228, 112); 
    --neon-yellow-rgb-deep: rgb(235, 235, 31); 
    --yellow-rgb-deep: rgb(235, 235, 0); 
    --canary-yellow-rgb-deep: rgb(235, 219, 0); 
    --banana-yellow-rgb-deep: rgb(225, 206, 2); 
    --mustard-yellow-rgb-deep: rgb(235, 199, 68); 
    --golden-yellow-rgb-deep: rgb(235, 203, 0); 
    --bold-yellow-rgb-deep: rgb(229, 199, 16); 
    --rubber-ducky-yellow-rgb-deep: rgb(235, 196, 0); 
    --gold-rgb-deep: rgb(235, 195, 0); 
    --bright-gold-rgb-deep: rgb(233, 188, 3); 
    --chrome-gold-rgb-deep: rgb(235, 186, 48); 
    --golden-brown-rgb-deep: rgb(214, 173, 3); 
    --deep-yellow-rgb-deep: rgb(226, 170, 0); 
    --macaroni-and-cheese-rgb-deep: rgb(222, 167, 82); 
    --saffron-rgb-deep: rgb(231, 165, 3); 
    --neon-gold-rgb-deep: rgb(233, 169, 0); 
    --beer-rgb-deep: rgb(231, 157, 3); 
    --yellow-orange-or-orange-yellow-rgb-deep: rgb(235, 154, 46); 
    --cantaloupe-rgb-deep: rgb(235, 146, 27); 
    --cheese-orange-rgb-deep: rgb(235, 146, 0); 
    --orange-rgb-deep: rgb(235, 145, 0); 
    --brown-sand-rgb-deep: rgb(218, 134, 57); 
    --sandybrown-rgb-deep: rgb(224, 144, 76); 
    --brown-sugar-rgb-deep: rgb(206, 147, 91); 
    --camel-brown-rgb-deep: rgb(173, 134, 87); 
    --deer-brown-rgb-deep: rgb(210, 171, 111); 
    --burlywood-rgb-deep: rgb(202, 164, 115); 
    --tan-rgb-deep: rgb(190, 160, 120); 
    --light-french-beige-rgb-deep: rgb(180, 153, 107); 
    --sand-rgb-deep: rgb(174, 158, 108); 
    --sage-rgb-deep: rgb(168, 164, 118); 
    --fall-leaf-brown-rgb-deep: rgb(180, 161, 76); 
    --ginger-brown-rgb-deep: rgb(181, 170, 78); 
    --bronze-gold-rgb-deep: rgb(181, 154, 73); 
    --darkkhaki-rgb-deep: rgb(169, 163, 87); 
    --olive-green-rgb-deep: rgb(166, 164, 88); 
    --brass-rgb-deep: rgb(161, 146, 46); 
    --cookie-brown-rgb-deep: rgb(179, 143, 3); 
    --metallic-gold-rgb-deep: rgb(192, 155, 35); 
    --bee-yellow-rgb-deep: rgb(213, 151, 3); 
    --school-bus-yellow-rgb-deep: rgb(212, 143, 3); 
    --goldenrod-rgb-deep: rgb(198, 145, 12); 
    --orange-gold-rgb-deep: rgb(192, 140, 3); 
    --caramel-rgb-deep: rgb(178, 122, 3); 
    --darkgoldenrod-rgb-deep: rgb(164, 114, 0); 
    --cinnamon-rgb-deep: rgb(177, 117, 3); 
    --peru-rgb-deep: rgb(185, 113, 43); 
    --bronze-rgb-deep: rgb(185, 107, 30); 
    --tiger-orange-rgb-deep: rgb(180, 109, 45); 
    --copper-rgb-deep: rgb(164, 95, 31); 
    --dark-gold-rgb-deep: rgb(150, 88, 37); 
    --metallic-bronze-rgb-deep: rgb(149, 93, 46); 
    --dark-almond-rgb-deep: rgb(151, 100, 58); 
    --wood-rgb-deep: rgb(130, 91, 31); 
    --oak-brown-rgb-deep: rgb(108, 81, 3); 
    --antique-bronze-rgb-deep: rgb(82, 73, 10); 
    --hazel-rgb-deep: rgb(122, 98, 4); 
    --dark-yellow-rgb-deep: rgb(119, 108, 0); 
    --dark-moccasin-rgb-deep: rgb(110, 100, 37); 
    --khaki-green-rgb-deep: rgb(118, 114, 73); 
    --millennium-jade-rgb-deep: rgb(127, 125, 104); 
    --dark-beige-rgb-deep: rgb(139, 120, 98); 
    --bullet-shell-rgb-deep: rgb(155, 135, 76); 
    --army-brown-rgb-deep: rgb(110, 103, 76); 
    --sandstone-rgb-deep: rgb(100, 89, 75); 
    --taupe-rgb-deep: rgb(52, 40, 30); 
    --mocha-rgb-deep: rgb(53, 41, 18); 
    --milk-chocolate-rgb-deep: rgb(61, 39, 8); 
    --gray-brown-rgb-deep: rgb(41, 34, 33); 
    --dark-coffee-rgb-deep: rgb(39, 27, 27); 
    --old-burgundy-rgb-deep: rgb(47, 28, 26); 
    --western-charcoal-rgb-deep: rgb(53, 45, 43); 
    --bakers-brown-rgb-deep: rgb(72, 31, 3); 
    --dark-brown-rgb-deep: rgb(81, 47, 13); 
    --sepia-brown-rgb-deep: rgb(92, 46, 0); 
    --dark-bronze-rgb-deep: rgb(108, 54, 0); 
    --coffee-rgb-deep: rgb(91, 58, 35); 
    --brown-bear-rgb-deep: rgb(111, 72, 39); 
    --red-dirt-rgb-deep: rgb(107, 62, 3); 
    --sepia-rgb-deep: rgb(107, 50, 24); 
    --sienna-rgb-deep: rgb(140, 62, 25); 
    --saddlebrown-rgb-deep: rgb(119, 49, 0); 
    --dark-sienna-rgb-deep: rgb(118, 45, 3); 
    --sangria-rgb-deep: rgb(106, 36, 3); 
    --blood-red-rgb-deep: rgb(106, 33, 3); 
    --chestnut-rgb-deep: rgb(129, 49, 33); 
    --coral-brown-rgb-deep: rgb(138, 50, 36); 
    --chestnut-red-rgb-deep: rgb(175, 54, 24); 
    --mahogany-rgb-deep: rgb(172, 44, 0); 
    --red-gold-rgb-deep: rgb(215, 64, 0); 
    --red-fox-rgb-deep: rgb(175, 68, 3); 
    --dark-bisque-rgb-deep: rgb(164, 81, 0); 
    --light-brown-rgb-deep: rgb(161, 81, 9); 
    --petra-gold-rgb-deep: rgb(163, 83, 32); 
    --rust-rgb-deep: rgb(175, 78, 45); 
    --copper-red-rgb-deep: rgb(183, 89, 61); 
    --orange-salmon-rgb-deep: rgb(176, 96, 61); 
    --chocolate-rgb-deep: rgb(190, 85, 10); 
    --sedona-rgb-deep: rgb(184, 82, 0); 
    --papaya-orange-rgb-deep: rgb(209, 83, 3); 
    --halloween-orange-rgb-deep: rgb(210, 88, 24); 
    --neon-orange-rgb-deep: rgb(235, 83, 0); 
    --bright-orange-rgb-deep: rgb(235, 75, 11); 
    --pumpkin-orange-rgb-deep: rgb(228, 94, 3); 
    --carrot-orange-rgb-deep: rgb(228, 108, 3); 
    --darkorange-rgb-deep: rgb(235, 120, 0); 
    --construction-cone-orange-rgb-deep: rgb(228, 96, 29); 
    --indian-saffron-rgb-deep: rgb(235, 99, 14); 
    --sunrise-orange-rgb-deep: rgb(210, 96, 61); 
    --mango-orange-rgb-deep: rgb(235, 108, 44); 
    --coral-rgb-deep: rgb(235, 107, 60); 
    --basket-ball-orange-rgb-deep: rgb(228, 109, 68); 
    --light-salmon-rose-rgb-deep: rgb(229, 130, 87); 
    --lightsalmon-rgb-deep: rgb(235, 140, 102); 
    --darksalmon-rgb-deep: rgb(213, 130, 102); 
    --tangerine-rgb-deep: rgb(211, 118, 77); 
    --light-copper-rgb-deep: rgb(198, 118, 83); 
    --salmon-pink-rgb-deep: rgb(235, 114, 96); 
    --salmon-rgb-deep: rgb(230, 108, 94); 
    --peach-pink-rgb-deep: rgb(229, 119, 116); 
    --lightcoral-rgb-deep: rgb(220, 108, 108); 
    --pastel-red-rgb-deep: rgb(226, 94, 108); 
    --pink-coral-rgb-deep: rgb(211, 96, 93); 
    --bean-red-rgb-deep: rgb(227, 73, 69); 
    --valentine-red-rgb-deep: rgb(209, 64, 61); 
    --indianred-rgb-deep: rgb(185, 72, 72); 
    --tomato-rgb-deep: rgb(235, 79, 51); 
    --shocking-orange-rgb-deep: rgb(209, 71, 40); 
    --orangered-rgb-deep: rgb(235, 49, 0); 
    --red-rgb-deep: rgb(235, 0, 0); 
    --neon-red-rgb-deep: rgb(233, 8, 0); 
    --scarlet-red-rgb-deep: rgb(235, 16, 0); 
    --ruby-red-rgb-deep: rgb(226, 14, 3); 
    --ferrari-red-rgb-deep: rgb(227, 0, 6); 
    --fire-engine-red-rgb-deep: rgb(226, 20, 3); 
    --lava-red-rgb-deep: rgb(208, 14, 3); 
    --love-red-rgb-deep: rgb(208, 7, 3); 
    --grapefruit-rgb-deep: rgb(200, 36, 11); 
    --cherry-red-rgb-deep: rgb(174, 50, 45); 
    --chilli-pepper-rgb-deep: rgb(173, 7, 3); 
    --firebrick-rgb-deep: rgb(158, 14, 14); 
    --tomato-sauce-red-rgb-deep: rgb(158, 4, 0); 
    --brown-rgb-deep: rgb(145, 22, 22); 
    --carbon-red-rgb-deep: rgb(147, 0, 22); 
    --cranberry-rgb-deep: rgb(139, 0, 0); 
    --saffron-red-rgb-deep: rgb(127, 0, 0); 
    --crimson-red-rgb-deep: rgb(133, 0, 0); 
    --red-wine-or-wine-red-rgb-deep: rgb(133, 0, 0); 
    --darkred-rgb-deep: rgb(119, 0, 0); 
    --maroon-rgb-deep: rgb(108, 0, 0); 
    --burgundy-rgb-deep: rgb(120, 0, 6); 
    --vermilion-rgb-deep: rgb(106, 5, 7); 
    --deep-red-rgb-deep: rgb(108, 0, 3); 
    --red-blood-rgb-deep: rgb(82, 0, 0); 
    --blood-night-rgb-deep: rgb(65, 2, 0); 
    --dark-scarlet-rgb-deep: rgb(66, 0, 5); 
    --black-bean-rgb-deep: rgb(41, 0, 0); 
    --chocolate-brown-rgb-deep: rgb(43, 0, 0); 
    --midnight-rgb-deep: rgb(23, 7, 3); 
    --purple-lily-rgb-deep: rgb(65, 0, 33); 
    --purple-maroon-rgb-deep: rgb(109, 0, 45); 
    --plum-pie-rgb-deep: rgb(105, 0, 45); 
    --plum-velvet-rgb-deep: rgb(105, 0, 62); 
    --dark-raspberry-rgb-deep: rgb(115, 18, 67); 
    --velvet-maroon-rgb-deep: rgb(106, 33, 57); 
    --rosy-finch-rgb-deep: rgb(107, 58, 62); 
    --dull-purple-rgb-deep: rgb(107, 62, 73); 
    --puce-rgb-deep: rgb(107, 70, 68); 
    --rose-dust-rgb-deep: rgb(133, 92, 92); 
    --pastel-brown-rgb-deep: rgb(157, 124, 107); 
    --rosy-pink-rgb-deep: rgb(159, 112, 109); 
    --rosybrown-rgb-deep: rgb(168, 123, 123); 
    --khaki-rose-rgb-deep: rgb(177, 124, 122); 
    --lipstick-pink-rgb-deep: rgb(176, 115, 127); 
    --pink-brown-rgb-deep: rgb(176, 109, 117); 
    --old-rose-rgb-deep: rgb(172, 108, 109); 
    --dusty-pink-rgb-deep: rgb(193, 118, 128); 
    --pink-daisy-rgb-deep: rgb(211, 133, 143); 
    --rose-rgb-deep: rgb(212, 153, 150); 
    --dusty-rose-rgb-deep: rgb(181, 149, 146); 
    --silver-pink-rgb-deep: rgb(176, 154, 153); 
    --gold-pink-rgb-deep: rgb(210, 179, 174); 
    --rose-gold-rgb-deep: rgb(216, 177, 172); 
    --deep-peach-rgb-deep: rgb(235, 183, 144); 
    --pastel-orange-rgb-deep: rgb(228, 164, 119); 
    --desert-sand-rgb-deep: rgb(217, 181, 155); 
    --unbleached-silk-rgb-deep: rgb(235, 201, 182); 
    --pig-pink-rgb-deep: rgb(233, 195, 208); 
    --pale-pink-rgb-deep: rgb(222, 192, 195); 
    --blush-rgb-deep: rgb(235, 210, 212); 
    --mistyrose-rgb-deep: rgb(235, 208, 205); 
    --pink-bubble-gum-rgb-deep: rgb(235, 203, 201); 
    --light-rose-rgb-deep: rgb(231, 187, 185); 
    --light-red-rgb-deep: rgb(235, 184, 183); 
    --warm-pink-rgb-deep: rgb(226, 178, 169); 
    --deep-rose-rgb-deep: rgb(231, 167, 165); 
    --pink-rgb-deep: rgb(235, 172, 183); 
    --lightpink-rgb-deep: rgb(235, 162, 173); 
    --soft-pink-rgb-deep: rgb(235, 164, 171); 
    --donut-pink-rgb-deep: rgb(230, 155, 170); 
    --baby-pink-rgb-deep: rgb(230, 155, 166); 
    --flamingo-pink-rgb-deep: rgb(229, 147, 156); 
    --pastel-pink-rgb-deep: rgb(234, 143, 150); 
    --rose-pink-or-pink-rose-rgb-deep: rgb(211, 141, 156); 
    --cadillac-pink-rgb-deep: rgb(207, 118, 154); 
    --carnation-pink-rgb-deep: rgb(227, 100, 141); 
    --pastel-rose-rgb-deep: rgb(209, 100, 123); 
    --blush-red-rgb-deep: rgb(209, 90, 128); 
    --palevioletred-rgb-deep: rgb(199, 92, 127); 
    --purple-pink-rgb-deep: rgb(189, 81, 115); 
    --tulip-pink-rgb-deep: rgb(174, 70, 104); 
    --bashful-pink-rgb-deep: rgb(174, 62, 111); 
    --dark-pink-rgb-deep: rgb(211, 64, 108); 
    --dark-hot-pink-rgb-deep: rgb(226, 76, 151); 
    --hotpink-rgb-deep: rgb(235, 85, 160); 
    --watermelon-pink-rgb-deep: rgb(232, 88, 113); 
    --violet-red-rgb-deep: rgb(226, 33, 118); 
    --hot-deep-pink-rgb-deep: rgb(225, 20, 115); 
    --bright-pink-rgb-deep: rgb(235, 0, 107); 
    --deeppink-rgb-deep: rgb(235, 0, 127); 
    --neon-pink-rgb-deep: rgb(225, 33, 150); 
    --chrome-pink-rgb-deep: rgb(235, 31, 150); 
    --neon-hot-pink-rgb-deep: rgb(233, 32, 136); 
    --pink-cupcake-rgb-deep: rgb(208, 74, 137); 
    --royal-pink-rgb-deep: rgb(211, 69, 152); 
    --dimorphotheca-magenta-rgb-deep: rgb(207, 29, 137); 
    --pink-lemonade-rgb-deep: rgb(208, 20, 104); 
    --red-pink-rgb-deep: rgb(230, 22, 65); 
    --raspberry-rgb-deep: rgb(207, 0, 73); 
    --crimson-rgb-deep: rgb(200, 0, 40); 
    --bright-maroon-rgb-deep: rgb(175, 13, 52); 
    --rose-red-rgb-deep: rgb(174, 10, 66); 
    --rogue-pink-rgb-deep: rgb(173, 20, 85); 
    --burnt-pink-rgb-deep: rgb(173, 14, 83); 
    --pink-violet-rgb-deep: rgb(182, 14, 87); 
    --magenta-pink-rgb-deep: rgb(184, 31, 119); 
    --mediumvioletred-rgb-deep: rgb(179, 1, 113); 
    --dark-carnation-pink-rgb-deep: rgb(173, 14, 111); 
    --raspberry-purple-rgb-deep: rgb(159, 48, 88); 
    --pink-plum-rgb-deep: rgb(165, 39, 123); 
    --orchid-rgb-deep: rgb(198, 92, 194); 
    --deep-mauve-rgb-deep: rgb(203, 95, 192); 
    --violet-rgb-deep: rgb(218, 110, 218); 
    --fuchsia-pink-rgb-deep: rgb(235, 99, 235); 
    --bright-neon-pink-rgb-deep: rgb(224, 31, 235); 
    --fuchsia-or-magenta-rgb-deep: rgb(235, 0, 235); 
    --crimson-purple-rgb-deep: rgb(206, 36, 216); 
    --heliotrope-purple-rgb-deep: rgb(192, 78, 235); 
    --tyrian-purple-rgb-deep: rgb(176, 70, 216); 
    --mediumorchid-rgb-deep: rgb(166, 65, 191); 
    --purple-flower-rgb-deep: rgb(147, 54, 179); 
    --orchid-purple-rgb-deep: rgb(156, 52, 161); 
    --rich-lilac-rgb-deep: rgb(162, 82, 190); 
    --pastel-violet-rgb-deep: rgb(190, 125, 168); 
    --mauve-taupe-rgb-deep: rgb(125, 75, 89); 
    --viola-purple-rgb-deep: rgb(106, 68, 106); 
    --eggplant-rgb-deep: rgb(77, 44, 61); 
    --plum-purple-rgb-deep: rgb(68, 35, 69); 
    --grape-rgb-deep: rgb(74, 70, 108); 
    --purple-navy-rgb-deep: rgb(58, 61, 108); 
    --slateblue-rgb-deep: rgb(86, 70, 185); 
    --blue-lotus-rgb-deep: rgb(85, 76, 216); 
    --blurple-rgb-deep: rgb(68, 81, 222); 
    --light-slate-blue-rgb-deep: rgb(95, 86, 235); 
    --mediumslateblue-rgb-deep: rgb(103, 84, 218); 
    --periwinkle-purple-rgb-deep: rgb(97, 97, 187); 
    --very-peri-rgb-deep: rgb(82, 83, 151); 
    --bright-grape-rgb-deep: rgb(91, 25, 148); 
    --purple-amethyst-rgb-deep: rgb(88, 25, 179); 
    --bright-purple-rgb-deep: rgb(86, 0, 153); 
    --deep-periwinkle-rgb-deep: rgb(64, 63, 146); 
    --darkslateblue-rgb-deep: rgb(52, 41, 119); 
    --purple-haze-rgb-deep: rgb(58, 36, 106); 
    --purple-iris-rgb-deep: rgb(67, 7, 106); 
    --dark-purple-rgb-deep: rgb(55, 0, 60); 
    --deep-purple-rgb-deep: rgb(34, 0, 43); 
    --midnight-purple-rgb-deep: rgb(26, 6, 51); 
    --purple-monster-rgb-deep: rgb(50, 7, 106); 
    --indigo-rgb-deep: rgb(55, 0, 110); 
    --blue-whale-rgb-deep: rgb(32, 25, 106); 
    --rebeccapurple-rgb-deep: rgb(82, 31, 133); 
    --purple-jam-rgb-deep: rgb(86, 20, 106); 
    --darkmagenta-rgb-deep: rgb(119, 0, 119); 
    --purple-rgb-deep: rgb(108, 0, 108); 
    --french-lilac-rgb-deep: rgb(114, 76, 122); 
    --darkorchid-rgb-deep: rgb(133, 30, 184); 
    --darkviolet-rgb-deep: rgb(128, 0, 191); 
    --purple-violet-rgb-deep: rgb(121, 36, 181); 
    --jasmine-purple-rgb-deep: rgb(142, 39, 216); 
    --purple-daffodil-rgb-deep: rgb(156, 45, 235); 
    --clematis-violet-rgb-deep: rgb(112, 25, 186); 
    --blueviolet-rgb-deep: rgb(118, 23, 206); 
    --purple-sage-bush-rgb-deep: rgb(102, 73, 179); 
    --lovely-purple-rgb-deep: rgb(107, 36, 216); 
    --neon-purple-rgb-deep: rgb(137, 0, 235); 
    --purple-plum-rgb-deep: rgb(122, 33, 219); 
    --aztech-purple-rgb-deep: rgb(117, 39, 235); 
    --mediumpurple-rgb-deep: rgb(127, 92, 199); 
    --light-purple-rgb-deep: rgb(112, 83, 195); 
    --crocus-purple-rgb-deep: rgb(125, 94, 216); 
    --purple-mimosa-rgb-deep: rgb(138, 103, 235); 
    --periwinkle-rgb-deep: rgb(184, 184, 235); 
    --pale-lilac-rgb-deep: rgb(200, 188, 235); 
    --lavender-purple-rgb-deep: rgb(130, 103, 162); 
    --rose-purple-rgb-deep: rgb(156, 139, 182); 
    --lilac-rgb-deep: rgb(180, 142, 180); 
    --mauve-rgb-deep: rgb(204, 156, 235); 
    --bright-lilac-rgb-deep: rgb(196, 125, 219); 
    --purple-dragon-rgb-deep: rgb(175, 122, 179); 
    --plum-rgb-deep: rgb(201, 140, 201); 
    --blush-pink-rgb-deep: rgb(210, 149, 216); 
    --pastel-purple-rgb-deep: rgb(222, 142, 212); 
    --blossom-pink-rgb-deep: rgb(229, 163, 235); 
    --wisteria-purple-rgb-deep: rgb(178, 154, 179); 
    --purple-thistle-rgb-deep: rgb(190, 165, 191); 
    --thistle-rgb-deep: rgb(196, 171, 196); 
    --purple-white-rgb-deep: rgb(203, 191, 207); 
    --periwinkle-pink-rgb-deep: rgb(213, 187, 216); 
    --cotton-candy-rgb-deep: rgb(232, 203, 235); 
    --lavender-pinocchio-rgb-deep: rgb(215, 201, 206); 
    --dark-white-rgb-deep: rgb(205, 197, 189); 
    --ash-white-rgb-deep: rgb(213, 208, 192); 
    --white-chocolate-rgb-deep: rgb(217, 210, 194); 
    --soft-ivory-rgb-deep: rgb(230, 220, 201); 
    --off-white-rgb-deep: rgb(228, 220, 207); 
    --pearl-white-rgb-deep: rgb(228, 226, 220); 
    --red-white-rgb-deep: rgb(223, 212, 214); 
    --lavenderblush-rgb-deep: rgb(235, 220, 225); 
    --pearl-rgb-deep: rgb(233, 218, 224); 
    --egg-shell-rgb-deep: rgb(235, 229, 207); 
    --oldlace-rgb-deep: rgb(234, 220, 207); 
    --linen-rgb-deep: rgb(230, 220, 210); 
    --seashell-rgb-deep: rgb(235, 225, 218); 
    --bone-white-rgb-deep: rgb(229, 226, 218); 
    --rice-rgb-deep: rgb(230, 225, 219); 
    --floralwhite-rgb-deep: rgb(235, 230, 220); 
    --ivory-rgb-deep: rgb(235, 235, 220); 
    --white-gold-rgb-deep: rgb(235, 235, 224); 
    --light-white-rgb-deep: rgb(235, 235, 227); 
    --whitesmoke-rgb-deep: rgb(225, 225, 225); 
    --cotton-rgb-deep: rgb(231, 231, 229); 
    --snow-rgb-deep: rgb(235, 230, 230); 
    --milk-white-rgb-deep: rgb(234, 232, 235); 
    --half-white-rgb-deep: rgb(235, 234, 230); 
    --white-rgb-deep: rgb(235, 235, 235); 
    --marsh-rgb-deep: rgb(12, 35, 28);
}