:root {
    --black-rgba: rgba(0, 0, 0, .7); 
    --night-rgba: rgba(12, 9, 10, .7); 
    --charcoal-rgba: rgba(52, 40, 44, .7); 
    --oil-rgba: rgba(59, 49, 49, .7); 
    --dark-gray-rgba: rgba(58, 59, 60, .7); 
    --light-black-rgba: rgba(69, 69, 69, .7); 
    --black-cat-rgba: rgba(65, 56, 57, .7); 
    --iridium-rgba: rgba(61, 60, 58, .7); 
    --black-eel-rgba: rgba(70, 62, 63, .7); 
    --black-cow-rgba: rgba(76, 70, 70, .7); 
    --gray-wolf-rgba: rgba(80, 74, 75, .7); 
    --vampire-gray-rgba: rgba(86, 80, 81, .7); 
    --iron-gray-rgba: rgba(82, 89, 93, .7); 
    --gray-dolphin-rgba: rgba(92, 88, 88, .7); 
    --carbon-gray-rgba: rgba(98, 93, 93, .7); 
    --ash-gray-rgba: rgba(102, 99, 98, .7); 
    --dimgray-or-dimgrey-rgba: rgba(105, 105, 105, .7); 
    --nardo-gray-rgba: rgba(104, 106, 108, .7); 
    --cloudy-gray-rgba: rgba(109, 105, 104, .7); 
    --smokey-gray-rgba: rgba(114, 110, 109, .7); 
    --alien-gray-rgba: rgba(115, 111, 110, .7); 
    --sonic-silver-rgba: rgba(117, 117, 117, .7); 
    --platinum-gray-rgba: rgba(121, 121, 121, .7); 
    --granite-rgba: rgba(131, 126, 124, .7); 
    --gray-or-grey-rgba: rgba(128, 128, 128, .7); 
    --battleship-gray-rgba: rgba(132, 132, 130, .7); 
    --gunmetal-gray-rgba: rgba(141, 145, 141, .7); 
    --darkgray-or-darkgrey-rgba: rgba(169, 169, 169, .7); 
    --gray-cloud-rgba: rgba(182, 182, 180, .7); 
    --silver-rgba: rgba(192, 192, 192, .7); 
    --pale-silver-rgba: rgba(201, 192, 187, .7); 
    --gray-goose-rgba: rgba(209, 208, 206, .7); 
    --platinum-silver-rgba: rgba(206, 206, 206, .7); 
    --lightgray-or-lightgrey-rgba: rgba(211, 211, 211, .7); 
    --silver-white-rgba: rgba(218, 219, 221, .7); 
    --gainsboro-rgba: rgba(220, 220, 220, .7); 
    --platinum-rgba: rgba(229, 228, 226, .7); 
    --metallic-silver-rgba: rgba(188, 198, 204, .7); 
    --blue-gray-rgba: rgba(152, 175, 199, .7); 
    --roman-silver-rgba: rgba(131, 137, 150, .7); 
    --lightslategray-or-lightslategrey-rgba: rgba(119, 136, 153, .7); 
    --slategray-or-slategrey-rgba: rgba(112, 128, 144, .7); 
    --rat-gray-rgba: rgba(109, 123, 141, .7); 
    --slate-granite-gray-rgba: rgba(101, 115, 131, .7); 
    --jet-gray-rgba: rgba(97, 109, 126, .7); 
    --mist-blue-rgba: rgba(100, 109, 126, .7); 
    --marble-blue-rgba: rgba(86, 109, 126, .7); 
    --slate-blue-grey-rgba: rgba(115, 124, 161, .7); 
    --light-purple-blue-rgba: rgba(114, 143, 206, .7); 
    --azure-blue-rgba: rgba(72, 99, 160, .7); 
    --blue-jay-rgba: rgba(43, 84, 126, .7); 
    --charcoal-blue-rgba: rgba(54, 69, 79, .7); 
    --dark-blue-grey-rgba: rgba(41, 70, 91, .7); 
    --dark-slate-rgba: rgba(43, 56, 86, .7); 
    --deep-sea-blue-rgba: rgba(18, 52, 86, .7); 
    --night-blue-rgba: rgba(21, 27, 84, .7); 
    --midnightblue-rgba: rgba(25, 25, 112, .7); 
    --navy-rgba: rgba(0, 0, 128, .7); 
    --denim-dark-blue-rgba: rgba(21, 27, 141, .7); 
    --darkblue-rgba: rgba(0, 0, 139, .7); 
    --lapis-blue-rgba: rgba(21, 49, 126, .7); 
    --new-midnight-blue-rgba: rgba(0, 0, 160, .7); 
    --earth-blue-rgba: rgba(0, 0, 165, .7); 
    --cobalt-blue-rgba: rgba(0, 32, 194, .7); 
    --mediumblue-rgba: rgba(0, 0, 205, .7); 
    --blueberry-blue-rgba: rgba(0, 65, 194, .7); 
    --canary-blue-rgba: rgba(41, 22, 245, .7); 
    --blue-rgba: rgba(0, 0, 255, .7); 
    --samco-blue-rgba: rgba(0, 2, 255, .7); 
    --bright-blue-rgba: rgba(9, 9, 255, .7); 
    --blue-orchid-rgba: rgba(31, 69, 252, .7); 
    --sapphire-blue-rgba: rgba(37, 84, 199, .7); 
    --blue-eyes-rgba: rgba(21, 105, 199, .7); 
    --bright-navy-blue-rgba: rgba(25, 116, 210, .7); 
    --balloon-blue-rgba: rgba(43, 96, 222, .7); 
    --royalblue-rgba: rgba(65, 105, 225, .7); 
    --ocean-blue-rgba: rgba(43, 101, 236, .7); 
    --blue-ribbon-rgba: rgba(48, 110, 255, .7); 
    --blue-dress-rgba: rgba(21, 125, 236, .7); 
    --neon-blue-rgba: rgba(21, 137, 255, .7); 
    --dodgerblue-rgba: rgba(30, 144, 255, .7); 
    --glacial-blue-ice-rgba: rgba(54, 139, 193, .7); 
    --steelblue-rgba: rgba(70, 130, 180, .7); 
    --silk-blue-rgba: rgba(72, 138, 199, .7); 
    --windows-blue-rgba: rgba(53, 126, 199, .7); 
    --blue-ivy-rgba: rgba(48, 144, 199, .7); 
    --blue-koi-rgba: rgba(101, 158, 199, .7); 
    --columbia-blue-rgba: rgba(135, 175, 199, .7); 
    --baby-blue-rgba: rgba(149, 185, 199, .7); 
    --cornflowerblue-rgba: rgba(100, 149, 237, .7); 
    --sky-blue-dress-rgba: rgba(102, 152, 255, .7); 
    --iceberg-rgba: rgba(86, 165, 236, .7); 
    --butterfly-blue-rgba: rgba(56, 172, 236, .7); 
    --deepskyblue-rgba: rgba(0, 191, 255, .7); 
    --midday-blue-rgba: rgba(59, 185, 255, .7); 
    --crystal-blue-rgba: rgba(92, 179, 255, .7); 
    --denim-blue-rgba: rgba(121, 186, 236, .7); 
    --day-sky-blue-rgba: rgba(130, 202, 255, .7); 
    --lightskyblue-rgba: rgba(135, 206, 250, .7); 
    --skyblue-rgba: rgba(135, 206, 235, .7); 
    --jeans-blue-rgba: rgba(160, 207, 236, .7); 
    --blue-angel-rgba: rgba(183, 206, 236, .7); 
    --pastel-blue-rgba: rgba(180, 207, 236, .7); 
    --light-day-blue-rgba: rgba(173, 223, 255, .7); 
    --sea-blue-rgba: rgba(194, 223, 255, .7); 
    --heavenly-blue-rgba: rgba(198, 222, 255, .7); 
    --robin-egg-blue-rgba: rgba(189, 237, 255, .7); 
    --powderblue-rgba: rgba(176, 224, 230, .7); 
    --coral-blue-rgba: rgba(175, 220, 236, .7); 
    --lightblue-rgba: rgba(173, 216, 230, .7); 
    --lightsteelblue-rgba: rgba(176, 207, 222, .7); 
    --gulf-blue-rgba: rgba(201, 223, 236, .7); 
    --pastel-light-blue-rgba: rgba(213, 214, 234, .7); 
    --lavender-blue-rgba: rgba(227, 228, 250, .7); 
    --white-blue-rgba: rgba(219, 233, 250, .7); 
    --lavender-rgba: rgba(230, 230, 250, .7); 
    --water-rgba: rgba(235, 244, 250, .7); 
    --aliceblue-rgba: rgba(240, 248, 255, .7); 
    --ghostwhite-rgba: rgba(248, 248, 255, .7); 
    --azure-rgba: rgba(240, 255, 255, .7); 
    --lightcyan-rgba: rgba(224, 255, 255, .7); 
    --light-slate-rgba: rgba(204, 255, 255, .7); 
    --electric-blue-rgba: rgba(154, 254, 255, .7); 
    --tron-blue-rgba: rgba(125, 253, 254, .7); 
    --blue-zircon-rgba: rgba(87, 254, 255, .7); 
    --aqua-or-cyan-rgba: rgba(0, 255, 255, .7); 
    --bright-cyan-rgba: rgba(10, 255, 255, .7); 
    --celeste-rgba: rgba(80, 235, 236, .7); 
    --blue-diamond-rgba: rgba(78, 226, 236, .7); 
    --bright-turquoise-rgba: rgba(22, 226, 245, .7); 
    --blue-lagoon-rgba: rgba(142, 235, 236, .7); 
    --paleturquoise-rgba: rgba(175, 238, 238, .7); 
    --pale-blue-lily-rgba: rgba(207, 236, 236, .7); 
    --light-teal-rgba: rgba(179, 217, 217, .7); 
    --tiffany-blue-rgba: rgba(129, 216, 208, .7); 
    --blue-hosta-rgba: rgba(119, 191, 199, .7); 
    --cyan-opaque-rgba: rgba(146, 199, 199, .7); 
    --northern-lights-blue-rgba: rgba(120, 199, 199, .7); 
    --blue-green-rgba: rgba(123, 204, 181, .7); 
    --mediumaquamarine-rgba: rgba(102, 205, 170, .7); 
    --magic-mint-rgba: rgba(170, 240, 209, .7); 
    --light-aquamarine-rgba: rgba(147, 255, 232, .7); 
    --aquamarine-rgba: rgba(127, 255, 212, .7); 
    --bright-teal-rgba: rgba(1, 249, 198, .7); 
    --turquoise-rgba: rgba(64, 224, 208, .7); 
    --mediumturquoise-rgba: rgba(72, 209, 204, .7); 
    --deep-turquoise-rgba: rgba(72, 204, 205, .7); 
    --jellyfish-rgba: rgba(70, 199, 199, .7); 
    --blue-turquoise-rgba: rgba(67, 198, 219, .7); 
    --darkturquoise-rgba: rgba(0, 206, 209, .7); 
    --macaw-blue-green-rgba: rgba(67, 191, 199, .7); 
    --lightseagreen-rgba: rgba(32, 178, 170, .7); 
    --seafoam-green-rgba: rgba(62, 169, 159, .7); 
    --cadetblue-rgba: rgba(95, 158, 160, .7); 
    --deep-sea-rgba: rgba(59, 156, 156, .7); 
    --darkcyan-rgba: rgba(0, 139, 139, .7); 
    --teal-green-rgba: rgba(0, 130, 127, .7); 
    --teal-rgba: rgba(0, 128, 128, .7); 
    --teal-blue-rgba: rgba(0, 124, 128, .7); 
    --medium-teal-rgba: rgba(4, 95, 95, .7); 
    --dark-teal-rgba: rgba(4, 93, 93, .7); 
    --deep-teal-rgba: rgba(3, 62, 62, .7); 
    --darkslategray-or-darkslategrey-rgba: rgba(37, 56, 60, .7); 
    --gunmetal-rgba: rgba(44, 53, 57, .7); 
    --blue-moss-green-rgba: rgba(60, 86, 91, .7); 
    --beetle-green-rgba: rgba(76, 120, 126, .7); 
    --grayish-turquoise-rgba: rgba(94, 125, 126, .7); 
    --greenish-blue-rgba: rgba(48, 125, 126, .7); 
    --aquamarine-stone-rgba: rgba(52, 135, 129, .7); 
    --sea-turtle-green-rgba: rgba(67, 141, 128, .7); 
    --dull-sea-green-rgba: rgba(78, 137, 117, .7); 
    --dark-green-blue-rgba: rgba(31, 99, 87, .7); 
    --deep-sea-green-rgba: rgba(48, 103, 84, .7); 
    --bottle-green-rgba: rgba(0, 106, 78, .7); 
    --seagreen-rgba: rgba(46, 139, 87, .7); 
    --elf-green-rgba: rgba(27, 138, 107, .7); 
    --dark-mint-rgba: rgba(49, 144, 110, .7); 
    --jade-rgba: rgba(0, 163, 108, .7); 
    --earth-green-rgba: rgba(52, 165, 111, .7); 
    --chrome-green-rgba: rgba(26, 162, 96, .7); 
    --emerald-rgba: rgba(80, 200, 120, .7); 
    --mint-rgba: rgba(62, 180, 137, .7); 
    --mediumseagreen-rgba: rgba(60, 179, 113, .7); 
    --metallic-green-rgba: rgba(124, 157, 142, .7); 
    --camouflage-green-rgba: rgba(120, 134, 107, .7); 
    --sage-green-rgba: rgba(132, 139, 121, .7); 
    --hazel-green-rgba: rgba(97, 124, 88, .7); 
    --venom-green-rgba: rgba(114, 140, 0, .7); 
    --olivedrab-rgba: rgba(107, 142, 35, .7); 
    --olive-rgba: rgba(128, 128, 0, .7); 
    --darkolivegreen-rgba: rgba(85, 107, 47, .7); 
    --military-green-rgba: rgba(78, 91, 49, .7); 
    --green-leaves-rgba: rgba(58, 95, 11, .7); 
    --army-green-rgba: rgba(75, 83, 32, .7); 
    --fern-green-rgba: rgba(102, 124, 38, .7); 
    --fall-forest-green-rgba: rgba(78, 146, 88, .7); 
    --irish-green-rgba: rgba(8, 160, 75, .7); 
    --pine-green-rgba: rgba(56, 124, 68, .7); 
    --medium-forest-green-rgba: rgba(52, 114, 53, .7); 
    --jungle-green-rgba: rgba(52, 124, 44, .7); 
    --cactus-green-rgba: rgba(34, 116, 66, .7); 
    --forestgreen-rgba: rgba(34, 139, 34, .7); 
    --green-rgba: rgba(0, 128, 0, .7); 
    --darkgreen-rgba: rgba(0, 100, 0, .7); 
    --deep-green-rgba: rgba(5, 102, 8, .7); 
    --deep-emerald-green-rgba: rgba(4, 99, 7, .7); 
    --hunter-green-rgba: rgba(53, 94, 59, .7); 
    --dark-forest-green-rgba: rgba(37, 65, 23, .7); 
    --lotus-green-rgba: rgba(0, 66, 37, .7); 
    --seaweed-green-rgba: rgba(67, 124, 23, .7); 
    --shamrock-green-rgba: rgba(52, 124, 23, .7); 
    --green-onion-rgba: rgba(106, 161, 33, .7); 
    --moss-green-rgba: rgba(138, 154, 91, .7); 
    --grass-green-rgba: rgba(63, 155, 11, .7); 
    --green-pepper-rgba: rgba(74, 160, 44, .7); 
    --dark-lime-green-rgba: rgba(65, 163, 23, .7); 
    --parrot-green-rgba: rgba(18, 173, 43, .7); 
    --clover-green-rgba: rgba(62, 160, 85, .7); 
    --dinosaur-green-rgba: rgba(115, 161, 108, .7); 
    --green-snake-rgba: rgba(108, 187, 60, .7); 
    --alien-green-rgba: rgba(108, 196, 23, .7); 
    --green-apple-rgba: rgba(76, 196, 23, .7); 
    --limegreen-rgba: rgba(50, 205, 50, .7); 
    --pea-green-rgba: rgba(82, 208, 23, .7); 
    --kelly-green-rgba: rgba(76, 197, 82, .7); 
    --zombie-green-rgba: rgba(84, 197, 113, .7); 
    --green-peas-rgba: rgba(137, 195, 92, .7); 
    --dollar-bill-green-rgba: rgba(133, 187, 101, .7); 
    --frog-green-rgba: rgba(153, 198, 142, .7); 
    --turquoise-green-rgba: rgba(160, 214, 180, .7); 
    --darkseagreen-rgba: rgba(143, 188, 143, .7); 
    --basil-green-rgba: rgba(130, 159, 130, .7); 
    --gray-green-rgba: rgba(162, 173, 156, .7); 
    --iguana-green-rgba: rgba(156, 176, 113, .7); 
    --citron-green-rgba: rgba(143, 179, 29, .7); 
    --acid-green-rgba: rgba(176, 191, 26, .7); 
    --avocado-green-rgba: rgba(178, 194, 72, .7); 
    --pistachio-green-rgba: rgba(157, 194, 9, .7); 
    --salad-green-rgba: rgba(161, 201, 53, .7); 
    --yellowgreen-rgba: rgba(154, 205, 50, .7); 
    --pastel-green-rgba: rgba(119, 221, 119, .7); 
    --hummingbird-green-rgba: rgba(127, 232, 23, .7); 
    --nebula-green-rgba: rgba(89, 232, 23, .7); 
    --stoplight-go-green-rgba: rgba(87, 233, 100, .7); 
    --neon-green-rgba: rgba(22, 245, 41, .7); 
    --jade-green-rgba: rgba(94, 251, 110, .7); 
    --lime-mint-green-rgba: rgba(54, 245, 127, .7); 
    --springgreen-rgba: rgba(0, 255, 127, .7); 
    --mediumspringgreen-rgba: rgba(0, 250, 154, .7); 
    --emerald-green-rgba: rgba(95, 251, 23, .7); 
    --lime-rgba: rgba(0, 255, 0, .7); 
    --lawngreen-rgba: rgba(124, 252, 0, .7); 
    --bright-green-rgba: rgba(102, 255, 0, .7); 
    --chartreuse-rgba: rgba(127, 255, 0, .7); 
    --yellow-lawn-green-rgba: rgba(135, 247, 23, .7); 
    --aloe-vera-green-rgba: rgba(152, 245, 22, .7); 
    --dull-green-yellow-rgba: rgba(177, 251, 23, .7); 
    --lemon-green-rgba: rgba(173, 248, 2, .7); 
    --greenyellow-rgba: rgba(173, 255, 47, .7); 
    --chameleon-green-rgba: rgba(189, 245, 22, .7); 
    --neon-yellow-green-rgba: rgba(218, 238, 1, .7); 
    --yellow-green-grosbeak-rgba: rgba(226, 245, 22, .7); 
    --tea-green-rgba: rgba(204, 251, 93, .7); 
    --slime-green-rgba: rgba(188, 233, 84, .7); 
    --algae-green-rgba: rgba(100, 233, 134, .7); 
    --lightgreen-rgba: rgba(144, 238, 144, .7); 
    --dragon-green-rgba: rgba(106, 251, 146, .7); 
    --palegreen-rgba: rgba(152, 251, 152, .7); 
    --mint-green-rgba: rgba(152, 255, 152, .7); 
    --green-thumb-rgba: rgba(181, 234, 170, .7); 
    --organic-brown-rgba: rgba(227, 249, 166, .7); 
    --light-jade-rgba: rgba(195, 253, 184, .7); 
    --light-mint-green-rgba: rgba(194, 229, 211, .7); 
    --light-rose-green-rgba: rgba(219, 249, 219, .7); 
    --chrome-white-rgba: rgba(232, 241, 212, .7); 
    --honeydew-rgba: rgba(240, 255, 240, .7); 
    --mintcream-rgba: rgba(245, 255, 250, .7); 
    --lemonchiffon-rgba: rgba(255, 250, 205, .7); 
    --parchment-rgba: rgba(255, 255, 194, .7); 
    --cream-rgba: rgba(255, 255, 204, .7); 
    --cream-white-rgba: rgba(255, 253, 208, .7); 
    --lightgoldenrodyellow-rgba: rgba(250, 250, 210, .7); 
    --lightyellow-rgba: rgba(255, 255, 224, .7); 
    --beige-rgba: rgba(245, 245, 220, .7); 
    --cornsilk-rgba: rgba(255, 248, 220, .7); 
    --blonde-rgba: rgba(251, 246, 217, .7); 
    --champagne-rgba: rgba(247, 231, 206, .7); 
    --antiquewhite-rgba: rgba(250, 235, 215, .7); 
    --papayawhip-rgba: rgba(255, 239, 213, .7); 
    --blanchedalmond-rgba: rgba(255, 235, 205, .7); 
    --bisque-rgba: rgba(255, 228, 196, .7); 
    --wheat-rgba: rgba(245, 222, 179, .7); 
    --moccasin-rgba: rgba(255, 228, 181, .7); 
    --peach-rgba: rgba(255, 229, 180, .7); 
    --light-orange-rgba: rgba(254, 216, 177, .7); 
    --peachpuff-rgba: rgba(255, 218, 185, .7); 
    --coral-peach-rgba: rgba(251, 213, 171, .7); 
    --navajowhite-rgba: rgba(255, 222, 173, .7); 
    --golden-blonde-rgba: rgba(251, 231, 161, .7); 
    --golden-silk-rgba: rgba(243, 227, 195, .7); 
    --dark-blonde-rgba: rgba(240, 226, 182, .7); 
    --light-gold-rgba: rgba(241, 229, 172, .7); 
    --vanilla-rgba: rgba(243, 229, 171, .7); 
    --tan-brown-rgba: rgba(236, 229, 182, .7); 
    --dirty-white-rgba: rgba(232, 228, 201, .7); 
    --palegoldenrod-rgba: rgba(238, 232, 170, .7); 
    --khaki-rgba: rgba(240, 230, 140, .7); 
    --cardboard-brown-rgba: rgba(237, 218, 116, .7); 
    --harvest-gold-rgba: rgba(237, 226, 117, .7); 
    --sun-yellow-rgba: rgba(255, 232, 124, .7); 
    --corn-yellow-rgba: rgba(255, 243, 128, .7); 
    --pastel-yellow-rgba: rgba(250, 248, 132, .7); 
    --neon-yellow-rgba: rgba(255, 255, 51, .7); 
    --yellow-rgba: rgba(255, 255, 0, .7); 
    --canary-yellow-rgba: rgba(255, 239, 0, .7); 
    --banana-yellow-rgba: rgba(245, 226, 22, .7); 
    --mustard-yellow-rgba: rgba(255, 219, 88, .7); 
    --golden-yellow-rgba: rgba(255, 223, 0, .7); 
    --bold-yellow-rgba: rgba(249, 219, 36, .7); 
    --rubber-ducky-yellow-rgba: rgba(255, 216, 1, .7); 
    --gold-rgba: rgba(255, 215, 0, .7); 
    --bright-gold-rgba: rgba(253, 208, 23, .7); 
    --chrome-gold-rgba: rgba(255, 206, 68, .7); 
    --golden-brown-rgba: rgba(234, 193, 23, .7); 
    --deep-yellow-rgba: rgba(246, 190, 0, .7); 
    --macaroni-and-cheese-rgba: rgba(242, 187, 102, .7); 
    --saffron-rgba: rgba(251, 185, 23, .7); 
    --neon-gold-rgba: rgba(253, 189, 1, .7); 
    --beer-rgba: rgba(251, 177, 23, .7); 
    --yellow-orange-or-orange-yellow-rgba: rgba(255, 174, 66, .7); 
    --cantaloupe-rgba: rgba(255, 166, 47, .7); 
    --cheese-orange-rgba: rgba(255, 166, 0, .7); 
    --orange-rgba: rgba(255, 165, 0, .7); 
    --brown-sand-rgba: rgba(238, 154, 77, .7); 
    --sandybrown-rgba: rgba(244, 164, 96, .7); 
    --brown-sugar-rgba: rgba(226, 167, 111, .7); 
    --camel-brown-rgba: rgba(193, 154, 107, .7); 
    --deer-brown-rgba: rgba(230, 191, 131, .7); 
    --burlywood-rgba: rgba(222, 184, 135, .7); 
    --tan-rgba: rgba(210, 180, 140, .7); 
    --light-french-beige-rgba: rgba(200, 173, 127, .7); 
    --sand-rgba: rgba(194, 178, 128, .7); 
    --sage-rgba: rgba(188, 184, 138, .7); 
    --fall-leaf-brown-rgba: rgba(200, 181, 96, .7); 
    --ginger-brown-rgba: rgba(201, 190, 98, .7); 
    --bronze-gold-rgba: rgba(201, 174, 93, .7); 
    --darkkhaki-rgba: rgba(189, 183, 107, .7); 
    --olive-green-rgba: rgba(186, 184, 108, .7); 
    --brass-rgba: rgba(181, 166, 66, .7); 
    --cookie-brown-rgba: rgba(199, 163, 23, .7); 
    --metallic-gold-rgba: rgba(212, 175, 55, .7); 
    --bee-yellow-rgba: rgba(233, 171, 23, .7); 
    --school-bus-yellow-rgba: rgba(232, 163, 23, .7); 
    --goldenrod-rgba: rgba(218, 165, 32, .7); 
    --orange-gold-rgba: rgba(212, 160, 23, .7); 
    --caramel-rgba: rgba(198, 142, 23, .7); 
    --darkgoldenrod-rgba: rgba(184, 134, 11, .7); 
    --cinnamon-rgba: rgba(197, 137, 23, .7); 
    --peru-rgba: rgba(205, 133, 63, .7); 
    --bronze-rgba: rgba(205, 127, 50, .7); 
    --tiger-orange-rgba: rgba(200, 129, 65, .7); 
    --copper-rgba: rgba(184, 115, 51, .7); 
    --dark-gold-rgba: rgba(170, 108, 57, .7); 
    --metallic-bronze-rgba: rgba(169, 113, 66, .7); 
    --dark-almond-rgba: rgba(171, 120, 78, .7); 
    --wood-rgba: rgba(150, 111, 51, .7); 
    --oak-brown-rgba: rgba(128, 101, 23, .7); 
    --antique-bronze-rgba: rgba(102, 93, 30, .7); 
    --hazel-rgba: rgba(142, 118, 24, .7); 
    --dark-yellow-rgba: rgba(139, 128, 0, .7); 
    --dark-moccasin-rgba: rgba(130, 120, 57, .7); 
    --khaki-green-rgba: rgba(138, 134, 93, .7); 
    --millennium-jade-rgba: rgba(147, 145, 124, .7); 
    --dark-beige-rgba: rgba(159, 140, 118, .7); 
    --bullet-shell-rgba: rgba(175, 155, 96, .7); 
    --army-brown-rgba: rgba(130, 123, 96, .7); 
    --sandstone-rgba: rgba(120, 109, 95, .7); 
    --taupe-rgba: rgba(72, 60, 50, .7); 
    --mocha-rgba: rgba(73, 61, 38, .7); 
    --milk-chocolate-rgba: rgba(81, 59, 28, .7); 
    --gray-brown-rgba: rgba(61, 54, 53, .7); 
    --dark-coffee-rgba: rgba(59, 47, 47, .7); 
    --old-burgundy-rgba: rgba(67, 48, 46, .7); 
    --western-charcoal-rgba: rgba(73, 65, 63, .7); 
    --bakers-brown-rgba: rgba(92, 51, 23, .7); 
    --dark-brown-rgba: rgba(101, 67, 33, .7); 
    --sepia-brown-rgba: rgba(112, 66, 20, .7); 
    --dark-bronze-rgba: rgba(128, 74, 0, .7); 
    --coffee-rgba: rgba(111, 78, 55, .7); 
    --brown-bear-rgba: rgba(131, 92, 59, .7); 
    --red-dirt-rgba: rgba(127, 82, 23, .7); 
    --sepia-rgba: rgba(127, 70, 44, .7); 
    --sienna-rgba: rgba(160, 82, 45, .7); 
    --saddlebrown-rgba: rgba(139, 69, 19, .7); 
    --dark-sienna-rgba: rgba(138, 65, 23, .7); 
    --sangria-rgba: rgba(126, 56, 23, .7); 
    --blood-red-rgba: rgba(126, 53, 23, .7); 
    --chestnut-rgba: rgba(149, 69, 53, .7); 
    --coral-brown-rgba: rgba(158, 70, 56, .7); 
    --chestnut-red-rgba: rgba(195, 74, 44, .7); 
    --mahogany-rgba: rgba(192, 64, 0, .7); 
    --red-gold-rgba: rgba(235, 84, 6, .7); 
    --red-fox-rgba: rgba(195, 88, 23, .7); 
    --dark-bisque-rgba: rgba(184, 101, 0, .7); 
    --light-brown-rgba: rgba(181, 101, 29, .7); 
    --petra-gold-rgba: rgba(183, 103, 52, .7); 
    --rust-rgba: rgba(195, 98, 65, .7); 
    --copper-red-rgba: rgba(203, 109, 81, .7); 
    --orange-salmon-rgba: rgba(196, 116, 81, .7); 
    --chocolate-rgba: rgba(210, 105, 30, .7); 
    --sedona-rgba: rgba(204, 102, 0, .7); 
    --papaya-orange-rgba: rgba(229, 103, 23, .7); 
    --halloween-orange-rgba: rgba(230, 108, 44, .7); 
    --neon-orange-rgba: rgba(255, 103, 0, .7); 
    --bright-orange-rgba: rgba(255, 95, 31, .7); 
    --pumpkin-orange-rgba: rgba(248, 114, 23, .7); 
    --carrot-orange-rgba: rgba(248, 128, 23, .7); 
    --darkorange-rgba: rgba(255, 140, 0, .7); 
    --construction-cone-orange-rgba: rgba(248, 116, 49, .7); 
    --indian-saffron-rgba: rgba(255, 119, 34, .7); 
    --sunrise-orange-rgba: rgba(230, 116, 81, .7); 
    --mango-orange-rgba: rgba(255, 128, 64, .7); 
    --coral-rgba: rgba(255, 127, 80, .7); 
    --basket-ball-orange-rgba: rgba(248, 129, 88, .7); 
    --light-salmon-rose-rgba: rgba(249, 150, 107, .7); 
    --lightsalmon-rgba: rgba(255, 160, 122, .7); 
    --darksalmon-rgba: rgba(233, 150, 122, .7); 
    --tangerine-rgba: rgba(231, 138, 97, .7); 
    --light-copper-rgba: rgba(218, 138, 103, .7); 
    --salmon-pink-rgba: rgba(255, 134, 116, .7); 
    --salmon-rgba: rgba(250, 128, 114, .7); 
    --peach-pink-rgba: rgba(249, 139, 136, .7); 
    --lightcoral-rgba: rgba(240, 128, 128, .7); 
    --pastel-red-rgba: rgba(246, 114, 128, .7); 
    --pink-coral-rgba: rgba(231, 116, 113, .7); 
    --bean-red-rgba: rgba(247, 93, 89, .7); 
    --valentine-red-rgba: rgba(229, 84, 81, .7); 
    --indianred-rgba: rgba(205, 92, 92, .7); 
    --tomato-rgba: rgba(255, 99, 71, .7); 
    --shocking-orange-rgba: rgba(229, 91, 60, .7); 
    --orangered-rgba: rgba(255, 69, 0, .7); 
    --red-rgba: rgba(255, 0, 0, .7); 
    --neon-red-rgba: rgba(253, 28, 3, .7); 
    --scarlet-red-rgba: rgba(255, 36, 0, .7); 
    --ruby-red-rgba: rgba(246, 34, 23, .7); 
    --ferrari-red-rgba: rgba(247, 13, 26, .7); 
    --fire-engine-red-rgba: rgba(246, 40, 23, .7); 
    --lava-red-rgba: rgba(228, 34, 23, .7); 
    --love-red-rgba: rgba(228, 27, 23, .7); 
    --grapefruit-rgba: rgba(220, 56, 31, .7); 
    --cherry-red-rgba: rgba(194, 70, 65, .7); 
    --chilli-pepper-rgba: rgba(193, 27, 23, .7); 
    --firebrick-rgba: rgba(178, 34, 34, .7); 
    --tomato-sauce-red-rgba: rgba(178, 24, 7, .7); 
    --brown-rgba: rgba(165, 42, 42, .7); 
    --carbon-red-rgba: rgba(167, 13, 42, .7); 
    --cranberry-rgba: rgba(159, 0, 15, .7); 
    --saffron-red-rgba: rgba(147, 19, 20, .7); 
    --crimson-red-rgba: rgba(153, 0, 0, .7); 
    --red-wine-or-wine-red-rgba: rgba(153, 0, 18, .7); 
    --darkred-rgba: rgba(139, 0, 0, .7); 
    --maroon-rgba: rgba(128, 0, 0, .7); 
    --burgundy-rgba: rgba(140, 0, 26, .7); 
    --vermilion-rgba: rgba(126, 25, 27, .7); 
    --deep-red-rgba: rgba(128, 5, 23, .7); 
    --red-blood-rgba: rgba(102, 0, 0, .7); 
    --blood-night-rgba: rgba(85, 22, 6, .7); 
    --dark-scarlet-rgba: rgba(86, 3, 25, .7); 
    --black-bean-rgba: rgba(61, 12, 2, .7); 
    --chocolate-brown-rgba: rgba(63, 0, 15, .7); 
    --midnight-rgba: rgba(43, 27, 23, .7); 
    --purple-lily-rgba: rgba(85, 10, 53, .7); 
    --purple-maroon-rgba: rgba(129, 5, 65, .7); 
    --plum-pie-rgba: rgba(125, 5, 65, .7); 
    --plum-velvet-rgba: rgba(125, 5, 82, .7); 
    --dark-raspberry-rgba: rgba(135, 38, 87, .7); 
    --velvet-maroon-rgba: rgba(126, 53, 77, .7); 
    --rosy-finch-rgba: rgba(127, 78, 82, .7); 
    --dull-purple-rgba: rgba(127, 82, 93, .7); 
    --puce-rgba: rgba(127, 90, 88, .7); 
    --rose-dust-rgba: rgba(153, 112, 112, .7); 
    --pastel-brown-rgba: rgba(177, 144, 127, .7); 
    --rosy-pink-rgba: rgba(179, 132, 129, .7); 
    --rosybrown-rgba: rgba(188, 143, 143, .7); 
    --khaki-rose-rgba: rgba(197, 144, 142, .7); 
    --lipstick-pink-rgba: rgba(196, 135, 147, .7); 
    --pink-brown-rgba: rgba(196, 129, 137, .7); 
    --old-rose-rgba: rgba(192, 128, 129, .7); 
    --dusty-pink-rgba: rgba(213, 138, 148, .7); 
    --pink-daisy-rgba: rgba(231, 153, 163, .7); 
    --rose-rgba: rgba(232, 173, 170, .7); 
    --dusty-rose-rgba: rgba(201, 169, 166, .7); 
    --silver-pink-rgba: rgba(196, 174, 173, .7); 
    --gold-pink-rgba: rgba(230, 199, 194, .7); 
    --rose-gold-rgba: rgba(236, 197, 192, .7); 
    --deep-peach-rgba: rgba(255, 203, 164, .7); 
    --pastel-orange-rgba: rgba(248, 184, 139, .7); 
    --desert-sand-rgba: rgba(237, 201, 175, .7); 
    --unbleached-silk-rgba: rgba(255, 221, 202, .7); 
    --pig-pink-rgba: rgba(253, 215, 228, .7); 
    --pale-pink-rgba: rgba(242, 212, 215, .7); 
    --blush-rgba: rgba(255, 230, 232, .7); 
    --mistyrose-rgba: rgba(255, 228, 225, .7); 
    --pink-bubble-gum-rgba: rgba(255, 223, 221, .7); 
    --light-rose-rgba: rgba(251, 207, 205, .7); 
    --light-red-rgba: rgba(255, 204, 203, .7); 
    --warm-pink-rgba: rgba(246, 198, 189, .7); 
    --deep-rose-rgba: rgba(251, 187, 185, .7); 
    --pink-rgba: rgba(255, 192, 203, .7); 
    --lightpink-rgba: rgba(255, 182, 193, .7); 
    --soft-pink-rgba: rgba(255, 184, 191, .7); 
    --donut-pink-rgba: rgba(250, 175, 190, .7); 
    --baby-pink-rgba: rgba(250, 175, 186, .7); 
    --flamingo-pink-rgba: rgba(249, 167, 176, .7); 
    --pastel-pink-rgba: rgba(254, 163, 170, .7); 
    --rose-pink-or-pink-rose-rgba: rgba(231, 161, 176, .7); 
    --cadillac-pink-rgba: rgba(227, 138, 174, .7); 
    --carnation-pink-rgba: rgba(247, 120, 161, .7); 
    --pastel-rose-rgba: rgba(229, 120, 143, .7); 
    --blush-red-rgba: rgba(229, 110, 148, .7); 
    --palevioletred-rgba: rgba(219, 112, 147, .7); 
    --purple-pink-rgba: rgba(209, 101, 135, .7); 
    --tulip-pink-rgba: rgba(194, 90, 124, .7); 
    --bashful-pink-rgba: rgba(194, 82, 131, .7); 
    --dark-pink-rgba: rgba(231, 84, 128, .7); 
    --dark-hot-pink-rgba: rgba(246, 96, 171, .7); 
    --hotpink-rgba: rgba(255, 105, 180, .7); 
    --watermelon-pink-rgba: rgba(252, 108, 133, .7); 
    --violet-red-rgba: rgba(246, 53, 138, .7); 
    --hot-deep-pink-rgba: rgba(245, 40, 135, .7); 
    --bright-pink-rgba: rgba(255, 0, 127, .7); 
    --deeppink-rgba: rgba(255, 20, 147, .7); 
    --neon-pink-rgba: rgba(245, 53, 170, .7); 
    --chrome-pink-rgba: rgba(255, 51, 170, .7); 
    --neon-hot-pink-rgba: rgba(253, 52, 156, .7); 
    --pink-cupcake-rgba: rgba(228, 94, 157, .7); 
    --royal-pink-rgba: rgba(231, 89, 172, .7); 
    --dimorphotheca-magenta-rgba: rgba(227, 49, 157, .7); 
    --pink-lemonade-rgba: rgba(228, 40, 124, .7); 
    --red-pink-rgba: rgba(250, 42, 85, .7); 
    --raspberry-rgba: rgba(227, 11, 93, .7); 
    --crimson-rgba: rgba(220, 20, 60, .7); 
    --bright-maroon-rgba: rgba(195, 33, 72, .7); 
    --rose-red-rgba: rgba(194, 30, 86, .7); 
    --rogue-pink-rgba: rgba(193, 40, 105, .7); 
    --burnt-pink-rgba: rgba(193, 34, 103, .7); 
    --pink-violet-rgba: rgba(202, 34, 107, .7); 
    --magenta-pink-rgba: rgba(204, 51, 139, .7); 
    --mediumvioletred-rgba: rgba(199, 21, 133, .7); 
    --dark-carnation-pink-rgba: rgba(193, 34, 131, .7); 
    --raspberry-purple-rgba: rgba(179, 68, 108, .7); 
    --pink-plum-rgba: rgba(185, 59, 143, .7); 
    --orchid-rgba: rgba(218, 112, 214, .7); 
    --deep-mauve-rgba: rgba(223, 115, 212, .7); 
    --violet-rgba: rgba(238, 130, 238, .7); 
    --fuchsia-pink-rgba: rgba(255, 119, 255, .7); 
    --bright-neon-pink-rgba: rgba(244, 51, 255, .7); 
    --fuchsia-or-magenta-rgba: rgba(255, 0, 255, .7); 
    --crimson-purple-rgba: rgba(226, 56, 236, .7); 
    --heliotrope-purple-rgba: rgba(212, 98, 255, .7); 
    --tyrian-purple-rgba: rgba(196, 90, 236, .7); 
    --mediumorchid-rgba: rgba(186, 85, 211, .7); 
    --purple-flower-rgba: rgba(167, 74, 199, .7); 
    --orchid-purple-rgba: rgba(176, 72, 181, .7); 
    --rich-lilac-rgba: rgba(182, 102, 210, .7); 
    --pastel-violet-rgba: rgba(210, 145, 188, .7); 
    --mauve-taupe-rgba: rgba(145, 95, 109, .7); 
    --viola-purple-rgba: rgba(126, 88, 126, .7); 
    --eggplant-rgba: rgba(97, 64, 81, .7); 
    --plum-purple-rgba: rgba(88, 55, 89, .7); 
    --grape-rgba: rgba(94, 90, 128, .7); 
    --purple-navy-rgba: rgba(78, 81, 128, .7); 
    --slateblue-rgba: rgba(106, 90, 205, .7); 
    --blue-lotus-rgba: rgba(105, 96, 236, .7); 
    --blurple-rgba: rgba(88, 101, 242, .7); 
    --light-slate-blue-rgba: rgba(115, 106, 255, .7); 
    --mediumslateblue-rgba: rgba(123, 104, 238, .7); 
    --periwinkle-purple-rgba: rgba(117, 117, 207, .7); 
    --very-peri-rgba: rgba(102, 103, 171, .7); 
    --bright-grape-rgba: rgba(111, 45, 168, .7); 
    --purple-amethyst-rgba: rgba(108, 45, 199, .7); 
    --bright-purple-rgba: rgba(106, 13, 173, .7); 
    --deep-periwinkle-rgba: rgba(84, 83, 166, .7); 
    --darkslateblue-rgba: rgba(72, 61, 139, .7); 
    --purple-haze-rgba: rgba(78, 56, 126, .7); 
    --purple-iris-rgba: rgba(87, 27, 126, .7); 
    --dark-purple-rgba: rgba(75, 1, 80, .7); 
    --deep-purple-rgba: rgba(54, 1, 63, .7); 
    --midnight-purple-rgba: rgba(46, 26, 71, .7); 
    --purple-monster-rgba: rgba(70, 27, 126, .7); 
    --indigo-rgba: rgba(75, 0, 130, .7); 
    --blue-whale-rgba: rgba(52, 45, 126, .7); 
    --rebeccapurple-rgba: rgba(102, 51, 153, .7); 
    --purple-jam-rgba: rgba(106, 40, 126, .7); 
    --darkmagenta-rgba: rgba(139, 0, 139, .7); 
    --purple-rgba: rgba(128, 0, 128, .7); 
    --french-lilac-rgba: rgba(134, 96, 142, .7); 
    --darkorchid-rgba: rgba(153, 50, 204, .7); 
    --darkviolet-rgba: rgba(148, 0, 211, .7); 
    --purple-violet-rgba: rgba(141, 56, 201, .7); 
    --jasmine-purple-rgba: rgba(162, 59, 236, .7); 
    --purple-daffodil-rgba: rgba(176, 65, 255, .7); 
    --clematis-violet-rgba: rgba(132, 45, 206, .7); 
    --blueviolet-rgba: rgba(138, 43, 226, .7); 
    --purple-sage-bush-rgba: rgba(122, 93, 199, .7); 
    --lovely-purple-rgba: rgba(127, 56, 236, .7); 
    --neon-purple-rgba: rgba(157, 0, 255, .7); 
    --purple-plum-rgba: rgba(142, 53, 239, .7); 
    --aztech-purple-rgba: rgba(137, 59, 255, .7); 
    --mediumpurple-rgba: rgba(147, 112, 219, .7); 
    --light-purple-rgba: rgba(132, 103, 215, .7); 
    --crocus-purple-rgba: rgba(145, 114, 236, .7); 
    --purple-mimosa-rgba: rgba(158, 123, 255, .7); 
    --periwinkle-rgba: rgba(204, 204, 255, .7); 
    --pale-lilac-rgba: rgba(220, 208, 255, .7); 
    --lavender-purple-rgba: rgba(150, 123, 182, .7); 
    --rose-purple-rgba: rgba(176, 159, 202, .7); 
    --lilac-rgba: rgba(200, 162, 200, .7); 
    --mauve-rgba: rgba(224, 176, 255, .7); 
    --bright-lilac-rgba: rgba(216, 145, 239, .7); 
    --purple-dragon-rgba: rgba(195, 142, 199, .7); 
    --plum-rgba: rgba(221, 160, 221, .7); 
    --blush-pink-rgba: rgba(230, 169, 236, .7); 
    --pastel-purple-rgba: rgba(242, 162, 232, .7); 
    --blossom-pink-rgba: rgba(249, 183, 255, .7); 
    --wisteria-purple-rgba: rgba(198, 174, 199, .7); 
    --purple-thistle-rgba: rgba(210, 185, 211, .7); 
    --thistle-rgba: rgba(216, 191, 216, .7); 
    --purple-white-rgba: rgba(223, 211, 227, .7); 
    --periwinkle-pink-rgba: rgba(233, 207, 236, .7); 
    --cotton-candy-rgba: rgba(252, 223, 255, .7); 
    --lavender-pinocchio-rgba: rgba(235, 221, 226, .7); 
    --dark-white-rgba: rgba(225, 217, 209, .7); 
    --ash-white-rgba: rgba(233, 228, 212, .7); 
    --white-chocolate-rgba: rgba(237, 230, 214, .7); 
    --soft-ivory-rgba: rgba(250, 240, 221, .7); 
    --off-white-rgba: rgba(248, 240, 227, .7); 
    --pearl-white-rgba: rgba(248, 246, 240, .7); 
    --red-white-rgba: rgba(243, 232, 234, .7); 
    --lavenderblush-rgba: rgba(255, 240, 245, .7); 
    --pearl-rgba: rgba(253, 238, 244, .7); 
    --egg-shell-rgba: rgba(255, 249, 227, .7); 
    --oldlace-rgba: rgba(254, 240, 227, .7); 
    --linen-rgba: rgba(250, 240, 230, .7); 
    --seashell-rgba: rgba(255, 245, 238, .7); 
    --bone-white-rgba: rgba(249, 246, 238, .7); 
    --rice-rgba: rgba(250, 245, 239, .7); 
    --floralwhite-rgba: rgba(255, 250, 240, .7); 
    --ivory-rgba: rgba(255, 255, 240, .7); 
    --white-gold-rgba: rgba(255, 255, 244, .7); 
    --light-white-rgba: rgba(255, 255, 247, .7); 
    --whitesmoke-rgba: rgba(245, 245, 245, .7); 
    --cotton-rgba: rgba(251, 251, 249, .7); 
    --snow-rgba: rgba(255, 250, 250, .7); 
    --milk-white-rgba: rgba(254, 252, 255, .7); 
    --half-white-rgba: rgba(255, 254, 250, .7); 
    --white-rgba: rgba(255, 255, 255, .7); 
    --marsh-rgba: rgba(32, 55, 48, .7);
}