:root {
    --black-shadow: 1px 1px 2px rgb(0, 0, 0); 
    --night-shadow: 1px 1px 2px rgb(12, 9, 10); 
    --charcoal-shadow: 1px 1px 2px rgb(52, 40, 44); 
    --oil-shadow: 1px 1px 2px rgb(59, 49, 49); 
    --dark-gray-shadow: 1px 1px 2px rgb(58, 59, 60); 
    --light-black-shadow: 1px 1px 2px rgb(69, 69, 69); 
    --black-cat-shadow: 1px 1px 2px rgb(65, 56, 57); 
    --iridium-shadow: 1px 1px 2px rgb(61, 60, 58); 
    --black-eel-shadow: 1px 1px 2px rgb(70, 62, 63); 
    --black-cow-shadow: 1px 1px 2px rgb(76, 70, 70); 
    --gray-wolf-shadow: 1px 1px 2px rgb(80, 74, 75); 
    --vampire-gray-shadow: 1px 1px 2px rgb(86, 80, 81); 
    --iron-gray-shadow: 1px 1px 2px rgb(82, 89, 93); 
    --gray-dolphin-shadow: 1px 1px 2px rgb(92, 88, 88); 
    --carbon-gray-shadow: 1px 1px 2px rgb(98, 93, 93); 
    --ash-gray-shadow: 1px 1px 2px rgb(102, 99, 98); 
    --dimgray-or-dimgrey-shadow: 1px 1px 2px rgb(105, 105, 105); 
    --nardo-gray-shadow: 1px 1px 2px rgb(104, 106, 108); 
    --cloudy-gray-shadow: 1px 1px 2px rgb(109, 105, 104); 
    --smokey-gray-shadow: 1px 1px 2px rgb(114, 110, 109); 
    --alien-gray-shadow: 1px 1px 2px rgb(115, 111, 110); 
    --sonic-silver-shadow: 1px 1px 2px rgb(117, 117, 117); 
    --platinum-gray-shadow: 1px 1px 2px rgb(121, 121, 121); 
    --granite-shadow: 1px 1px 2px rgb(131, 126, 124); 
    --gray-or-grey-shadow: 1px 1px 2px rgb(128, 128, 128); 
    --battleship-gray-shadow: 1px 1px 2px rgb(132, 132, 130); 
    --gunmetal-gray-shadow: 1px 1px 2px rgb(141, 145, 141); 
    --darkgray-or-darkgrey-shadow: 1px 1px 2px rgb(169, 169, 169); 
    --gray-cloud-shadow: 1px 1px 2px rgb(182, 182, 180); 
    --silver-shadow: 1px 1px 2px rgb(192, 192, 192); 
    --pale-silver-shadow: 1px 1px 2px rgb(201, 192, 187); 
    --gray-goose-shadow: 1px 1px 2px rgb(209, 208, 206); 
    --platinum-silver-shadow: 1px 1px 2px rgb(206, 206, 206); 
    --lightgray-or-lightgrey-shadow: 1px 1px 2px rgb(211, 211, 211); 
    --silver-white-shadow: 1px 1px 2px rgb(218, 219, 221); 
    --gainsboro-shadow: 1px 1px 2px rgb(220, 220, 220); 
    --platinum-shadow: 1px 1px 2px rgb(229, 228, 226); 
    --metallic-silver-shadow: 1px 1px 2px rgb(188, 198, 204); 
    --blue-gray-shadow: 1px 1px 2px rgb(152, 175, 199); 
    --roman-silver-shadow: 1px 1px 2px rgb(131, 137, 150); 
    --lightslategray-or-lightslategrey-shadow: 1px 1px 2px rgb(119, 136, 153); 
    --slategray-or-slategrey-shadow: 1px 1px 2px rgb(112, 128, 144); 
    --rat-gray-shadow: 1px 1px 2px rgb(109, 123, 141); 
    --slate-granite-gray-shadow: 1px 1px 2px rgb(101, 115, 131); 
    --jet-gray-shadow: 1px 1px 2px rgb(97, 109, 126); 
    --mist-blue-shadow: 1px 1px 2px rgb(100, 109, 126); 
    --marble-blue-shadow: 1px 1px 2px rgb(86, 109, 126); 
    --slate-blue-grey-shadow: 1px 1px 2px rgb(115, 124, 161); 
    --light-purple-blue-shadow: 1px 1px 2px rgb(114, 143, 206); 
    --azure-blue-shadow: 1px 1px 2px rgb(72, 99, 160); 
    --blue-jay-shadow: 1px 1px 2px rgb(43, 84, 126); 
    --charcoal-blue-shadow: 1px 1px 2px rgb(54, 69, 79); 
    --dark-blue-grey-shadow: 1px 1px 2px rgb(41, 70, 91); 
    --dark-slate-shadow: 1px 1px 2px rgb(43, 56, 86); 
    --deep-sea-blue-shadow: 1px 1px 2px rgb(18, 52, 86); 
    --night-blue-shadow: 1px 1px 2px rgb(21, 27, 84); 
    --midnightblue-shadow: 1px 1px 2px rgb(25, 25, 112); 
    --navy-shadow: 1px 1px 2px rgb(0, 0, 128); 
    --denim-dark-blue-shadow: 1px 1px 2px rgb(21, 27, 141); 
    --darkblue-shadow: 1px 1px 2px rgb(0, 0, 139); 
    --lapis-blue-shadow: 1px 1px 2px rgb(21, 49, 126); 
    --new-midnight-blue-shadow: 1px 1px 2px rgb(0, 0, 160); 
    --earth-blue-shadow: 1px 1px 2px rgb(0, 0, 165); 
    --cobalt-blue-shadow: 1px 1px 2px rgb(0, 32, 194); 
    --mediumblue-shadow: 1px 1px 2px rgb(0, 0, 205); 
    --blueberry-blue-shadow: 1px 1px 2px rgb(0, 65, 194); 
    --canary-blue-shadow: 1px 1px 2px rgb(41, 22, 245); 
    --blue-shadow: 1px 1px 2px rgb(0, 0, 255); 
    --samco-blue-shadow: 1px 1px 2px rgb(0, 2, 255); 
    --bright-blue-shadow: 1px 1px 2px rgb(9, 9, 255); 
    --blue-orchid-shadow: 1px 1px 2px rgb(31, 69, 252); 
    --sapphire-blue-shadow: 1px 1px 2px rgb(37, 84, 199); 
    --blue-eyes-shadow: 1px 1px 2px rgb(21, 105, 199); 
    --bright-navy-blue-shadow: 1px 1px 2px rgb(25, 116, 210); 
    --balloon-blue-shadow: 1px 1px 2px rgb(43, 96, 222); 
    --royalblue-shadow: 1px 1px 2px rgb(65, 105, 225); 
    --ocean-blue-shadow: 1px 1px 2px rgb(43, 101, 236); 
    --blue-ribbon-shadow: 1px 1px 2px rgb(48, 110, 255); 
    --blue-dress-shadow: 1px 1px 2px rgb(21, 125, 236); 
    --neon-blue-shadow: 1px 1px 2px rgb(21, 137, 255); 
    --dodgerblue-shadow: 1px 1px 2px rgb(30, 144, 255); 
    --glacial-blue-ice-shadow: 1px 1px 2px rgb(54, 139, 193); 
    --steelblue-shadow: 1px 1px 2px rgb(70, 130, 180); 
    --silk-blue-shadow: 1px 1px 2px rgb(72, 138, 199); 
    --windows-blue-shadow: 1px 1px 2px rgb(53, 126, 199); 
    --blue-ivy-shadow: 1px 1px 2px rgb(48, 144, 199); 
    --blue-koi-shadow: 1px 1px 2px rgb(101, 158, 199); 
    --columbia-blue-shadow: 1px 1px 2px rgb(135, 175, 199); 
    --baby-blue-shadow: 1px 1px 2px rgb(149, 185, 199); 
    --cornflowerblue-shadow: 1px 1px 2px rgb(100, 149, 237); 
    --sky-blue-dress-shadow: 1px 1px 2px rgb(102, 152, 255); 
    --iceberg-shadow: 1px 1px 2px rgb(86, 165, 236); 
    --butterfly-blue-shadow: 1px 1px 2px rgb(56, 172, 236); 
    --deepskyblue-shadow: 1px 1px 2px rgb(0, 191, 255); 
    --midday-blue-shadow: 1px 1px 2px rgb(59, 185, 255); 
    --crystal-blue-shadow: 1px 1px 2px rgb(92, 179, 255); 
    --denim-blue-shadow: 1px 1px 2px rgb(121, 186, 236); 
    --day-sky-blue-shadow: 1px 1px 2px rgb(130, 202, 255); 
    --lightskyblue-shadow: 1px 1px 2px rgb(135, 206, 250); 
    --skyblue-shadow: 1px 1px 2px rgb(135, 206, 235); 
    --jeans-blue-shadow: 1px 1px 2px rgb(160, 207, 236); 
    --blue-angel-shadow: 1px 1px 2px rgb(183, 206, 236); 
    --pastel-blue-shadow: 1px 1px 2px rgb(180, 207, 236); 
    --light-day-blue-shadow: 1px 1px 2px rgb(173, 223, 255); 
    --sea-blue-shadow: 1px 1px 2px rgb(194, 223, 255); 
    --heavenly-blue-shadow: 1px 1px 2px rgb(198, 222, 255); 
    --robin-egg-blue-shadow: 1px 1px 2px rgb(189, 237, 255); 
    --powderblue-shadow: 1px 1px 2px rgb(176, 224, 230); 
    --coral-blue-shadow: 1px 1px 2px rgb(175, 220, 236); 
    --lightblue-shadow: 1px 1px 2px rgb(173, 216, 230); 
    --lightsteelblue-shadow: 1px 1px 2px rgb(176, 207, 222); 
    --gulf-blue-shadow: 1px 1px 2px rgb(201, 223, 236); 
    --pastel-light-blue-shadow: 1px 1px 2px rgb(213, 214, 234); 
    --lavender-blue-shadow: 1px 1px 2px rgb(227, 228, 250); 
    --white-blue-shadow: 1px 1px 2px rgb(219, 233, 250); 
    --lavender-shadow: 1px 1px 2px rgb(230, 230, 250); 
    --water-shadow: 1px 1px 2px rgb(235, 244, 250); 
    --aliceblue-shadow: 1px 1px 2px rgb(240, 248, 255); 
    --ghostwhite-shadow: 1px 1px 2px rgb(248, 248, 255); 
    --azure-shadow: 1px 1px 2px rgb(240, 255, 255); 
    --lightcyan-shadow: 1px 1px 2px rgb(224, 255, 255); 
    --light-slate-shadow: 1px 1px 2px rgb(204, 255, 255); 
    --electric-blue-shadow: 1px 1px 2px rgb(154, 254, 255); 
    --tron-blue-shadow: 1px 1px 2px rgb(125, 253, 254); 
    --blue-zircon-shadow: 1px 1px 2px rgb(87, 254, 255); 
    --aqua-or-cyan-shadow: 1px 1px 2px rgb(0, 255, 255); 
    --bright-cyan-shadow: 1px 1px 2px rgb(10, 255, 255); 
    --celeste-shadow: 1px 1px 2px rgb(80, 235, 236); 
    --blue-diamond-shadow: 1px 1px 2px rgb(78, 226, 236); 
    --bright-turquoise-shadow: 1px 1px 2px rgb(22, 226, 245); 
    --blue-lagoon-shadow: 1px 1px 2px rgb(142, 235, 236); 
    --paleturquoise-shadow: 1px 1px 2px rgb(175, 238, 238); 
    --pale-blue-lily-shadow: 1px 1px 2px rgb(207, 236, 236); 
    --light-teal-shadow: 1px 1px 2px rgb(179, 217, 217); 
    --tiffany-blue-shadow: 1px 1px 2px rgb(129, 216, 208); 
    --blue-hosta-shadow: 1px 1px 2px rgb(119, 191, 199); 
    --cyan-opaque-shadow: 1px 1px 2px rgb(146, 199, 199); 
    --northern-lights-blue-shadow: 1px 1px 2px rgb(120, 199, 199); 
    --blue-green-shadow: 1px 1px 2px rgb(123, 204, 181); 
    --mediumaquamarine-shadow: 1px 1px 2px rgb(102, 205, 170); 
    --magic-mint-shadow: 1px 1px 2px rgb(170, 240, 209); 
    --light-aquamarine-shadow: 1px 1px 2px rgb(147, 255, 232); 
    --aquamarine-shadow: 1px 1px 2px rgb(127, 255, 212); 
    --bright-teal-shadow: 1px 1px 2px rgb(1, 249, 198); 
    --turquoise-shadow: 1px 1px 2px rgb(64, 224, 208); 
    --mediumturquoise-shadow: 1px 1px 2px rgb(72, 209, 204); 
    --deep-turquoise-shadow: 1px 1px 2px rgb(72, 204, 205); 
    --jellyfish-shadow: 1px 1px 2px rgb(70, 199, 199); 
    --blue-turquoise-shadow: 1px 1px 2px rgb(67, 198, 219); 
    --darkturquoise-shadow: 1px 1px 2px rgb(0, 206, 209); 
    --macaw-blue-green-shadow: 1px 1px 2px rgb(67, 191, 199); 
    --lightseagreen-shadow: 1px 1px 2px rgb(32, 178, 170); 
    --seafoam-green-shadow: 1px 1px 2px rgb(62, 169, 159); 
    --cadetblue-shadow: 1px 1px 2px rgb(95, 158, 160); 
    --deep-sea-shadow: 1px 1px 2px rgb(59, 156, 156); 
    --darkcyan-shadow: 1px 1px 2px rgb(0, 139, 139); 
    --teal-green-shadow: 1px 1px 2px rgb(0, 130, 127); 
    --teal-shadow: 1px 1px 2px rgb(0, 128, 128); 
    --teal-blue-shadow: 1px 1px 2px rgb(0, 124, 128); 
    --medium-teal-shadow: 1px 1px 2px rgb(4, 95, 95); 
    --dark-teal-shadow: 1px 1px 2px rgb(4, 93, 93); 
    --deep-teal-shadow: 1px 1px 2px rgb(3, 62, 62); 
    --darkslategray-or-darkslategrey-shadow: 1px 1px 2px rgb(37, 56, 60); 
    --gunmetal-shadow: 1px 1px 2px rgb(44, 53, 57); 
    --blue-moss-green-shadow: 1px 1px 2px rgb(60, 86, 91); 
    --beetle-green-shadow: 1px 1px 2px rgb(76, 120, 126); 
    --grayish-turquoise-shadow: 1px 1px 2px rgb(94, 125, 126); 
    --greenish-blue-shadow: 1px 1px 2px rgb(48, 125, 126); 
    --aquamarine-stone-shadow: 1px 1px 2px rgb(52, 135, 129); 
    --sea-turtle-green-shadow: 1px 1px 2px rgb(67, 141, 128); 
    --dull-sea-green-shadow: 1px 1px 2px rgb(78, 137, 117); 
    --dark-green-blue-shadow: 1px 1px 2px rgb(31, 99, 87); 
    --deep-sea-green-shadow: 1px 1px 2px rgb(48, 103, 84); 
    --bottle-green-shadow: 1px 1px 2px rgb(0, 106, 78); 
    --seagreen-shadow: 1px 1px 2px rgb(46, 139, 87); 
    --elf-green-shadow: 1px 1px 2px rgb(27, 138, 107); 
    --dark-mint-shadow: 1px 1px 2px rgb(49, 144, 110); 
    --jade-shadow: 1px 1px 2px rgb(0, 163, 108); 
    --earth-green-shadow: 1px 1px 2px rgb(52, 165, 111); 
    --chrome-green-shadow: 1px 1px 2px rgb(26, 162, 96); 
    --emerald-shadow: 1px 1px 2px rgb(80, 200, 120); 
    --mint-shadow: 1px 1px 2px rgb(62, 180, 137); 
    --mediumseagreen-shadow: 1px 1px 2px rgb(60, 179, 113); 
    --metallic-green-shadow: 1px 1px 2px rgb(124, 157, 142); 
    --camouflage-green-shadow: 1px 1px 2px rgb(120, 134, 107); 
    --sage-green-shadow: 1px 1px 2px rgb(132, 139, 121); 
    --hazel-green-shadow: 1px 1px 2px rgb(97, 124, 88); 
    --venom-green-shadow: 1px 1px 2px rgb(114, 140, 0); 
    --olivedrab-shadow: 1px 1px 2px rgb(107, 142, 35); 
    --olive-shadow: 1px 1px 2px rgb(128, 128, 0); 
    --darkolivegreen-shadow: 1px 1px 2px rgb(85, 107, 47); 
    --military-green-shadow: 1px 1px 2px rgb(78, 91, 49); 
    --green-leaves-shadow: 1px 1px 2px rgb(58, 95, 11); 
    --army-green-shadow: 1px 1px 2px rgb(75, 83, 32); 
    --fern-green-shadow: 1px 1px 2px rgb(102, 124, 38); 
    --fall-forest-green-shadow: 1px 1px 2px rgb(78, 146, 88); 
    --irish-green-shadow: 1px 1px 2px rgb(8, 160, 75); 
    --pine-green-shadow: 1px 1px 2px rgb(56, 124, 68); 
    --medium-forest-green-shadow: 1px 1px 2px rgb(52, 114, 53); 
    --jungle-green-shadow: 1px 1px 2px rgb(52, 124, 44); 
    --cactus-green-shadow: 1px 1px 2px rgb(34, 116, 66); 
    --forestgreen-shadow: 1px 1px 2px rgb(34, 139, 34); 
    --green-shadow: 1px 1px 2px rgb(0, 128, 0); 
    --darkgreen-shadow: 1px 1px 2px rgb(0, 100, 0); 
    --deep-green-shadow: 1px 1px 2px rgb(5, 102, 8); 
    --deep-emerald-green-shadow: 1px 1px 2px rgb(4, 99, 7); 
    --hunter-green-shadow: 1px 1px 2px rgb(53, 94, 59); 
    --dark-forest-green-shadow: 1px 1px 2px rgb(37, 65, 23); 
    --lotus-green-shadow: 1px 1px 2px rgb(0, 66, 37); 
    --seaweed-green-shadow: 1px 1px 2px rgb(67, 124, 23); 
    --shamrock-green-shadow: 1px 1px 2px rgb(52, 124, 23); 
    --green-onion-shadow: 1px 1px 2px rgb(106, 161, 33); 
    --moss-green-shadow: 1px 1px 2px rgb(138, 154, 91); 
    --grass-green-shadow: 1px 1px 2px rgb(63, 155, 11); 
    --green-pepper-shadow: 1px 1px 2px rgb(74, 160, 44); 
    --dark-lime-green-shadow: 1px 1px 2px rgb(65, 163, 23); 
    --parrot-green-shadow: 1px 1px 2px rgb(18, 173, 43); 
    --clover-green-shadow: 1px 1px 2px rgb(62, 160, 85); 
    --dinosaur-green-shadow: 1px 1px 2px rgb(115, 161, 108); 
    --green-snake-shadow: 1px 1px 2px rgb(108, 187, 60); 
    --alien-green-shadow: 1px 1px 2px rgb(108, 196, 23); 
    --green-apple-shadow: 1px 1px 2px rgb(76, 196, 23); 
    --limegreen-shadow: 1px 1px 2px rgb(50, 205, 50); 
    --pea-green-shadow: 1px 1px 2px rgb(82, 208, 23); 
    --kelly-green-shadow: 1px 1px 2px rgb(76, 197, 82); 
    --zombie-green-shadow: 1px 1px 2px rgb(84, 197, 113); 
    --green-peas-shadow: 1px 1px 2px rgb(137, 195, 92); 
    --dollar-bill-green-shadow: 1px 1px 2px rgb(133, 187, 101); 
    --frog-green-shadow: 1px 1px 2px rgb(153, 198, 142); 
    --turquoise-green-shadow: 1px 1px 2px rgb(160, 214, 180); 
    --darkseagreen-shadow: 1px 1px 2px rgb(143, 188, 143); 
    --basil-green-shadow: 1px 1px 2px rgb(130, 159, 130); 
    --gray-green-shadow: 1px 1px 2px rgb(162, 173, 156); 
    --iguana-green-shadow: 1px 1px 2px rgb(156, 176, 113); 
    --citron-green-shadow: 1px 1px 2px rgb(143, 179, 29); 
    --acid-green-shadow: 1px 1px 2px rgb(176, 191, 26); 
    --avocado-green-shadow: 1px 1px 2px rgb(178, 194, 72); 
    --pistachio-green-shadow: 1px 1px 2px rgb(157, 194, 9); 
    --salad-green-shadow: 1px 1px 2px rgb(161, 201, 53); 
    --yellowgreen-shadow: 1px 1px 2px rgb(154, 205, 50); 
    --pastel-green-shadow: 1px 1px 2px rgb(119, 221, 119); 
    --hummingbird-green-shadow: 1px 1px 2px rgb(127, 232, 23); 
    --nebula-green-shadow: 1px 1px 2px rgb(89, 232, 23); 
    --stoplight-go-green-shadow: 1px 1px 2px rgb(87, 233, 100); 
    --neon-green-shadow: 1px 1px 2px rgb(22, 245, 41); 
    --jade-green-shadow: 1px 1px 2px rgb(94, 251, 110); 
    --lime-mint-green-shadow: 1px 1px 2px rgb(54, 245, 127); 
    --springgreen-shadow: 1px 1px 2px rgb(0, 255, 127); 
    --mediumspringgreen-shadow: 1px 1px 2px rgb(0, 250, 154); 
    --emerald-green-shadow: 1px 1px 2px rgb(95, 251, 23); 
    --lime-shadow: 1px 1px 2px rgb(0, 255, 0); 
    --lawngreen-shadow: 1px 1px 2px rgb(124, 252, 0); 
    --bright-green-shadow: 1px 1px 2px rgb(102, 255, 0); 
    --chartreuse-shadow: 1px 1px 2px rgb(127, 255, 0); 
    --yellow-lawn-green-shadow: 1px 1px 2px rgb(135, 247, 23); 
    --aloe-vera-green-shadow: 1px 1px 2px rgb(152, 245, 22); 
    --dull-green-yellow-shadow: 1px 1px 2px rgb(177, 251, 23); 
    --lemon-green-shadow: 1px 1px 2px rgb(173, 248, 2); 
    --greenyellow-shadow: 1px 1px 2px rgb(173, 255, 47); 
    --chameleon-green-shadow: 1px 1px 2px rgb(189, 245, 22); 
    --neon-yellow-green-shadow: 1px 1px 2px rgb(218, 238, 1); 
    --yellow-green-grosbeak-shadow: 1px 1px 2px rgb(226, 245, 22); 
    --tea-green-shadow: 1px 1px 2px rgb(204, 251, 93); 
    --slime-green-shadow: 1px 1px 2px rgb(188, 233, 84); 
    --algae-green-shadow: 1px 1px 2px rgb(100, 233, 134); 
    --lightgreen-shadow: 1px 1px 2px rgb(144, 238, 144); 
    --dragon-green-shadow: 1px 1px 2px rgb(106, 251, 146); 
    --palegreen-shadow: 1px 1px 2px rgb(152, 251, 152); 
    --mint-green-shadow: 1px 1px 2px rgb(152, 255, 152); 
    --green-thumb-shadow: 1px 1px 2px rgb(181, 234, 170); 
    --organic-brown-shadow: 1px 1px 2px rgb(227, 249, 166); 
    --light-jade-shadow: 1px 1px 2px rgb(195, 253, 184); 
    --light-mint-green-shadow: 1px 1px 2px rgb(194, 229, 211); 
    --light-rose-green-shadow: 1px 1px 2px rgb(219, 249, 219); 
    --chrome-white-shadow: 1px 1px 2px rgb(232, 241, 212); 
    --honeydew-shadow: 1px 1px 2px rgb(240, 255, 240); 
    --mintcream-shadow: 1px 1px 2px rgb(245, 255, 250); 
    --lemonchiffon-shadow: 1px 1px 2px rgb(255, 250, 205); 
    --parchment-shadow: 1px 1px 2px rgb(255, 255, 194); 
    --cream-shadow: 1px 1px 2px rgb(255, 255, 204); 
    --cream-white-shadow: 1px 1px 2px rgb(255, 253, 208); 
    --lightgoldenrodyellow-shadow: 1px 1px 2px rgb(250, 250, 210); 
    --lightyellow-shadow: 1px 1px 2px rgb(255, 255, 224); 
    --beige-shadow: 1px 1px 2px rgb(245, 245, 220); 
    --cornsilk-shadow: 1px 1px 2px rgb(255, 248, 220); 
    --blonde-shadow: 1px 1px 2px rgb(251, 246, 217); 
    --champagne-shadow: 1px 1px 2px rgb(247, 231, 206); 
    --antiquewhite-shadow: 1px 1px 2px rgb(250, 235, 215); 
    --papayawhip-shadow: 1px 1px 2px rgb(255, 239, 213); 
    --blanchedalmond-shadow: 1px 1px 2px rgb(255, 235, 205); 
    --bisque-shadow: 1px 1px 2px rgb(255, 228, 196); 
    --wheat-shadow: 1px 1px 2px rgb(245, 222, 179); 
    --moccasin-shadow: 1px 1px 2px rgb(255, 228, 181); 
    --peach-shadow: 1px 1px 2px rgb(255, 229, 180); 
    --light-orange-shadow: 1px 1px 2px rgb(254, 216, 177); 
    --peachpuff-shadow: 1px 1px 2px rgb(255, 218, 185); 
    --coral-peach-shadow: 1px 1px 2px rgb(251, 213, 171); 
    --navajowhite-shadow: 1px 1px 2px rgb(255, 222, 173); 
    --golden-blonde-shadow: 1px 1px 2px rgb(251, 231, 161); 
    --golden-silk-shadow: 1px 1px 2px rgb(243, 227, 195); 
    --dark-blonde-shadow: 1px 1px 2px rgb(240, 226, 182); 
    --light-gold-shadow: 1px 1px 2px rgb(241, 229, 172); 
    --vanilla-shadow: 1px 1px 2px rgb(243, 229, 171); 
    --tan-brown-shadow: 1px 1px 2px rgb(236, 229, 182); 
    --dirty-white-shadow: 1px 1px 2px rgb(232, 228, 201); 
    --palegoldenrod-shadow: 1px 1px 2px rgb(238, 232, 170); 
    --khaki-shadow: 1px 1px 2px rgb(240, 230, 140); 
    --cardboard-brown-shadow: 1px 1px 2px rgb(237, 218, 116); 
    --harvest-gold-shadow: 1px 1px 2px rgb(237, 226, 117); 
    --sun-yellow-shadow: 1px 1px 2px rgb(255, 232, 124); 
    --corn-yellow-shadow: 1px 1px 2px rgb(255, 243, 128); 
    --pastel-yellow-shadow: 1px 1px 2px rgb(250, 248, 132); 
    --neon-yellow-shadow: 1px 1px 2px rgb(255, 255, 51); 
    --yellow-shadow: 1px 1px 2px rgb(255, 255, 0); 
    --canary-yellow-shadow: 1px 1px 2px rgb(255, 239, 0); 
    --banana-yellow-shadow: 1px 1px 2px rgb(245, 226, 22); 
    --mustard-yellow-shadow: 1px 1px 2px rgb(255, 219, 88); 
    --golden-yellow-shadow: 1px 1px 2px rgb(255, 223, 0); 
    --bold-yellow-shadow: 1px 1px 2px rgb(249, 219, 36); 
    --rubber-ducky-yellow-shadow: 1px 1px 2px rgb(255, 216, 1); 
    --gold-shadow: 1px 1px 2px rgb(255, 215, 0); 
    --bright-gold-shadow: 1px 1px 2px rgb(253, 208, 23); 
    --chrome-gold-shadow: 1px 1px 2px rgb(255, 206, 68); 
    --golden-brown-shadow: 1px 1px 2px rgb(234, 193, 23); 
    --deep-yellow-shadow: 1px 1px 2px rgb(246, 190, 0); 
    --macaroni-and-cheese-shadow: 1px 1px 2px rgb(242, 187, 102); 
    --saffron-shadow: 1px 1px 2px rgb(251, 185, 23); 
    --neon-gold-shadow: 1px 1px 2px rgb(253, 189, 1); 
    --beer-shadow: 1px 1px 2px rgb(251, 177, 23); 
    --yellow-orange-or-orange-yellow-shadow: 1px 1px 2px rgb(255, 174, 66); 
    --cantaloupe-shadow: 1px 1px 2px rgb(255, 166, 47); 
    --cheese-orange-shadow: 1px 1px 2px rgb(255, 166, 0); 
    --orange-shadow: 1px 1px 2px rgb(255, 165, 0); 
    --brown-sand-shadow: 1px 1px 2px rgb(238, 154, 77); 
    --sandybrown-shadow: 1px 1px 2px rgb(244, 164, 96); 
    --brown-sugar-shadow: 1px 1px 2px rgb(226, 167, 111); 
    --camel-brown-shadow: 1px 1px 2px rgb(193, 154, 107); 
    --deer-brown-shadow: 1px 1px 2px rgb(230, 191, 131); 
    --burlywood-shadow: 1px 1px 2px rgb(222, 184, 135); 
    --tan-shadow: 1px 1px 2px rgb(210, 180, 140); 
    --light-french-beige-shadow: 1px 1px 2px rgb(200, 173, 127); 
    --sand-shadow: 1px 1px 2px rgb(194, 178, 128); 
    --sage-shadow: 1px 1px 2px rgb(188, 184, 138); 
    --fall-leaf-brown-shadow: 1px 1px 2px rgb(200, 181, 96); 
    --ginger-brown-shadow: 1px 1px 2px rgb(201, 190, 98); 
    --bronze-gold-shadow: 1px 1px 2px rgb(201, 174, 93); 
    --darkkhaki-shadow: 1px 1px 2px rgb(189, 183, 107); 
    --olive-green-shadow: 1px 1px 2px rgb(186, 184, 108); 
    --brass-shadow: 1px 1px 2px rgb(181, 166, 66); 
    --cookie-brown-shadow: 1px 1px 2px rgb(199, 163, 23); 
    --metallic-gold-shadow: 1px 1px 2px rgb(212, 175, 55); 
    --bee-yellow-shadow: 1px 1px 2px rgb(233, 171, 23); 
    --school-bus-yellow-shadow: 1px 1px 2px rgb(232, 163, 23); 
    --goldenrod-shadow: 1px 1px 2px rgb(218, 165, 32); 
    --orange-gold-shadow: 1px 1px 2px rgb(212, 160, 23); 
    --caramel-shadow: 1px 1px 2px rgb(198, 142, 23); 
    --darkgoldenrod-shadow: 1px 1px 2px rgb(184, 134, 11); 
    --cinnamon-shadow: 1px 1px 2px rgb(197, 137, 23); 
    --peru-shadow: 1px 1px 2px rgb(205, 133, 63); 
    --bronze-shadow: 1px 1px 2px rgb(205, 127, 50); 
    --tiger-orange-shadow: 1px 1px 2px rgb(200, 129, 65); 
    --copper-shadow: 1px 1px 2px rgb(184, 115, 51); 
    --dark-gold-shadow: 1px 1px 2px rgb(170, 108, 57); 
    --metallic-bronze-shadow: 1px 1px 2px rgb(169, 113, 66); 
    --dark-almond-shadow: 1px 1px 2px rgb(171, 120, 78); 
    --wood-shadow: 1px 1px 2px rgb(150, 111, 51); 
    --oak-brown-shadow: 1px 1px 2px rgb(128, 101, 23); 
    --antique-bronze-shadow: 1px 1px 2px rgb(102, 93, 30); 
    --hazel-shadow: 1px 1px 2px rgb(142, 118, 24); 
    --dark-yellow-shadow: 1px 1px 2px rgb(139, 128, 0); 
    --dark-moccasin-shadow: 1px 1px 2px rgb(130, 120, 57); 
    --khaki-green-shadow: 1px 1px 2px rgb(138, 134, 93); 
    --millennium-jade-shadow: 1px 1px 2px rgb(147, 145, 124); 
    --dark-beige-shadow: 1px 1px 2px rgb(159, 140, 118); 
    --bullet-shell-shadow: 1px 1px 2px rgb(175, 155, 96); 
    --army-brown-shadow: 1px 1px 2px rgb(130, 123, 96); 
    --sandstone-shadow: 1px 1px 2px rgb(120, 109, 95); 
    --taupe-shadow: 1px 1px 2px rgb(72, 60, 50); 
    --mocha-shadow: 1px 1px 2px rgb(73, 61, 38); 
    --milk-chocolate-shadow: 1px 1px 2px rgb(81, 59, 28); 
    --gray-brown-shadow: 1px 1px 2px rgb(61, 54, 53); 
    --dark-coffee-shadow: 1px 1px 2px rgb(59, 47, 47); 
    --old-burgundy-shadow: 1px 1px 2px rgb(67, 48, 46); 
    --western-charcoal-shadow: 1px 1px 2px rgb(73, 65, 63); 
    --bakers-brown-shadow: 1px 1px 2px rgb(92, 51, 23); 
    --dark-brown-shadow: 1px 1px 2px rgb(101, 67, 33); 
    --sepia-brown-shadow: 1px 1px 2px rgb(112, 66, 20); 
    --dark-bronze-shadow: 1px 1px 2px rgb(128, 74, 0); 
    --coffee-shadow: 1px 1px 2px rgb(111, 78, 55); 
    --brown-bear-shadow: 1px 1px 2px rgb(131, 92, 59); 
    --red-dirt-shadow: 1px 1px 2px rgb(127, 82, 23); 
    --sepia-shadow: 1px 1px 2px rgb(127, 70, 44); 
    --sienna-shadow: 1px 1px 2px rgb(160, 82, 45); 
    --saddlebrown-shadow: 1px 1px 2px rgb(139, 69, 19); 
    --dark-sienna-shadow: 1px 1px 2px rgb(138, 65, 23); 
    --sangria-shadow: 1px 1px 2px rgb(126, 56, 23); 
    --blood-red-shadow: 1px 1px 2px rgb(126, 53, 23); 
    --chestnut-shadow: 1px 1px 2px rgb(149, 69, 53); 
    --coral-brown-shadow: 1px 1px 2px rgb(158, 70, 56); 
    --chestnut-red-shadow: 1px 1px 2px rgb(195, 74, 44); 
    --mahogany-shadow: 1px 1px 2px rgb(192, 64, 0); 
    --red-gold-shadow: 1px 1px 2px rgb(235, 84, 6); 
    --red-fox-shadow: 1px 1px 2px rgb(195, 88, 23); 
    --dark-bisque-shadow: 1px 1px 2px rgb(184, 101, 0); 
    --light-brown-shadow: 1px 1px 2px rgb(181, 101, 29); 
    --petra-gold-shadow: 1px 1px 2px rgb(183, 103, 52); 
    --rust-shadow: 1px 1px 2px rgb(195, 98, 65); 
    --copper-red-shadow: 1px 1px 2px rgb(203, 109, 81); 
    --orange-salmon-shadow: 1px 1px 2px rgb(196, 116, 81); 
    --chocolate-shadow: 1px 1px 2px rgb(210, 105, 30); 
    --sedona-shadow: 1px 1px 2px rgb(204, 102, 0); 
    --papaya-orange-shadow: 1px 1px 2px rgb(229, 103, 23); 
    --halloween-orange-shadow: 1px 1px 2px rgb(230, 108, 44); 
    --neon-orange-shadow: 1px 1px 2px rgb(255, 103, 0); 
    --bright-orange-shadow: 1px 1px 2px rgb(255, 95, 31); 
    --pumpkin-orange-shadow: 1px 1px 2px rgb(248, 114, 23); 
    --carrot-orange-shadow: 1px 1px 2px rgb(248, 128, 23); 
    --darkorange-shadow: 1px 1px 2px rgb(255, 140, 0); 
    --construction-cone-orange-shadow: 1px 1px 2px rgb(248, 116, 49); 
    --indian-saffron-shadow: 1px 1px 2px rgb(255, 119, 34); 
    --sunrise-orange-shadow: 1px 1px 2px rgb(230, 116, 81); 
    --mango-orange-shadow: 1px 1px 2px rgb(255, 128, 64); 
    --coral-shadow: 1px 1px 2px rgb(255, 127, 80); 
    --basket-ball-orange-shadow: 1px 1px 2px rgb(248, 129, 88); 
    --light-salmon-rose-shadow: 1px 1px 2px rgb(249, 150, 107); 
    --lightsalmon-shadow: 1px 1px 2px rgb(255, 160, 122); 
    --darksalmon-shadow: 1px 1px 2px rgb(233, 150, 122); 
    --tangerine-shadow: 1px 1px 2px rgb(231, 138, 97); 
    --light-copper-shadow: 1px 1px 2px rgb(218, 138, 103); 
    --salmon-pink-shadow: 1px 1px 2px rgb(255, 134, 116); 
    --salmon-shadow: 1px 1px 2px rgb(250, 128, 114); 
    --peach-pink-shadow: 1px 1px 2px rgb(249, 139, 136); 
    --lightcoral-shadow: 1px 1px 2px rgb(240, 128, 128); 
    --pastel-red-shadow: 1px 1px 2px rgb(246, 114, 128); 
    --pink-coral-shadow: 1px 1px 2px rgb(231, 116, 113); 
    --bean-red-shadow: 1px 1px 2px rgb(247, 93, 89); 
    --valentine-red-shadow: 1px 1px 2px rgb(229, 84, 81); 
    --indianred-shadow: 1px 1px 2px rgb(205, 92, 92); 
    --tomato-shadow: 1px 1px 2px rgb(255, 99, 71); 
    --shocking-orange-shadow: 1px 1px 2px rgb(229, 91, 60); 
    --orangered-shadow: 1px 1px 2px rgb(255, 69, 0); 
    --red-shadow: 1px 1px 2px rgb(255, 0, 0); 
    --neon-red-shadow: 1px 1px 2px rgb(253, 28, 3); 
    --scarlet-red-shadow: 1px 1px 2px rgb(255, 36, 0); 
    --ruby-red-shadow: 1px 1px 2px rgb(246, 34, 23); 
    --ferrari-red-shadow: 1px 1px 2px rgb(247, 13, 26); 
    --fire-engine-red-shadow: 1px 1px 2px rgb(246, 40, 23); 
    --lava-red-shadow: 1px 1px 2px rgb(228, 34, 23); 
    --love-red-shadow: 1px 1px 2px rgb(228, 27, 23); 
    --grapefruit-shadow: 1px 1px 2px rgb(220, 56, 31); 
    --cherry-red-shadow: 1px 1px 2px rgb(194, 70, 65); 
    --chilli-pepper-shadow: 1px 1px 2px rgb(193, 27, 23); 
    --firebrick-shadow: 1px 1px 2px rgb(178, 34, 34); 
    --tomato-sauce-red-shadow: 1px 1px 2px rgb(178, 24, 7); 
    --brown-shadow: 1px 1px 2px rgb(165, 42, 42); 
    --carbon-red-shadow: 1px 1px 2px rgb(167, 13, 42); 
    --cranberry-shadow: 1px 1px 2px rgb(159, 0, 15); 
    --saffron-red-shadow: 1px 1px 2px rgb(147, 19, 20); 
    --crimson-red-shadow: 1px 1px 2px rgb(153, 0, 0); 
    --red-wine-or-wine-red-shadow: 1px 1px 2px rgb(153, 0, 18); 
    --darkred-shadow: 1px 1px 2px rgb(139, 0, 0); 
    --maroon-shadow: 1px 1px 2px rgb(128, 0, 0); 
    --burgundy-shadow: 1px 1px 2px rgb(140, 0, 26); 
    --vermilion-shadow: 1px 1px 2px rgb(126, 25, 27); 
    --deep-red-shadow: 1px 1px 2px rgb(128, 5, 23); 
    --red-blood-shadow: 1px 1px 2px rgb(102, 0, 0); 
    --blood-night-shadow: 1px 1px 2px rgb(85, 22, 6); 
    --dark-scarlet-shadow: 1px 1px 2px rgb(86, 3, 25); 
    --black-bean-shadow: 1px 1px 2px rgb(61, 12, 2); 
    --chocolate-brown-shadow: 1px 1px 2px rgb(63, 0, 15); 
    --midnight-shadow: 1px 1px 2px rgb(43, 27, 23); 
    --purple-lily-shadow: 1px 1px 2px rgb(85, 10, 53); 
    --purple-maroon-shadow: 1px 1px 2px rgb(129, 5, 65); 
    --plum-pie-shadow: 1px 1px 2px rgb(125, 5, 65); 
    --plum-velvet-shadow: 1px 1px 2px rgb(125, 5, 82); 
    --dark-raspberry-shadow: 1px 1px 2px rgb(135, 38, 87); 
    --velvet-maroon-shadow: 1px 1px 2px rgb(126, 53, 77); 
    --rosy-finch-shadow: 1px 1px 2px rgb(127, 78, 82); 
    --dull-purple-shadow: 1px 1px 2px rgb(127, 82, 93); 
    --puce-shadow: 1px 1px 2px rgb(127, 90, 88); 
    --rose-dust-shadow: 1px 1px 2px rgb(153, 112, 112); 
    --pastel-brown-shadow: 1px 1px 2px rgb(177, 144, 127); 
    --rosy-pink-shadow: 1px 1px 2px rgb(179, 132, 129); 
    --rosybrown-shadow: 1px 1px 2px rgb(188, 143, 143); 
    --khaki-rose-shadow: 1px 1px 2px rgb(197, 144, 142); 
    --lipstick-pink-shadow: 1px 1px 2px rgb(196, 135, 147); 
    --pink-brown-shadow: 1px 1px 2px rgb(196, 129, 137); 
    --old-rose-shadow: 1px 1px 2px rgb(192, 128, 129); 
    --dusty-pink-shadow: 1px 1px 2px rgb(213, 138, 148); 
    --pink-daisy-shadow: 1px 1px 2px rgb(231, 153, 163); 
    --rose-shadow: 1px 1px 2px rgb(232, 173, 170); 
    --dusty-rose-shadow: 1px 1px 2px rgb(201, 169, 166); 
    --silver-pink-shadow: 1px 1px 2px rgb(196, 174, 173); 
    --gold-pink-shadow: 1px 1px 2px rgb(230, 199, 194); 
    --rose-gold-shadow: 1px 1px 2px rgb(236, 197, 192); 
    --deep-peach-shadow: 1px 1px 2px rgb(255, 203, 164); 
    --pastel-orange-shadow: 1px 1px 2px rgb(248, 184, 139); 
    --desert-sand-shadow: 1px 1px 2px rgb(237, 201, 175); 
    --unbleached-silk-shadow: 1px 1px 2px rgb(255, 221, 202); 
    --pig-pink-shadow: 1px 1px 2px rgb(253, 215, 228); 
    --pale-pink-shadow: 1px 1px 2px rgb(242, 212, 215); 
    --blush-shadow: 1px 1px 2px rgb(255, 230, 232); 
    --mistyrose-shadow: 1px 1px 2px rgb(255, 228, 225); 
    --pink-bubble-gum-shadow: 1px 1px 2px rgb(255, 223, 221); 
    --light-rose-shadow: 1px 1px 2px rgb(251, 207, 205); 
    --light-red-shadow: 1px 1px 2px rgb(255, 204, 203); 
    --warm-pink-shadow: 1px 1px 2px rgb(246, 198, 189); 
    --deep-rose-shadow: 1px 1px 2px rgb(251, 187, 185); 
    --pink-shadow: 1px 1px 2px rgb(255, 192, 203); 
    --lightpink-shadow: 1px 1px 2px rgb(255, 182, 193); 
    --soft-pink-shadow: 1px 1px 2px rgb(255, 184, 191); 
    --donut-pink-shadow: 1px 1px 2px rgb(250, 175, 190); 
    --baby-pink-shadow: 1px 1px 2px rgb(250, 175, 186); 
    --flamingo-pink-shadow: 1px 1px 2px rgb(249, 167, 176); 
    --pastel-pink-shadow: 1px 1px 2px rgb(254, 163, 170); 
    --rose-pink-or-pink-rose-shadow: 1px 1px 2px rgb(231, 161, 176); 
    --cadillac-pink-shadow: 1px 1px 2px rgb(227, 138, 174); 
    --carnation-pink-shadow: 1px 1px 2px rgb(247, 120, 161); 
    --pastel-rose-shadow: 1px 1px 2px rgb(229, 120, 143); 
    --blush-red-shadow: 1px 1px 2px rgb(229, 110, 148); 
    --palevioletred-shadow: 1px 1px 2px rgb(219, 112, 147); 
    --purple-pink-shadow: 1px 1px 2px rgb(209, 101, 135); 
    --tulip-pink-shadow: 1px 1px 2px rgb(194, 90, 124); 
    --bashful-pink-shadow: 1px 1px 2px rgb(194, 82, 131); 
    --dark-pink-shadow: 1px 1px 2px rgb(231, 84, 128); 
    --dark-hot-pink-shadow: 1px 1px 2px rgb(246, 96, 171); 
    --hotpink-shadow: 1px 1px 2px rgb(255, 105, 180); 
    --watermelon-pink-shadow: 1px 1px 2px rgb(252, 108, 133); 
    --violet-red-shadow: 1px 1px 2px rgb(246, 53, 138); 
    --hot-deep-pink-shadow: 1px 1px 2px rgb(245, 40, 135); 
    --bright-pink-shadow: 1px 1px 2px rgb(255, 0, 127); 
    --deeppink-shadow: 1px 1px 2px rgb(255, 20, 147); 
    --neon-pink-shadow: 1px 1px 2px rgb(245, 53, 170); 
    --chrome-pink-shadow: 1px 1px 2px rgb(255, 51, 170); 
    --neon-hot-pink-shadow: 1px 1px 2px rgb(253, 52, 156); 
    --pink-cupcake-shadow: 1px 1px 2px rgb(228, 94, 157); 
    --royal-pink-shadow: 1px 1px 2px rgb(231, 89, 172); 
    --dimorphotheca-magenta-shadow: 1px 1px 2px rgb(227, 49, 157); 
    --pink-lemonade-shadow: 1px 1px 2px rgb(228, 40, 124); 
    --red-pink-shadow: 1px 1px 2px rgb(250, 42, 85); 
    --raspberry-shadow: 1px 1px 2px rgb(227, 11, 93); 
    --crimson-shadow: 1px 1px 2px rgb(220, 20, 60); 
    --bright-maroon-shadow: 1px 1px 2px rgb(195, 33, 72); 
    --rose-red-shadow: 1px 1px 2px rgb(194, 30, 86); 
    --rogue-pink-shadow: 1px 1px 2px rgb(193, 40, 105); 
    --burnt-pink-shadow: 1px 1px 2px rgb(193, 34, 103); 
    --pink-violet-shadow: 1px 1px 2px rgb(202, 34, 107); 
    --magenta-pink-shadow: 1px 1px 2px rgb(204, 51, 139); 
    --mediumvioletred-shadow: 1px 1px 2px rgb(199, 21, 133); 
    --dark-carnation-pink-shadow: 1px 1px 2px rgb(193, 34, 131); 
    --raspberry-purple-shadow: 1px 1px 2px rgb(179, 68, 108); 
    --pink-plum-shadow: 1px 1px 2px rgb(185, 59, 143); 
    --orchid-shadow: 1px 1px 2px rgb(218, 112, 214); 
    --deep-mauve-shadow: 1px 1px 2px rgb(223, 115, 212); 
    --violet-shadow: 1px 1px 2px rgb(238, 130, 238); 
    --fuchsia-pink-shadow: 1px 1px 2px rgb(255, 119, 255); 
    --bright-neon-pink-shadow: 1px 1px 2px rgb(244, 51, 255); 
    --fuchsia-or-magenta-shadow: 1px 1px 2px rgb(255, 0, 255); 
    --crimson-purple-shadow: 1px 1px 2px rgb(226, 56, 236); 
    --heliotrope-purple-shadow: 1px 1px 2px rgb(212, 98, 255); 
    --tyrian-purple-shadow: 1px 1px 2px rgb(196, 90, 236); 
    --mediumorchid-shadow: 1px 1px 2px rgb(186, 85, 211); 
    --purple-flower-shadow: 1px 1px 2px rgb(167, 74, 199); 
    --orchid-purple-shadow: 1px 1px 2px rgb(176, 72, 181); 
    --rich-lilac-shadow: 1px 1px 2px rgb(182, 102, 210); 
    --pastel-violet-shadow: 1px 1px 2px rgb(210, 145, 188); 
    --mauve-taupe-shadow: 1px 1px 2px rgb(145, 95, 109); 
    --viola-purple-shadow: 1px 1px 2px rgb(126, 88, 126); 
    --eggplant-shadow: 1px 1px 2px rgb(97, 64, 81); 
    --plum-purple-shadow: 1px 1px 2px rgb(88, 55, 89); 
    --grape-shadow: 1px 1px 2px rgb(94, 90, 128); 
    --purple-navy-shadow: 1px 1px 2px rgb(78, 81, 128); 
    --slateblue-shadow: 1px 1px 2px rgb(106, 90, 205); 
    --blue-lotus-shadow: 1px 1px 2px rgb(105, 96, 236); 
    --blurple-shadow: 1px 1px 2px rgb(88, 101, 242); 
    --light-slate-blue-shadow: 1px 1px 2px rgb(115, 106, 255); 
    --mediumslateblue-shadow: 1px 1px 2px rgb(123, 104, 238); 
    --periwinkle-purple-shadow: 1px 1px 2px rgb(117, 117, 207); 
    --very-peri-shadow: 1px 1px 2px rgb(102, 103, 171); 
    --bright-grape-shadow: 1px 1px 2px rgb(111, 45, 168); 
    --purple-amethyst-shadow: 1px 1px 2px rgb(108, 45, 199); 
    --bright-purple-shadow: 1px 1px 2px rgb(106, 13, 173); 
    --deep-periwinkle-shadow: 1px 1px 2px rgb(84, 83, 166); 
    --darkslateblue-shadow: 1px 1px 2px rgb(72, 61, 139); 
    --purple-haze-shadow: 1px 1px 2px rgb(78, 56, 126); 
    --purple-iris-shadow: 1px 1px 2px rgb(87, 27, 126); 
    --dark-purple-shadow: 1px 1px 2px rgb(75, 1, 80); 
    --deep-purple-shadow: 1px 1px 2px rgb(54, 1, 63); 
    --midnight-purple-shadow: 1px 1px 2px rgb(46, 26, 71); 
    --purple-monster-shadow: 1px 1px 2px rgb(70, 27, 126); 
    --indigo-shadow: 1px 1px 2px rgb(75, 0, 130); 
    --blue-whale-shadow: 1px 1px 2px rgb(52, 45, 126); 
    --rebeccapurple-shadow: 1px 1px 2px rgb(102, 51, 153); 
    --purple-jam-shadow: 1px 1px 2px rgb(106, 40, 126); 
    --darkmagenta-shadow: 1px 1px 2px rgb(139, 0, 139); 
    --purple-shadow: 1px 1px 2px rgb(128, 0, 128); 
    --french-lilac-shadow: 1px 1px 2px rgb(134, 96, 142); 
    --darkorchid-shadow: 1px 1px 2px rgb(153, 50, 204); 
    --darkviolet-shadow: 1px 1px 2px rgb(148, 0, 211); 
    --purple-violet-shadow: 1px 1px 2px rgb(141, 56, 201); 
    --jasmine-purple-shadow: 1px 1px 2px rgb(162, 59, 236); 
    --purple-daffodil-shadow: 1px 1px 2px rgb(176, 65, 255); 
    --clematis-violet-shadow: 1px 1px 2px rgb(132, 45, 206); 
    --blueviolet-shadow: 1px 1px 2px rgb(138, 43, 226); 
    --purple-sage-bush-shadow: 1px 1px 2px rgb(122, 93, 199); 
    --lovely-purple-shadow: 1px 1px 2px rgb(127, 56, 236); 
    --neon-purple-shadow: 1px 1px 2px rgb(157, 0, 255); 
    --purple-plum-shadow: 1px 1px 2px rgb(142, 53, 239); 
    --aztech-purple-shadow: 1px 1px 2px rgb(137, 59, 255); 
    --mediumpurple-shadow: 1px 1px 2px rgb(147, 112, 219); 
    --light-purple-shadow: 1px 1px 2px rgb(132, 103, 215); 
    --crocus-purple-shadow: 1px 1px 2px rgb(145, 114, 236); 
    --purple-mimosa-shadow: 1px 1px 2px rgb(158, 123, 255); 
    --periwinkle-shadow: 1px 1px 2px rgb(204, 204, 255); 
    --pale-lilac-shadow: 1px 1px 2px rgb(220, 208, 255); 
    --lavender-purple-shadow: 1px 1px 2px rgb(150, 123, 182); 
    --rose-purple-shadow: 1px 1px 2px rgb(176, 159, 202); 
    --lilac-shadow: 1px 1px 2px rgb(200, 162, 200); 
    --mauve-shadow: 1px 1px 2px rgb(224, 176, 255); 
    --bright-lilac-shadow: 1px 1px 2px rgb(216, 145, 239); 
    --purple-dragon-shadow: 1px 1px 2px rgb(195, 142, 199); 
    --plum-shadow: 1px 1px 2px rgb(221, 160, 221); 
    --blush-pink-shadow: 1px 1px 2px rgb(230, 169, 236); 
    --pastel-purple-shadow: 1px 1px 2px rgb(242, 162, 232); 
    --blossom-pink-shadow: 1px 1px 2px rgb(249, 183, 255); 
    --wisteria-purple-shadow: 1px 1px 2px rgb(198, 174, 199); 
    --purple-thistle-shadow: 1px 1px 2px rgb(210, 185, 211); 
    --thistle-shadow: 1px 1px 2px rgb(216, 191, 216); 
    --purple-white-shadow: 1px 1px 2px rgb(223, 211, 227); 
    --periwinkle-pink-shadow: 1px 1px 2px rgb(233, 207, 236); 
    --cotton-candy-shadow: 1px 1px 2px rgb(252, 223, 255); 
    --lavender-pinocchio-shadow: 1px 1px 2px rgb(235, 221, 226); 
    --dark-white-shadow: 1px 1px 2px rgb(225, 217, 209); 
    --ash-white-shadow: 1px 1px 2px rgb(233, 228, 212); 
    --white-chocolate-shadow: 1px 1px 2px rgb(237, 230, 214); 
    --soft-ivory-shadow: 1px 1px 2px rgb(250, 240, 221); 
    --off-white-shadow: 1px 1px 2px rgb(248, 240, 227); 
    --pearl-white-shadow: 1px 1px 2px rgb(248, 246, 240); 
    --red-white-shadow: 1px 1px 2px rgb(243, 232, 234); 
    --lavenderblush-shadow: 1px 1px 2px rgb(255, 240, 245); 
    --pearl-shadow: 1px 1px 2px rgb(253, 238, 244); 
    --egg-shell-shadow: 1px 1px 2px rgb(255, 249, 227); 
    --oldlace-shadow: 1px 1px 2px rgb(254, 240, 227); 
    --linen-shadow: 1px 1px 2px rgb(250, 240, 230); 
    --seashell-shadow: 1px 1px 2px rgb(255, 245, 238); 
    --bone-white-shadow: 1px 1px 2px rgb(249, 246, 238); 
    --rice-shadow: 1px 1px 2px rgb(250, 245, 239); 
    --floralwhite-shadow: 1px 1px 2px rgb(255, 250, 240); 
    --ivory-shadow: 1px 1px 2px rgb(255, 255, 240); 
    --white-gold-shadow: 1px 1px 2px rgb(255, 255, 244); 
    --light-white-shadow: 1px 1px 2px rgb(255, 255, 247); 
    --whitesmoke-shadow: 1px 1px 2px rgb(245, 245, 245); 
    --cotton-shadow: 1px 1px 2px rgb(251, 251, 249); 
    --snow-shadow: 1px 1px 2px rgb(255, 250, 250); 
    --milk-white-shadow: 1px 1px 2px rgb(254, 252, 255); 
    --half-white-shadow: 1px 1px 2px rgb(255, 254, 250); 
    --white-shadow: 1px 1px 2px rgb(255, 255, 255); 
    --marsh-shadow: 1px 1px 2px rgb(32, 55, 48);
}