@import url(preloader.css);
@import url(rgb.css);
@import url(rgb_deep.css);
@import url(rgba.css);
@import url(shadows.css);

/* ————————————————————————————————————————————————— DEFAULT SETTINGS ————————————————————————————————————————————————— */

@font-face {
    font-family: 'Unbounded';
    src: url(../fonts/Jura-VariableFont_wght.ttf);
}

html::-webkit-scrollbar {
    width: 0%;
}

body {
    background-color: var(--rose-rgb);
    font-family: 'Unbounded';
}

video {
    position: fixed;
    width: 110vw;
    z-index: -1;
}

.arrow {
    position: absolute;
    background-color: var(--slate-blue-grey-rgba);
    text-shadow: var(--black-shadow);
    padding: 10px 50px;
    border-radius: 8px;
    width: 150px;
    transition: .3s;
    text-align: center;
}

.arrow:hover {
    box-shadow: 2px 2px 5px var(--light-purple-blue-rgb);
    background-color: var(--slate-blue-grey-rgb);
    transform: scale(1.05);
}

.arrow button {
    border: none;
    background-color: transparent;
    color: var(--white-rgb);
}

.arrow-welcome {
    left: 45.5vw;
    top: 92vh;
}

.arrow:active {
    transform: scale(1);
}

.arrow-songs {
    left: 45.5vw;
    top: 192vh;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    content: url(../images/trash-can-solid.svg);
    background-color: var(--slate-blue-grey-rgb);
    padding: 5px;
    border-radius: 3px;
}

/* ————————————————————————————————————————————————— BLOCK HEADER ————————————————————————————————————————————————— */

#github_link {
    text-decoration: none;
    color: var(--white-rgb);
    text-shadow: var(--black-shadow);
    margin-right: 10%;
    transition: .3s;
}

#github_link:hover {
    background-color: var(--rose-rgb);
    padding: 8px 20px;
    border-radius: 8px;
}

.navbar {
    border-radius: 10px;
    transition: .3s;
    animation: opacity 4s;
}

.navbar {
    margin-top: 20px;
}

.navbar-brand {
    padding: 0;
    margin-left: 10%;
}

@keyframes opacity {

    0%,
    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ————————————————————————————————————————————————— BLOCK WELCOME ————————————————————————————————————————————————— */


.text_welcome,
.text_welcome_description {
    white-space: pre-wrap;
    color: var(--white-rgb);
    text-shadow: var(--black-shadow);
    transition: 0.3s;
    overflow: hidden;
}

hr {
    color: var(--white-rgb);
    opacity: 1;
    animation: opacity 4s;
}

.span_text_welcome {
    position: relative;
    transition: .3s;
    display: inline-block;
    animation: title 3s;
}

.span_text_welcome_description {
    position: relative;
    transition: .3s;
    display: inline-block;
    animation: span 3s;
}

@keyframes title {

    0%,
    60% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes span {

    0%,
    60% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

/* ———————————————————————————————————— BLOCK SEARCH ———————————————————————————————————— */

.search-songs {
    height: 70vh;
    border: 2px solid var(--light-purple-blue-rgb);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--light-purple-blue-rgba);
    background-color: var(--slate-blue-grey-rgba);
    padding: 30px;
    text-shadow: var(--black-shadow);
}

input {
    width: 60%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: var(--seashell-rgb);
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    color: var(--slate-blue-grey-rgb);
    border: none;
}

.search-button {
    width: 23%;
    background-color: var(--seashell-rgb);
    color: var(--slate-blue-grey-rgb);
    text-shadow: none;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    transition: .3s;
}

.search-button:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px var(--pink-rgb);
}

.search-button:active {
    transform: scale(1);
}

.search p {
    width: 23%;
    color: var(--slate-blue-grey-rgb);
    text-shadow: none;
    background-color: var(--seashell-rgb);
    padding: 10px 0;
    margin-right: 2%;
    text-align: center;
    border-radius: 8px;
}

li::before {
    background-color: var(--pink-rgb);
}

.title-list {
    color: var(--slate-blue-grey-rgb);
    text-shadow: none;
    padding: 5px 15px;
    background-color: var(--seashell-rgb);
    border-radius: 5px;
    text-align: center;
}

.col-4 ul li {
    list-style-type: decimal;
    list-style-position: inside;
}

.col-4 ul, .amount_of_artists    {
    padding: 15px;
    background-color: var(--seashell-rgb);
    color: var(--slate-blue-grey-rgb);
    text-shadow: none;
    border-radius: 8px;
    transition: .3s;
}

.col-4 ul:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 10px var(--pink-rgb);
}

.search_artists_title {
    margin-top: 35vh;
    background-color: var(--seashell-rgb);
    color: var(--slate-blue-grey-rgb);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.artist_card {
    background-color: var(--seashell-rgb);
    color: var(--slate-blue-grey-rgb);
    padding: 20px;
    border-radius: 10px;
    transition: .3s;
}

.artist_card:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 10px var(--pink-rgb);
}

.find-button {
    background-color: var(--slate-blue-grey-rgb);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: var(--seashell-rgb);
    transition: .3s;
}

.find-button:hover {
    background-color: var(--slate-blue-grey-rgb-deep);
}

.artists_cards:last-child {
    margin-bottom: 15vh;
}