{% extends 'index.html' %}

{% block search_artists %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3 class="search_artists_title">Найденные результаты по запросу "{{ request_search }}":</h3>
        </div>
        {% for artist, bio in data.items() %}
        <div class="col-8 my-3 artist_card">
            <p>{{ artist }}</p>
            <p>{{ bio }}</p>
            <div class="d-flex justify-content-end">
                <button class="find-button" type="submit">Перейти</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}