{% extends 'index.html' %}

{% block search_artists %}
<div class="container">
    <div class="row justify-content-center artists_cards">
        <div class="col-8">
            <h3 class="search_artists_title">Найденные результаты по запросу "{{ request_search }}":</h3>
        </div>
        {% for artist, bio in data.items() %}
        <div class="col-8 my-3 artist_card">
            <p>{{ artist }}</p>
            <p>{{ bio }}</p>
            <div class="d-flex justify-content-end">
                <form action="/songs" method="post">
                    <input name="artist" class="d-none" type="text" value="{{ artist }}">
                    <button class="find-button" type="submit">Перейти</button>
                </form>
            </div>
        </div>
        {% endfor %}
        <div class="col-8 p-0 mt-3">
            <span class="amount_of_artists">Найдено исполнителей: {{ data|length }}</span>
        </div>
    </div>
</div>
{% endblock %}